documents/make-scenarios/27 Oct 2025/AI Cancellation Feedback Summary.json
{"flow":[{"id":1,"mapper":{},"module":"google-sheets:watchRows","version":2,"metadata":{"restore":{"parameters":{"from":{"label":"My Drive"},"mode":{"label":"Search by path"},"sheetId":{"label":"Form Responses 1"},"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"Krﾄ」 Google Connection"},"spreadsheetId":{"path":["Krav Cancellation Survey Results"]},"includesHeaders":{"label":"Yes"},"valueRenderOption":{"mode":"chose","label":"Formatted value"},"dateTimeRenderOption":{"mode":"chose","label":"Formatted string"}}},"designer":{"x":0,"y":0},"interface":[{"name":"__ROW_NUMBER__","type":"number","label":"Row number"},{"name":"__SPREADSHEET_ID__","type":"text","label":"Spreadsheet ID"},{"name":"__SHEET__","type":"text","label":"Sheet"},{"name":"0","type":"text","label":"Timestamp (A)"},{"name":"1","type":"text","label":"Email Address (B)"},{"name":"2","type":"text","label":"Why did you cancel your Krﾄ」 subscription? (C)"},{"name":"3","type":"text","label":"What could we have done better? (D)"},{"name":"4","type":"text","label":"Would you consider coming back in the future? (E)"},{"name":"5","type":"text","label":"How likely are you to recommend Krﾄ」 to another skydiver? (F)"},{"name":"6","type":"text","label":"Anything else you would like us to know? (G)"},{"name":"7","type":"text","label":"(H)"},{"name":"8","type":"text","label":"(I)"},{"name":"9","type":"text","label":"(J)"},{"name":"10","type":"text","label":"(K)"},{"name":"11","type":"text","label":"(L)"},{"name":"12","type":"text","label":"(M)"},{"name":"13","type":"text","label":"(N)"},{"name":"14","type":"text","label":"(O)"},{"name":"15","type":"text","label":"(P)"},{"name":"16","type":"text","label":"(Q)"},{"name":"17","type":"text","label":"(R)"},{"name":"18","type":"text","label":"(S)"},{"name":"19","type":"text","label":"(T)"},{"name":"20","type":"text","label":"(U)"},{"name":"21","type":"text","label":"(V)"},{"name":"22","type":"text","label":"(W)"},{"name":"23","type":"text","label":"(X)"},{"name":"24","type":"text","label":"(Y)"},{"name":"25","type":"text","label":"(Z)"}],"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true},{"name":"mode","type":"select","label":"Search Method","required":true,"validate":{"enum":["select","fromAll","map"]}},{"name":"includesHeaders","type":"select","label":"Table contains headers","required":true,"validate":{"enum":[true,false]}},{"name":"limit","type":"uinteger","label":"Limit","required":true},{"name":"valueRenderOption","type":"select","label":"Value render option","validate":{"enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"]}},{"name":"dateTimeRenderOption","type":"select","label":"Date and time render option","validate":{"enum":["SERIAL_NUMBER","FORMATTED_STRING"]}},{"name":"from","type":"select","label":"Drive","required":true,"validate":{"enum":["drive","share","team"]}},{"name":"spreadsheetId","type":"file","label":"Spreadsheet ID","required":true},{"name":"sheetId","type":"select","label":"Sheet Name","required":true},{"name":"tableFirstRow","type":"text","label":"Row with headers","required":true}]},"parameters":{"from":"drive","mode":"select","limit":2,"sheetId":"Form Responses 1","__IMTCONN__":4401759,"spreadsheetId":"/1ywmUAXj1fUtIxlU9EjiGXUfIyw-X-ci_qrdz9X3KtZM","tableFirstRow":"A1:Z1","includesHeaders":true,"valueRenderOption":"FORMATTED_VALUE","dateTimeRenderOption":"FORMATTED_STRING"}},{"id":2,"mapper":{"input":"{{1.`2`}}{{1.`3`}}{{1.`4`}}{{1.`5`}}{{1.`6`}}"},"module":"ai-tools:Summarize","version":1,"metadata":{"expect":[{"name":"input","type":"text","label":"Text to summarize","required":true}],"restore":{},"designer":{"x":300,"y":0}},"parameters":{}},{"id":3,"mapper":{"cc":[],"to":["chris@kravtofly.com"],"bcc":[],"from":"","html":"{{1.`1`}}\n\n{{2.summary}}","subject":"Cancellation Feedback Summary","attachments":[]},"module":"google-email:ActionSendEmail","version":2,"metadata":{"expect":[{"name":"from","type":"text","label":"From"},{"name":"to","spec":{"name":"value","type":"email","label":"Email address","required":true},"type":"array","label":"To","required":true},{"name":"subject","type":"text","label":"Subject"},{"name":"html","type":"text","label":"Content"},{"name":"attachments","spec":[{"name":"fileName","type":"filename","label":"File name","required":true,"semantic":"file:name"},{"name":"data","type":"buffer","label":"Data","required":true,"semantic":"file:data"},{"name":"cid","type":"text","label":"Content-ID"}],"type":"array","label":"Attachments"},{"name":"cc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Copy recipient"},{"name":"bcc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Blind copy recipient"}],"restore":{"expect":{"cc":{"mode":"chose"},"to":{"mode":"chose","items":[null]},"bcc":{"mode":"chose"},"attachments":{"mode":"chose"}},"parameters":{"account":{"data":{"scoped":"true","connection":"google-restricted"},"label":"Krﾄ」 Gmail Connection (chris@kravtofly.com)"}}},"designer":{"x":600,"y":0},"parameters":[{"name":"account","type":"account:google-restricted","label":"Connection","required":true}]},"parameters":{"account":4397255}}],"name":"AI Cancellation Feedback Summary","metadata":{"instant":false,"version":1,"designer":{"orphans":[]},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}