documents/make-scenarios/27 Oct 2025/CRF Memberstack Webflow Integration.json
{"flow":[{"id":28,"mapper":{},"module":"memberstack:memberUpdated","version":2,"metadata":{"restore":{"parameters":{"__IMTHOOK__":{"data":{"editable":"false"},"label":"Krāv Memberstack Webhook"}}},"designer":{"x":0,"y":150},"parameters":[{"name":"__IMTHOOK__","type":"hook:memberstack9","label":"Webhook","required":true}]},"parameters":{"__IMTHOOK__":1084176}},{"id":13,"mapper":{"scope":"roundtrip","variables":[{"name":"Coach Type IDs","value":"{{if(contains(28.customFields.`coach-type`; \"Sky Coach\"); \"681a3cd82955d77c957dfb2d\"; \"\")}},{{if(contains(28.customFields.`coach-type`; \"Tunnel Coach\"); \"681a3ce52c3a21c5afc99a1c\"; \"\")}},{{if(contains(28.customFields.`coach-type`; \"Organizer\"); \"681a3cf2f0d11711f3958dd4\"; \"\")}},"},{"name":"Tunnel Coaching Disciplines IDs","value":"{{if(contains(28.customFields.`tunnel-coaching-disciplines`; \"Competition\"); \"6811444c4f2c833605f83078\r\n\"; \"\")}},{{if(contains(28.customFields.`tunnel-coaching-disciplines`; \"Level 1\"); \"681143fab6c47263b64a04e2\r\n\"; \"\")}},\r\n{{if(contains(28.customFields.`tunnel-coaching-disciplines`; \"Level 2\"); \"68114404d10fdc1d943dd164\"; \"\")}},\r\n{{if(contains(28.customFields.`tunnel-coaching-disciplines`; \"Level 3 Dynamic\"); \"6811441b9b0037904ee8195e\"; \"\")}},\r\n{{if(contains(28.customFields.`tunnel-coaching-disciplines`; \"Level 3 Static\"); \"68114410cd8971ee3824dff5\"; \"\")}},\r\n{{if(contains(28.customFields.`tunnel-coaching-disciplines`; \"Level 4 Dynamic\"); \"681144351b513648d3fd1972\"; \"\")}},\r\n{{if(contains(28.customFields.`tunnel-coaching-disciplines`; \"Level 4 Static\"); \"681144289e352017b4174afa\"; \"\")}},\r\n{{if(contains(28.customFields.`tunnel-coaching-disciplines`; \"Pro Flying\"); \"6811444399bf735f36ff72ad\"; \"\")}}"},{"name":"Sky Coaching Disciplines IDs","value":"{{if(contains(28.customFields.`sky-coaching-disciplines`; \"Angle Flying\"); \"680bdce61c331e41ea893adc\"; \"\")}},{{if(contains(28.customFields.`sky-coaching-disciplines`; \"Back Flying\"); \"67b8d9084dfe246914b5b105\"; \"\")}},\r\n{{if(contains(28.customFields.`sky-coaching-disciplines`; \"Base\"); \"680bdcf332523512d4ec6a26\"; \"\")}},\r\n{{if(contains(28.customFields.`sky-coaching-disciplines`; \"Belly\"); \"67b8d869617b670255edfea9\"; \"\")}},\r\n{{if(contains(28.customFields.`sky-coaching-disciplines`; \"Camera Flying\"); \"680bdd0b4ae8387845d289d8\"; \"\")}},\r\n{{if(contains(28.customFields.`sky-coaching-disciplines`; \"Canopy Piloting\"); \"67b8d9b01d718388b9b47a2a\"; \"\")}},\r\n{{if(contains(28.customFields.`sky-coaching-disciplines`; \"Competition/Team Dynamics\"); \"67b8d9f98c94e54ee79a69c6\"; \"\")}},\r\n{{if(contains(28.customFields.`sky-coaching-disciplines`; \"CRW\"); \"680bdd19aedd47310415bdb2\"; \"\")}},\r\n{{if(contains(28.customFields.`sky-coaching-disciplines`; \"Flocking\"); \"680bdd30d10402f89b9e6b3c\"; \"\")}},\r\n{{if(contains(28.customFields.`sky-coaching-disciplines`; \"Freeflying\"); \"67b8d8aa8c94e54ee7996758\"; \"\")}},\r\n{{if(contains(28.customFields.`sky-coaching-disciplines`; \"Freestyle\"); \"67b8d9e00b91fc71e7fb4c4d\"; \"\")}},\r\n{{if(contains(28.customFields.`sky-coaching-disciplines`; \"Head Down\"); \"67b8d9225622758511957371\"; \"\")}},\r\n{{if(contains(28.customFields.`sky-coaching-disciplines`; \"Head Up\"); \"67b8d916f785983b514723ae\"; \"\")}},\r\n{{if(contains(28.customFields.`sky-coaching-disciplines`; \"Movement\"); \"67b8d89537d20c3cf4867d67\"; \"\")}},\r\n{{if(contains(28.customFields.`sky-coaching-disciplines`; \"Relative Work\"); \"680bdd419cd54f5385711fd8\"; \"\")}},\r\n{{if(contains(28.customFields.`sky-coaching-disciplines`; \"Tracking\"); \"680bdd4e9de52127441e829c\"; \"\")}},\r\n{{if(contains(28.customFields.`sky-coaching-disciplines`; \"VFS\"); \"680bdd59980228c6b3f97f61\"; \"\")}},{{if(contains(28.customFields.`sky-coaching-disciplines`; \"Wingsuiting\"); \"67b8d9c106dc3d3b85b98ae4\"; \"\")}}"},{"name":"Organizer Discipline IDs","value":"{{if(contains(28.customFields.`organizer-disciplines`; \"Belly/RW\"); \"67b8dadc678010c40a64f00b\"; \"\")}},{{if(contains(28.customFields.`organizer-disciplines`; \"CRW/Flocking\"); \"67b8db0d16f495e3d549a718\"; \"\")}},\r\n{{if(contains(28.customFields.`organizer-disciplines`; \"Freeflying\"); \"67b8daef678010c40a6504f5\"; \"\")}},\r\n{{if(contains(28.customFields.`organizer-disciplines`; \"Movement\"); \"67b8db001d718388b9b5ffa8\"; \"\")}},\r\n{{if(contains(28.customFields.`organizer-disciplines`; \"Shenanigans\"); \"6811405e582f6dfc2f630ad5\"; \"\")}},\r\n{{if(contains(28.customFields.`organizer-disciplines`; \"Wingsuiting\"); \"67b8db1767baa72e4da980db\"; \"\")}},\r\n{{if(contains(28.customFields.`organizer-disciplines`; \"XRW\"); \"67b8db214dfe246914b7a307\"; \"\")}}"}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null,null,null,null]}}},"designer":{"x":300,"y":150},"interface":[{"name":"Coach Type IDs","type":"any","label":"Coach Type IDs"},{"name":"Tunnel Coaching Disciplines IDs","type":"any","label":"Tunnel Coaching Disciplines IDs"},{"name":"Sky Coaching Disciplines IDs","type":"any","label":"Sky Coaching Disciplines IDs"},{"name":"Organizer Discipline IDs","type":"any","label":"Organizer Discipline IDs"}]},"parameters":{}},{"id":16,"mapper":{"scope":"roundtrip","variables":[{"name":"Coach Type ID Array","value":"{{if((trim(13.`Coach Type IDs`) != \"\"\"\") + \"\"\"\"; split(13.`Coach Type IDs`; \",\"); map())}}"},{"name":"Tunnel Coaching Disciplines ID Array","value":"{{if(trim(13.`Tunnel Coaching Disciplines IDs`) != \"\"; split(13.`Tunnel Coaching Disciplines IDs`; \",\"); map(\"\"))}}"},{"name":"Sky Coaching Disciplines ID Array","value":"{{if(trim(13.`Sky Coaching Disciplines IDs`) != \"\"; split(13.`Sky Coaching Disciplines IDs`; \",\"); map(\"\"))}}"},{"name":"Organizer Disciplines ID Array","value":"{{if(trim(13.`Organizer Discipline IDs`) != \"\"; split(13.`Organizer Discipline IDs`; \",\"); map(\"\"))}}"}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null,null,null,null]}}},"designer":{"x":600,"y":150},"interface":[{"name":"Coach Type ID Array","type":"any","label":"Coach Type ID Array"},{"name":"Tunnel Coaching Disciplines ID Array","type":"any","label":"Tunnel Coaching Disciplines ID Array"},{"name":"Sky Coaching Disciplines ID Array","type":"any","label":"Sky Coaching Disciplines ID Array"},{"name":"Organizer Disciplines ID Array","type":"any","label":"Organizer Disciplines ID Array"}]},"parameters":{}},{"id":17,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":9,"filter":{"name":"Does Not Have CMS ID","conditions":[[{"a":"{{28.customFields.`cms-id`}}","o":"notexist"}]]},"mapper":{"fields":{"name":"{{28.customFields.`first-name`}}","slug":"{{28.id}}","home-dz":"{{28.customFields.`home-dropzone`}}","experience":"{{28.customFields.`philosophy-of-coaching`}}","cal-com-url":"{{28.customFields.`cal-url`}}","email-field":"{{28.auth.email}}","filter-list":"{{28.customFields.`coach-type`}},{{28.customFields.`sky-coaching-disciplines`}},{{28.customFields.`tunnel-coaching-disciplines`}},{{28.customFields.`organizer-disciplines`}}","home-tunnel":"{{28.customFields.`home-tunnel`}}","profile-pic":{"url":"{{28.profileImage}}"},"home-dz-city":"{{28.customFields.`home-dropzone-state`}}","phone-number":"{{28.customFields.`phone-number`}}","coaching-type":"{{16.`Coach Type ID Array`}}","home-dz-state":"{{28.customFields.`home-dropzone-country`}}","facebook-profile":"{{28.customFields.facebook}}","home-tunnel-city":"{{28.customFields.`home-tunnel-state`}}","home-tunnel-state":"{{28.customFields.`home-tunnel-country`}}","instagram-profile":"{{28.customFields.instagram}}","number-of-skydives":"{{28.customFields.`skydives-total`}}","disciplines---tunnel":"{{16.`Tunnel Coaching Disciplines ID Array`}}","disciplines---coaching":"{{16.`Sky Coaching Disciplines ID Array`}}","philosophy-of-coaching":"{{28.customFields.`why-i-coach`}}","coach-stripe-account-id":"{{28.customFields.`stripe-account-id`}}","introduction-video-link":"{{28.customFields.youtube}}","organizing-experience-2":"{{28.customFields.`organizer-experience`}}","disciplines---organizing":"{{16.`Organizer Disciplines ID Array`}}","year-started-skydiving-2":"{{28.customFields.`year-started`}}"},"select":"list","site_id":"66e24eebb89dd7f162157cf4","collection_id":"6787fa84d46542504f9fdc33"},"module":"webflow:createItem","version":2,"metadata":{"expect":[{"name":"select","type":"select","label":"Choose Method","required":true,"validate":{"enum":["map","list"]}},{"name":"isArchived","type":"boolean","label":"Is Archived"},{"name":"isDraft","type":"boolean","label":"Is Draft"},{"name":"site_id","type":"select","label":"Site","required":true},{"name":"collection_id","type":"select","label":"Collection","required":true},{"name":"fields","spec":[{"name":"name","type":"text","label":"Name","required":true,"validate":{"max":256}},{"name":"cms-id","type":"text","label":"CMS ID"},{"name":"profile-pic","spec":[{"name":"url","type":"url","label":"URL"},{"name":"alt","type":"text","label":"Alternate Text"}],"type":"collection","label":"Profile Pic"},{"name":"email-field","type":"email","label":"Email"},{"name":"phone-number","type":"text","label":"Phone Number"},{"name":"home-tunnel","type":"text","label":"Home Tunnel"},{"name":"home-tunnel-state","type":"text","label":"Home Tunnel Country"},{"name":"home-tunnel-city","type":"text","label":"Home Tunnel State"},{"name":"home-dz","type":"text","label":"Home DZ"},{"name":"home-dz-state","type":"text","label":"Home DZ Country"},{"name":"home-dz-city","type":"text","label":"Home DZ State"},{"name":"experience","type":"text","label":"Philosophy of Coaching"},{"name":"philosophy-of-coaching","type":"text","label":"Why I Coach"},{"name":"instagram-profile","type":"url","label":"Instagram Profile"},{"name":"facebook-profile","type":"url","label":"Facebook Profile"},{"name":"introduction-video-link","type":"url","label":"Youtube Video"},{"name":"organizing-experience-2","type":"text","label":"Organizing Experience"},{"name":"coaching-type","type":"select","label":"Coach Type","multiple":true},{"name":"disciplines---coaching","type":"select","label":"Sky Coaching Disciplines","multiple":true},{"name":"disciplines---organizing","type":"select","label":"Organizer Disciplines","multiple":true},{"name":"disciplines---tunnel","type":"select","label":"Tunnel Coaching Disciplines","multiple":true},{"name":"year-started-skydiving-2","type":"text","label":"Year Started Skydiving"},{"name":"number-of-skydives","type":"text","label":"Number of Skydives"},{"name":"filter-list","type":"text","label":"Filter List"},{"name":"profile-page-link","type":"url","label":"Profile Page Link"},{"name":"coach-stripe-account-id","type":"text","label":"Stripe Account ID"},{"name":"cal-com-url","type":"url","label":"cal.com URL"},{"name":"slug","type":"text","label":"Slug","validate":{"max":256}}],"type":"collection","label":"Fields"}],"restore":{"expect":{"fields":{"nested":{"coaching-type":{"mode":"edit"},"disciplines---tunnel":{"mode":"edit"},"disciplines---coaching":{"mode":"edit"},"disciplines---organizing":{"mode":"edit"}}},"select":{"label":"Select from the list"},"isDraft":{"mode":"chose"},"site_id":{"label":"Krāv"},"isArchived":{"mode":"chose"},"collection_id":{"label":"Coaches and Organizers","nested":[{"name":"fields","spec":[{"name":"name","type":"text","label":"Name","required":true,"validate":{"max":256}},{"name":"cms-id","type":"text","label":"CMS ID","required":false},{"name":"profile-pic","spec":[{"help":"Valid URL with Image extension in it.","name":"url","type":"url","label":"URL","required":false},{"name":"alt","type":"text","label":"Alternate Text"}],"type":"collection","label":"Profile Pic","required":false},{"name":"email-field","type":"email","label":"Email","required":false},{"name":"phone-number","type":"text","label":"Phone Number","required":false},{"name":"home-tunnel","type":"text","label":"Home Tunnel","required":false},{"name":"home-tunnel-state","type":"text","label":"Home Tunnel Country","required":false},{"name":"home-tunnel-city","type":"text","label":"Home Tunnel State","required":false},{"name":"home-dz","type":"text","label":"Home DZ","required":false},{"name":"home-dz-state","type":"text","label":"Home DZ Country","required":false},{"name":"home-dz-city","type":"text","label":"Home DZ State","required":false},{"name":"experience","type":"text","label":"Philosophy of Coaching","required":false},{"name":"philosophy-of-coaching","type":"text","label":"Why I Coach","required":false},{"name":"instagram-profile","type":"url","label":"Instagram Profile","required":false},{"name":"facebook-profile","type":"url","label":"Facebook Profile","required":false},{"name":"introduction-video-link","type":"url","label":"Youtube Video","required":false},{"name":"organizing-experience-2","type":"text","label":"Organizing Experience","required":false},{"name":"coaching-type","type":"select","label":"Coach Type","options":"rpc://webflow/2/listItems?collection_id=681a3cca3f789c7b1e02bde7","multiple":true,"required":false},{"name":"disciplines---coaching","type":"select","label":"Sky Coaching Disciplines","options":"rpc://webflow/2/listItems?collection_id=67b8d8251f9ca48901e7a570","multiple":true,"required":false},{"name":"disciplines---organizing","type":"select","label":"Organizer Disciplines","options":"rpc://webflow/2/listItems?collection_id=67b8dad02928782616b16496","multiple":true,"required":false},{"name":"disciplines---tunnel","type":"select","label":"Tunnel Coaching Disciplines","options":"rpc://webflow/2/listItems?collection_id=681143f14d81aac80dcc9dad","multiple":true,"required":false},{"name":"year-started-skydiving-2","type":"text","label":"Year Started Skydiving","required":false},{"name":"number-of-skydives","type":"text","label":"Number of Skydives","required":false},{"name":"filter-list","type":"text","label":"Filter List","required":false},{"name":"profile-page-link","type":"url","label":"Profile Page Link","required":false},{"name":"coach-stripe-account-id","type":"text","label":"Stripe Account ID","required":false},{"name":"cal-com-url","type":"url","label":"cal.com URL","required":false},{"help":"Must be alphanumerical and not contain any spaces or special characters","name":"slug","type":"text","label":"Slug","required":false,"validate":{"max":256}}],"type":"collection","label":"Fields"}]}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"webflow2"},"label":"Kravtofly (admin@kravtofly.com)"}}},"designer":{"x":1200,"y":0},"interface":[{"name":"id","type":"text","label":"Item ID"},{"name":"lastPublished","type":"text","label":"Last Published"},{"name":"lastUpdated","type":"date","label":"Last Updated"},{"name":"createdOn","type":"date","label":"Created on"},{"name":"isArchived","type":"boolean","label":"Is Archived"},{"name":"isDraft","type":"boolean","label":"Is Draft"},{"name":"fieldData","spec":[{"name":"name","type":"text","label":"Name","required":true,"validate":{"max":256}},{"name":"cms-id","type":"text","label":"CMS ID","required":false},{"name":"profile-pic","spec":[{"name":"url","type":"url","label":"URL"},{"name":"fileId","type":"text","label":"File ID"},{"name":"alt","type":"text","label":"Alternate Text"}],"type":"collection","label":"Profile Pic","required":false},{"name":"email-field","type":"email","label":"Email","required":false},{"name":"phone-number","type":"text","label":"Phone Number","required":false},{"name":"home-tunnel","type":"text","label":"Home Tunnel","required":false},{"name":"home-tunnel-state","type":"text","label":"Home Tunnel Country","required":false},{"name":"home-tunnel-city","type":"text","label":"Home Tunnel State","required":false},{"name":"home-dz","type":"text","label":"Home DZ","required":false},{"name":"home-dz-state","type":"text","label":"Home DZ Country","required":false},{"name":"home-dz-city","type":"text","label":"Home DZ State","required":false},{"name":"experience","type":"text","label":"Philosophy of Coaching","required":false},{"name":"philosophy-of-coaching","type":"text","label":"Why I Coach","required":false},{"name":"instagram-profile","type":"url","label":"Instagram Profile","required":false},{"name":"facebook-profile","type":"url","label":"Facebook Profile","required":false},{"name":"introduction-video-link","spec":[{"name":"url","type":"text","label":"URL"},{"name":"metadata","spec":[{"name":"provider_url","type":"text","label":"Provider URL"},{"name":"version","type":"text","label":"Version"},{"name":"title","type":"text","label":"Title"},{"name":"author_name","type":"text","label":"Author Name"},{"name":"height","type":"number","label":"Height"},{"name":"thumbnail_width","type":"number","label":"Thumbnail Width"},{"name":"width","type":"number","label":"Width"},{"name":"html","type":"text","label":"HTML"},{"name":"author_url","type":"text","label":"Author URL"},{"name":"url","type":"text","label":"URL"},{"name":"provider_name","type":"text","label":"Provider Name"},{"name":"thumbnail_url","type":"text","label":"Thumbnail URL"},{"name":"type","type":"text","label":"Type"},{"name":"thumbnail_height","type":"number","label":"Thumbnail Height"},{"name":"source","type":"text","label":"Source"},{"name":"thumb","spec":[{"name":"url","type":"text","label":"URL"},{"name":"w","type":"number","label":"W"},{"name":"h","type":"number","label":"H"}],"type":"collection","label":"Thumb"},{"name":"aspectRatio","type":"number","label":"Aspect Ratio"},{"name":"videoId","type":"text","label":"Video ID"},{"name":"youTubeParams","spec":[],"type":"collection","label":"You Tube Params"}],"type":"collection","label":"Metadata"}],"type":"collection","label":"Youtube Video","required":false},{"name":"organizing-experience-2","type":"text","label":"Organizing Experience","required":false},{"name":"coaching-type","type":"array","label":"Coach Type","required":false},{"name":"disciplines---coaching","type":"array","label":"Sky Coaching Disciplines","required":false},{"name":"disciplines---organizing","type":"array","label":"Organizer Disciplines","required":false},{"name":"disciplines---tunnel","type":"array","label":"Tunnel Coaching Disciplines","required":false},{"name":"year-started-skydiving-2","type":"text","label":"Year Started Skydiving","required":false},{"name":"number-of-skydives","type":"text","label":"Number of Skydives","required":false},{"name":"filter-list","type":"text","label":"Filter List","required":false},{"name":"profile-page-link","type":"url","label":"Profile Page Link","required":false},{"name":"coach-stripe-account-id","type":"text","label":"Stripe Account ID","required":false},{"name":"cal-com-url","type":"url","label":"cal.com URL","required":false},{"help":"Must be alphanumerical and not contain any spaces or special characters","name":"slug","type":"text","label":"Slug","required":false,"validate":{"max":256}}],"type":"collection","label":"Field Data"}],"parameters":[{"name":"__IMTCONN__","type":"account:webflow2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2518421}},{"id":18,"mapper":{"itemIds":"{{9.id}}","site_id":"66e24eebb89dd7f162157cf4","collection_id":"6787fa84d46542504f9fdc33"},"module":"webflow:publishAnItem","version":2,"metadata":{"expect":[{"name":"site_id","type":"select","label":"Site","required":true},{"name":"collection_id","type":"select","label":"Collection","required":true},{"name":"itemIds","type":"select","label":"Item IDs","multiple":true,"required":true}],"restore":{"expect":{"itemIds":{"mode":"edit"},"site_id":{"mode":"chose","label":"Krāv"},"collection_id":{"mode":"chose","label":"Coaches and Organizers"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"webflow2"},"label":"Kravtofly (admin@kravtofly.com)"}}},"designer":{"x":1500,"y":0},"interface":[{"name":"publishedItemIds","spec":{"type":"text"},"type":"array","label":"Published Item IDs"},{"name":"errors","type":"array","label":"Errors"}],"parameters":[{"name":"__IMTCONN__","type":"account:webflow2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2518421}},{"id":24,"mapper":{"memberId":"{{28.id}}","customFields":{"slug":"{{9.fieldData.slug}}","cms-id":"{{18.publishedItemIds[]}}"}},"module":"memberstack:updateMember","version":2,"metadata":{"expect":[{"mode":"edit","name":"memberId","type":"select","label":"Member ID","required":true},{"name":"loginRedirect","type":"text","label":"Login Redirect"},{"name":"customFields","spec":[{"name":"cms-id","type":"any","label":"CMS ID"},{"name":"coach-type","type":"any","label":"Coach Type"},{"name":"facebook","type":"any","label":"Facebook"},{"name":"first-name","type":"any","label":"Name"},{"name":"home-dropzone","type":"any","label":"Home Dropzone"},{"name":"home-dropzone-country","type":"any","label":"Home Dropzone Country"},{"name":"home-dropzone-state","type":"any","label":"Home Dropzone State"},{"name":"home-tunnel","type":"any","label":"Home Tunnel"},{"name":"home-tunnel-country","type":"any","label":"Home Tunnel Country"},{"name":"home-tunnel-state","type":"any","label":"Home Tunnel State"},{"name":"instagram","type":"any","label":"Instagram"},{"name":"krav-directory","type":"any","label":"Krav Directory"},{"name":"organizer-disciplines","type":"any","label":"Organizer Disciplines"},{"name":"organizer-experience","type":"any","label":"Organizer Experience"},{"name":"philosophy-of-coaching","type":"any","label":"Philosophy of Coaching"},{"name":"phone-number","type":"any","label":"Phone Number"},{"name":"sky-coach","type":"any","label":"Sky Coach"},{"name":"sky-coaching-disciplines","type":"any","label":"Sky Coaching Disciplines"},{"name":"skydives-total","type":"any","label":"Number of Skydives"},{"name":"slug","type":"any","label":"Slug"},{"name":"tunnel-coach","type":"any","label":"Tunnel Coach"},{"name":"tunnel-coaching-disciplines","type":"any","label":"Tunnel Coaching Disciplines"},{"name":"why-i-coach","type":"any","label":"Why I Coach"},{"name":"year-started","type":"any","label":"Year Started"},{"name":"youtube","type":"any","label":"Youtube"}],"type":"collection","label":"Custom Fields"},{"name":"json","type":"text","label":"Member JSON"},{"name":"metaData","spec":[{"name":"key","type":"text","label":"Key"},{"name":"value","type":"any","label":"Value"}],"type":"array","label":"Metadata"},{"name":"verified","type":"boolean","label":"Verified"}],"restore":{"expect":{"memberId":{"mode":"edit"},"metaData":{"mode":"chose"},"verified":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"memberstack2"},"label":"Krāv Memberstack Connection"}}},"designer":{"x":1800,"y":0},"interface":[{"name":"id","type":"text","label":"Member ID"},{"name":"auth","spec":[{"name":"email","type":"text","label":"Email Address"}],"type":"collection","label":"Auth"},{"name":"metaData","spec":[],"type":"collection","label":"Metadata"},{"name":"customFields","spec":[],"type":"collection","label":"Custom Fields"},{"name":"loginRedirect","type":"text","label":"Login Redirect"},{"name":"permissions","type":"array","label":"Permissions"},{"name":"planConnections","spec":{"type":"text"},"type":"array","label":"Plan Connections"},{"name":"verified","type":"boolean","label":"Verified"},{"name":"profileImage","type":"text","label":"Profile Image"}],"parameters":[{"name":"__IMTCONN__","type":"account:memberstack2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":4434509}}]},{"flow":[{"id":21,"filter":{"name":"Has CMS ID","conditions":[[{"a":"{{28.customFields.`cms-id`}}","o":"exist"}]]},"mapper":{"fields":{"name":"{{28.customFields.`first-name`}}","cms-id":"{{28.customFields.`cms-id`}}","home-dz":"{{28.customFields.`home-dropzone`}}","experience":"{{28.customFields.`philosophy-of-coaching`}}","cal-com-url":"{{28.customFields.`cal-url`}}","email-field":"{{28.auth.email}}","filter-list":"{{28.customFields.`coach-type`}},{{28.customFields.`sky-coaching-disciplines`}},{{28.customFields.`tunnel-coaching-disciplines`}},{{28.customFields.`organizer-disciplines`}}","home-tunnel":"{{28.customFields.`home-tunnel`}}","profile-pic":{"url":"{{28.profileImage}}"},"home-dz-city":"{{28.customFields.`home-dropzone-state`}}","phone-number":"{{28.customFields.`phone-number`}}","coaching-type":"{{16.`Coach Type ID Array`}}","home-dz-state":"{{28.customFields.`home-dropzone-country`}}","facebook-profile":"{{28.customFields.facebook}}","home-tunnel-city":"{{28.customFields.`home-tunnel-state`}}","home-tunnel-state":"{{28.customFields.`home-tunnel-country`}}","instagram-profile":"{{28.customFields.instagram}}","number-of-skydives":"{{28.customFields.`skydives-total`}}","disciplines---tunnel":"{{16.`Tunnel Coaching Disciplines ID Array`}}","disciplines---coaching":"{{16.`Sky Coaching Disciplines ID Array`}}","philosophy-of-coaching":"{{28.customFields.`why-i-coach`}}","coach-stripe-account-id":"{{28.customFields.`stripe-account-id`}}","introduction-video-link":"{{28.customFields.youtube}}","organizing-experience-2":"{{28.customFields.`organizer-experience`}}","disciplines---organizing":"{{16.`Organizer Disciplines ID Array`}}","year-started-skydiving-2":"{{28.customFields.`year-started`}}"},"select":"list","item_id":"{{28.customFields.`cms-id`}}","site_id":"66e24eebb89dd7f162157cf4","collection_id":"6787fa84d46542504f9fdc33"},"module":"webflow:updateItem","version":2,"metadata":{"expect":[{"name":"select","type":"select","label":"Choose Method","required":true,"validate":{"enum":["map","list"]}},{"name":"isArchived","type":"boolean","label":"Is Archived"},{"name":"isDraft","type":"boolean","label":"Is Draft"},{"name":"site_id","type":"select","label":"Site","required":true},{"name":"collection_id","type":"select","label":"Collection","required":true},{"name":"item_id","type":"select","label":"Item","required":true},{"name":"fields","spec":[{"name":"name","type":"text","label":"Name","required":true,"validate":{"max":256}},{"name":"cms-id","type":"text","label":"CMS ID"},{"name":"profile-pic","spec":[{"name":"url","type":"url","label":"URL"},{"name":"alt","type":"text","label":"Alternate Text"}],"type":"collection","label":"Profile Pic"},{"name":"email-field","type":"email","label":"Email"},{"name":"phone-number","type":"text","label":"Phone Number"},{"name":"home-tunnel","type":"text","label":"Home Tunnel"},{"name":"home-tunnel-state","type":"text","label":"Home Tunnel Country"},{"name":"home-tunnel-city","type":"text","label":"Home Tunnel State"},{"name":"home-dz","type":"text","label":"Home DZ"},{"name":"home-dz-state","type":"text","label":"Home DZ Country"},{"name":"home-dz-city","type":"text","label":"Home DZ State"},{"name":"experience","type":"text","label":"Philosophy of Coaching"},{"name":"philosophy-of-coaching","type":"text","label":"Why I Coach"},{"name":"instagram-profile","type":"url","label":"Instagram Profile"},{"name":"facebook-profile","type":"url","label":"Facebook Profile"},{"name":"introduction-video-link","type":"url","label":"Youtube Video"},{"name":"organizing-experience-2","type":"text","label":"Organizing Experience"},{"name":"coaching-type","type":"select","label":"Coach Type","multiple":true},{"name":"disciplines---coaching","type":"select","label":"Sky Coaching Disciplines","multiple":true},{"name":"disciplines---organizing","type":"select","label":"Organizer Disciplines","multiple":true},{"name":"disciplines---tunnel","type":"select","label":"Tunnel Coaching Disciplines","multiple":true},{"name":"year-started-skydiving-2","type":"text","label":"Year Started Skydiving"},{"name":"number-of-skydives","type":"text","label":"Number of Skydives"},{"name":"filter-list","type":"text","label":"Filter List"},{"name":"profile-page-link","type":"url","label":"Profile Page Link"},{"name":"coach-stripe-account-id","type":"text","label":"Stripe Account ID"},{"name":"cal-com-url","type":"url","label":"cal.com URL"},{"name":"slug","type":"text","label":"Slug","validate":{"max":256}}],"type":"collection","label":"Fields"}],"restore":{"expect":{"fields":{"nested":{"coaching-type":{"mode":"edit"},"disciplines---tunnel":{"mode":"edit"},"disciplines---coaching":{"mode":"edit"},"disciplines---organizing":{"mode":"edit"}}},"select":{"label":"Select from the list"},"isDraft":{"mode":"chose"},"item_id":{"mode":"edit"},"site_id":{"label":"Krāv"},"isArchived":{"mode":"chose"},"collection_id":{"label":"Coaches and Organizers"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"webflow2"},"label":"Kravtofly (admin@kravtofly.com)"}}},"designer":{"x":1200,"y":300},"interface":[{"name":"id","type":"text","label":"Item ID"},{"name":"lastPublished","type":"text","label":"Last Published"},{"name":"lastUpdated","type":"date","label":"Last Updated"},{"name":"createdOn","type":"date","label":"Created on"},{"name":"isArchived","type":"boolean","label":"Is Archived"},{"name":"isDraft","type":"boolean","label":"Is Draft"},{"name":"fieldData","spec":[{"name":"name","type":"text","label":"Name","required":true,"validate":{"max":256}},{"name":"cms-id","type":"text","label":"CMS ID","required":false},{"name":"profile-pic","spec":[{"name":"url","type":"url","label":"URL"},{"name":"fileId","type":"text","label":"File ID"},{"name":"alt","type":"text","label":"Alternate Text"}],"type":"collection","label":"Profile Pic","required":false},{"name":"email-field","type":"email","label":"Email","required":false},{"name":"phone-number","type":"text","label":"Phone Number","required":false},{"name":"home-tunnel","type":"text","label":"Home Tunnel","required":false},{"name":"home-tunnel-state","type":"text","label":"Home Tunnel Country","required":false},{"name":"home-tunnel-city","type":"text","label":"Home Tunnel State","required":false},{"name":"home-dz","type":"text","label":"Home DZ","required":false},{"name":"home-dz-state","type":"text","label":"Home DZ Country","required":false},{"name":"home-dz-city","type":"text","label":"Home DZ State","required":false},{"name":"experience","type":"text","label":"Philosophy of Coaching","required":false},{"name":"philosophy-of-coaching","type":"text","label":"Why I Coach","required":false},{"name":"instagram-profile","type":"url","label":"Instagram Profile","required":false},{"name":"facebook-profile","type":"url","label":"Facebook Profile","required":false},{"name":"introduction-video-link","spec":[{"name":"url","type":"text","label":"URL"},{"name":"metadata","spec":[{"name":"provider_url","type":"text","label":"Provider URL"},{"name":"version","type":"text","label":"Version"},{"name":"title","type":"text","label":"Title"},{"name":"author_name","type":"text","label":"Author Name"},{"name":"height","type":"number","label":"Height"},{"name":"thumbnail_width","type":"number","label":"Thumbnail Width"},{"name":"width","type":"number","label":"Width"},{"name":"html","type":"text","label":"HTML"},{"name":"author_url","type":"text","label":"Author URL"},{"name":"url","type":"text","label":"URL"},{"name":"provider_name","type":"text","label":"Provider Name"},{"name":"thumbnail_url","type":"text","label":"Thumbnail URL"},{"name":"type","type":"text","label":"Type"},{"name":"thumbnail_height","type":"number","label":"Thumbnail Height"},{"name":"source","type":"text","label":"Source"},{"name":"thumb","spec":[{"name":"url","type":"text","label":"URL"},{"name":"w","type":"number","label":"W"},{"name":"h","type":"number","label":"H"}],"type":"collection","label":"Thumb"},{"name":"aspectRatio","type":"number","label":"Aspect Ratio"},{"name":"videoId","type":"text","label":"Video ID"},{"name":"youTubeParams","spec":[],"type":"collection","label":"You Tube Params"}],"type":"collection","label":"Metadata"}],"type":"collection","label":"Youtube Video","required":false},{"name":"organizing-experience-2","type":"text","label":"Organizing Experience","required":false},{"name":"coaching-type","type":"array","label":"Coach Type","required":false},{"name":"disciplines---coaching","type":"array","label":"Sky Coaching Disciplines","required":false},{"name":"disciplines---organizing","type":"array","label":"Organizer Disciplines","required":false},{"name":"disciplines---tunnel","type":"array","label":"Tunnel Coaching Disciplines","required":false},{"name":"year-started-skydiving-2","type":"text","label":"Year Started Skydiving","required":false},{"name":"number-of-skydives","type":"text","label":"Number of Skydives","required":false},{"name":"filter-list","type":"text","label":"Filter List","required":false},{"name":"profile-page-link","type":"url","label":"Profile Page Link","required":false},{"name":"coach-stripe-account-id","type":"text","label":"Stripe Account ID","required":false},{"name":"cal-com-url","type":"url","label":"cal.com URL","required":false},{"help":"Must be alphanumerical and not contain any spaces or special characters","name":"slug","type":"text","label":"Slug","required":false,"validate":{"max":256}}],"type":"collection","label":"Field Data"}],"parameters":[{"name":"__IMTCONN__","type":"account:webflow2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2518421}},{"id":22,"mapper":{"itemIds":"{{21.id}}","site_id":"66e24eebb89dd7f162157cf4","collection_id":"6787fa84d46542504f9fdc33"},"module":"webflow:publishAnItem","version":2,"metadata":{"expect":[{"name":"site_id","type":"select","label":"Site","required":true},{"name":"collection_id","type":"select","label":"Collection","required":true},{"name":"itemIds","type":"select","label":"Item IDs","multiple":true,"required":true}],"restore":{"expect":{"itemIds":{"mode":"edit"},"site_id":{"mode":"chose","label":"Krāv"},"collection_id":{"mode":"chose","label":"Coaches and Organizers"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"webflow2"},"label":"Kravtofly (admin@kravtofly.com)"}}},"designer":{"x":1500,"y":300},"interface":[{"name":"publishedItemIds","spec":{"type":"text"},"type":"array","label":"Published Item IDs"},{"name":"errors","type":"array","label":"Errors"}],"parameters":[{"name":"__IMTCONN__","type":"account:webflow2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2518421}}]}],"version":1,"metadata":{"designer":{"x":900,"y":150}}}],"name":"CRF Memberstack Webflow Integration","metadata":{"instant":true,"version":1,"designer":{"orphans":[],"samples":{"9":{"id":"684a09fb6f83f3c148de4bad","isDraft":true,"createdOn":"2025-06-11T22:58:03.892Z","fieldData":{"name":"Chugbucker Luckychuck","slug":"chugbucker-luckychuck","home-dz":"San Marcos","experience":"Philosophy of Coaching: i want to see you improve","email-field":"chrisfikes@gmail.com","home-tunnel":"iFly SA","profile-pic":{"alt":null,"url":"https://cdn.prod.website-files.com/66e24eecb89dd7f162157d49/6849fea1e6fc0d79b38e6ef9_1749587719844Ch...","fileId":"6849fea1e6fc0d79b38e6ef9"},"home-dz-city":"Alaska","phone-number":"444-444-4444","coaching-type":["681a3cd82955d77c957dfb2d"],"home-dz-state":"Afghanistan","facebook-profile":"http://www.facebook.com/chrisfikes","home-tunnel-city":"Texas","home-tunnel-state":" United States","instagram-profile":"http://www.instagram.com/chrisfikes","number-of-skydives":"2200","disciplines---tunnel":["681143fab6c47263b64a04e2"],"disciplines---coaching":["680bdce61c331e41ea893adc"],"philosophy-of-coaching":"Why I coach - it is so fun!!!!!!","organizing-experience-2":"Organizing experience: i've done lots of stuff","disciplines---organizing":["67b8db001d718388b9b5ffa8"],"year-started-skydiving-2":"3300"},"isArchived":false,"cmsLocaleId":"66e24eecb89dd7f162157d3f","lastUpdated":"2025-06-11T22:58:03.892Z","lastPublished":null},"13":{"Coach Type IDs":"681a3cd82955d77c957dfb2d,681a3ce52c3a21c5afc99a1c,681a3cf2f0d11711f3958dd4,","Organizer Discipline IDs":",,\r\n67b8daef678010c40a6504f5,\r\n67b8db001d718388b9b5ffa8,\r\n,\r\n,\r\n","Sky Coaching Disciplines IDs":"680bdce61c331e41ea893adc,,\r\n,\r\n67b8d869617b670255edfea9,\r\n,\r\n,\r\n,\r\n,\r\n,\r\n,\r\n67b8d9e00b91fc71e7fb4c4d...","Tunnel Coaching Disciplines IDs":",681143fab6c47263b64a04e2\r\n,\r\n68114404d10fdc1d943dd164,\r\n6811441b9b0037904ee8195e,\r\n68114410cd8971ee..."},"16":{"Coach Type ID Array":["681a3cd82955d77c957dfb2d"],"Organizer Disciplines ID Array":["67b8daef678010c40a6504f5"],"Sky Coaching Disciplines ID Array":["680bdce61c331e41ea893adc"],"Tunnel Coaching Disciplines ID Array":["681143fab6c47263b64a04e2"]},"21":{"id":"68b1857d1c2d7a264e6138f5","isDraft":false,"createdOn":"2025-08-29T10:48:29.627Z","fieldData":{"name":"Chris Fikes","slug":"mem_cmewpisk0005z0xkk2nyo6imr","cms-id":"68b1857d1c2d7a264e6138f5","home-dz":"Spaceland San Marcos","experience":"My coaching philosophy is rooted in structured, intentional learning that bridges theory with practi...","email-field":"chrisfikes@gmail.com","filter-list":"Sky Coach,Tunnel Coach,Organizer,Angle Flying,Belly,Freestyle,Head Down,Head Up,Movement,Tracking,Le...","home-tunnel":"iFly San Antonio","profile-pic":{"alt":null,"url":"https://cdn.prod.website-files.com/66e24eecb89dd7f162157d49/68b185b45900b05cd7488b00_1756464563189Ch...","fileId":"68b185b45900b05cd7488b00"},"home-dz-city":"Texas","coaching-type":["681a3cd82955d77c957dfb2d"],"home-dz-state":" United States","facebook-profile":"http://www.facebook.com/chrisfikes","home-tunnel-city":"TX","home-tunnel-state":" United States","instagram-profile":"http://www.instagram.com/chrisfikes","number-of-skydives":"1756","disciplines---tunnel":["681143fab6c47263b64a04e2"],"disciplines---coaching":["680bdce61c331e41ea893adc"],"philosophy-of-coaching":"As a coach I want to help people go from where they are, to where they want to be.","coach-stripe-account-id":"acct_1RycYAQxoFIFJOQV","organizing-experience-2":"2019 - 2021: Load Organizer at Skydive Lone Star, 2021 - Present: Load Organizer at Spaceland San Ma...","disciplines---organizing":["67b8daef678010c40a6504f5"],"year-started-skydiving-2":"2013"},"isArchived":false,"cmsLocaleId":"66e24eecb89dd7f162157d3f","lastUpdated":"2025-09-26T15:10:07.795Z","lastPublished":"2025-08-29T11:08:02.201Z"},"22":{"errors":[],"publishedItemIds":["68b1857d1c2d7a264e6138f5"]},"28":{"id":"mem_cmewpisk0005z0xkk2nyo6imr","auth":{"email":"chrisfikes@gmail.com"},"metaData":{},"verified":false,"customFields":{"slug":"mem_cmewpisk0005z0xkk2nyo6imr","cms-id":"68b1857d1c2d7a264e6138f5","cal-url":"test.com/url","youtube":"","facebook":"http://www.facebook.com/chrisfikes","instagram":"http://www.instagram.com/chrisfikes","coach-type":"Sky Coach,Tunnel Coach,Organizer","first-name":"Chris Fikes","home-tunnel":"iFly San Antonio","why-i-coach":"As a coach I want to help people go from where they are, to where they want to be.","phone-number":"","year-started":"2013","home-dropzone":"Spaceland San Marcos","skydives-total":"1756","home-tunnel-state":"TX","stripe-account-id":"acct_1RycYAQxoFIFJOQV","home-dropzone-state":"Texas","home-tunnel-country":" United States","organizer-experience":"2019 - 2021: Load Organizer at Skydive Lone Star, 2021 - Present: Load Organizer at Spaceland San Ma...","home-dropzone-country":" United States","organizer-disciplines":"Freeflying,Movement","philosophy-of-coaching":"My coaching philosophy is rooted in structured, intentional learning that bridges theory with practi...","sky-coaching-disciplines":"Angle Flying,Belly,Freestyle,Head Down,Head Up,Movement,Tracking","tunnel-coaching-disciplines":"Level 1,Level 2,Level 3 Static,Level 3 Dynamic,Level 4 Static,Level 4 Dynamic"},"profileImage":"https://ms-application-assets.s3.amazonaws.com/member-profile-images/1756464563189Chris%20Fikes.jpeg","stripeCustomerId":null}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}