documents/make-scenarios/27 Oct 2025/Data Hygiene • Complete & Tidy.json
{"flow":[{"id":null,"module":"placeholder:Placeholder","metadata":{"designer":{"x":0,"y":0}}},{"id":2,"mapper":{"sort":[],"filter":[[{"a":"status","b":"active","o":"text:equal:ci"}]],"mappAbleLimit":""},"module":"datastore:SearchRecord","version":1,"metadata":{"expect":[{"name":"filter","type":"filter","label":"Filter","options":"rpc://datastore/1.12.1/RpcGetUDTKeys","required":true},{"name":"sort","spec":[{"name":"key","type":"select","label":"Key","dynamic":true,"options":[],"required":true},{"name":"order","type":"select","label":"Order","options":[{"label":"Ascending","value":1},{"label":"Descending","value":-1}],"required":true}],"type":"array","label":"Sort"},{"name":"mappAbleLimit","type":"uinteger","label":"Mappable Limit"}],"restore":{"parameters":{"datastore":{"label":"lab_registrations"}}},"advanced":true,"designer":{"x":300,"y":0},"interface":[{"name":"key","type":"text","label":"Key"},{"name":"data","spec":[{"help":"","name":"labId","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"studentEmail","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"studentName","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"labName","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"labSlug","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"meetUrl","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"sessionsJson","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"status","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"createdAt","type":"date","label":null,"required":false},{"help":"","name":"sentKeysStr","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"timeZone","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"lastErrorAt","type":"date","label":null,"required":false},{"help":"","name":"lastErrorMsg","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"lastAttempt","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"lastAttemptKey","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"exportedBatchId","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":"Record"}],"parameters":[{"name":"datastore","type":"datastore","label":"Data store","required":true},{"name":"continueWhenNoRes","type":"boolean","label":"Continue the execution of the route even if the module returns no results"},{"name":"limit","type":"uinteger","label":"Limit"}]},"parameters":{"limit":null,"datastore":47247,"continueWhenNoRes":false}},{"id":3,"mapper":{"json":"{{2.data.sessionsJson}}"},"module":"json:ParseJSON","version":1,"metadata":{"expect":[{"name":"json","type":"text","label":"JSON string","required":true}],"restore":{"parameters":{"type":{"label":"LabSessions (start,end)"}}},"designer":{"x":600,"y":0},"interface":[{"help":"","name":"start","type":"text","label":"Start","default":null,"required":false,"multiline":false},{"help":"","name":"end","type":"text","label":"End","default":null,"required":false,"multiline":false}],"parameters":[{"name":"type","type":"udt","label":"Data structure"}]},"parameters":{"type":184305}},{"id":12,"mapper":{"end":"{{3.end}}","start":"{{3.start}}"},"module":"builtin:BasicAggregator","version":1,"metadata":{"restore":{"extra":{"feeder":{"label":"JSON - Parse JSON [3]"},"target":{"label":"Custom"}}},"designer":{"x":900,"y":0}},"parameters":{"feeder":3}},{"id":11,"mapper":{"name":"lastEnd","scope":"roundtrip","value":"{{last(12.array)}}"},"module":"util:SetVariable2","version":1,"metadata":{"expect":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}},{"name":"value","type":"any","label":"Variable value"}],"restore":{"expect":{"scope":{"label":"One cycle"}}},"advanced":true,"designer":{"x":1200,"y":0},"interface":[{"name":"lastEnd","type":"any","label":"lastEnd"}]},"parameters":{}},{"id":13,"mapper":{"date1":"{{11.lastEnd.start}}","date2":"{{now}}"},"module":"app#sams-toolbox-mls54z:dateDiff","version":1,"metadata":{"expect":[{"name":"date1","type":"date","label":"First Date","required":true},{"name":"date2","type":"date","label":"Second Date","required":true}],"restore":{},"designer":{"x":1500,"y":0}},"parameters":{}},{"id":14,"filter":{"name":"Complete & Tidy","conditions":[[{"a":"{{13.result.units.minutes}}","b":"1440","o":"number:greaterorequal"}]]},"mapper":{"key":"{{2.key}}","data":{"labId":"","status":"completed","labName":"","labSlug":"","meetUrl":"","timeZone":"","createdAt":"","lastAttempt":"\"\"","lastErrorAt":"","sentKeysStr":"","studentName":"","lastErrorMsg":"\"\"","sessionsJson":"","studentEmail":"","lastAttemptKey":"\"\""},"upsert":true,"overwriteArrays":false},"module":"datastore:UpdateRecord","version":1,"metadata":{"expect":[{"name":"key","type":"text","label":"Key","required":true},{"name":"upsert","type":"boolean","label":"Insert missing record","required":true},{"name":"overwriteArrays","type":"boolean","label":"Overwrite an existing array in the record","required":true},{"name":"data","spec":[{"name":"labId","type":"text","label":null},{"name":"studentEmail","type":"text","label":null},{"name":"studentName","type":"text","label":null},{"name":"labName","type":"text","label":null},{"name":"labSlug","type":"text","label":null},{"name":"meetUrl","type":"text","label":null},{"name":"sessionsJson","type":"text","label":null},{"name":"status","type":"text","label":null},{"name":"createdAt","type":"date","label":null},{"name":"sentKeysStr","type":"text","label":null},{"name":"timeZone","type":"text","label":null},{"name":"lastErrorAt","type":"date","label":null},{"name":"lastErrorMsg","type":"text","label":null},{"name":"lastAttempt","type":"text","label":null},{"name":"lastAttemptKey","type":"text","label":null}],"type":"collection","label":"Record"}],"restore":{"expect":{"upsert":{"mode":"chose"},"overwriteArrays":{"mode":"chose"}},"parameters":{"datastore":{"label":"lab_registrations"}}},"designer":{"x":1800,"y":0},"parameters":[{"name":"datastore","type":"datastore","label":"Data store","required":true}]},"parameters":{"datastore":47247}}],"name":"Data Hygiene • Complete & Tidy","metadata":{"instant":false,"version":1,"designer":{"orphans":[],"samples":{"2":{"key":"68bc1ddfe3878caef4092c54::chrisfikes@gmail.com","data":{"labId":"68bc1ddfe3878caef4092c54","status":"active","labName":"Shred Those Exits!","labSlug":"68bc1ddfe3878caef4092c54","meetUrl":"https://meet.google.com/hbu-yahf-bkt","timeZone":"America/Chicago","createdAt":"2025-09-08T21:05:36.305Z","sentKeysStr":"1757458800::24::","studentName":"Chris Fikes","sessionsJson":"[{\"start\":\"2024-09-09T18:00:00-05:00\",\"end\":\"2024-09-09T19:30:00-05:00\"}\n,{\"start\":\"2024-09-16T18:00...","studentEmail":"chrisfikes@gmail.com"},"__IMTINDEX__":1,"__IMTLENGTH__":2},"3":{"end":"2024-09-09T19:30:00-05:00","start":"2024-09-09T18:00:00-05:00"},"11":{"lastEnd":{"end":"2025-06-30T19:30:00-05:00","start":"2025-06-30T18:00:00-05:00"}},"12":{"array":[{"end":"2025-06-30T19:30:00-05:00","start":"2025-06-30T18:00:00-05:00"}],"__IMTAGGLENGTH__":4},"13":{"result":{"diff":{"days":9,"hours":14,"years":0,"months":2,"minutes":11,"seconds":39},"text":"2 months, 9 days, 14 hours, 11 minutes, 39 seconds","dates":{"date1":{"ts":1751324400000,"utc":"2025-06-30T23:00:00.000Z","date":"06/30/2025","time":"23:00:00","unix":1751324400,"locale":"en-US","datetime":"06/30/2025, 23:00:00"},"date2":{"ts":1757423499835,"utc":"2025-09-09T13:11:39.835Z","date":"09/09/2025","time":"13:11:39","unix":1757423499,"locale":"en-US","datetime":"09/09/2025, 13:11:39"}},"units":{"days":70.59143327546296,"hours":1694.1943986111112,"years":0.19327277979825175,"months":2.319273357579021,"minutes":101651.66391666667,"seconds":6099099.835},"diff_formatted":{"days":"9 days","hours":"14 hours","years":"0 years","months":"2 months","minutes":"11 minutes","seconds":"39 seconds"},"units_formatted":{"days":"70.59 days","hours":"1694.19 hours","years":"0.19 years","months":"2.32 months","minutes":"101651.66 minutes","seconds":"6099099.83 seconds"}}},"14":{"key":"68bc1ddfe3878caef4092c54::chrisfikes@gmail.com"}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}