documents/make-scenarios/27 Oct 2025/Flight Lab Creation.json
{"flow":[{"id":1,"mapper":{},"module":"webflow:watchSites","version":2,"metadata":{"restore":{"parameters":{"__IMTHOOK__":{"data":{"editable":"false"},"label":"Flight Lab Creation Form Submission"}}},"designer":{"x":0,"y":150},"interface":[{"name":"name","type":"text","label":"Name"},{"name":"siteId","type":"text","label":"Site ID"},{"name":"data","spec":[{"name":"name","type":"text","label":"Name"},{"name":"email","type":"text","label":"Email"}],"type":"collection","label":"Data"},{"name":"submittedAt","type":"date","label":"Submitted At"},{"name":"formId","type":"text","label":"Form ID"}],"parameters":[{"name":"__IMTHOOK__","type":"hook:webflow2","label":"Webhook","required":true}]},"parameters":{"__IMTHOOK__":1205241}},{"id":8,"filter":{"name":"Flight Lab Form Filter","conditions":[[{"a":"{{1.name}}","b":"Flight Lab Form","o":"text:equal"}]]},"mapper":{"fields":{"name":"{{1.data.`Flight Lab Name`}}","slug":"{{1.id}}","coach":"{{1.data.`Coach CMS ID`}}","start-date":"{{1.data.appointment}}","skill-level-2":"{{1.data.`Skill Level`}}","time-zone-iana":"{{1.data.`Time Zone`}}","full-description":"{{1.data.`Lab Overview`}}","flight-lab-length":"{{1.data.`Flight Lab Length`}}","short-description":"{{1.data.`Short Description`}}","stripe-connect-id":"{{1.data.`Stripe Account ID`}}","lab-discipline-new":"{{1.data.`Lab Discipline`}}","student-requirements":"{{1.data.`student-reqs`}}","flight-lab-hero-image":{"url":"{{1.data.`uploaded-image`}}"},"group-session-meeting-day-n":"{{1.data.`Meeting Day`}}","pre-req-s-and-skills-covered":"{{1.data.`full-description`}}","maximum-number-of-participants":"{{1.data.`Max． # of Students`}}","group-session-length-in-minutes":"{{1.data.`Group Session Length`}}","private-coaching-session-included-new":"{{1.data.`Private Coaching Session Included?`}}","total-price-per-student-per-flight-lab":"{{1.data.`Total Price Per Student (USD)`}}"},"select":"list","site_id":"66e24eebb89dd7f162157cf4","collection_id":"688b77473be151fc6be7dfb8"},"module":"webflow:createItem","version":2,"metadata":{"expect":[{"name":"select","type":"select","label":"Choose Method","required":true,"validate":{"enum":["map","list"]}},{"name":"isArchived","type":"boolean","label":"Is Archived"},{"name":"isDraft","type":"boolean","label":"Is Draft"},{"name":"site_id","type":"select","label":"Site","required":true},{"name":"collection_id","type":"select","label":"Collection","required":true},{"name":"fields","spec":[{"name":"name","type":"text","label":"Flight Lab Name","required":true,"validate":{"max":256}},{"name":"coach","type":"select","label":"Coach"},{"name":"skill-level-2","type":"text","label":"Skill Level"},{"name":"lab-discipline","type":"select","label":"Lab Discipline Old","validate":{"enum":["090abfd31d2dd554896f9ce4accad68e","a131fef07e8dfcf8686aeee32036eaf7","274683db3140bcfb4569e7adfc180788","9c2ee229c914db9d45f30712e9c36eeb","c7cb99c920cb66b3fa40dfad982a0c46","50c2255cd9126f365169b2c6c9c6b161","f4e4062e71573a1431054556ddde6dad","14160ba62824a3a6f18a6cca510eac83","ffb0bb992b9f8b472054b2a50dc060a9","801daa8a79cd826a6d5b0092307cd2e9","54fba567ae0e6c6d697b0006a44792cb","171abb31c7412a5f581db3b06fbea915","dc9e91505f3e7f64d1107afccd641b4f","25037dbcb2a51240747eddd9bce38d59","64ec52cba890b05a713dbc5917efc418","5d24bd334c74a5c6ed13f73563f106b4","d5325831a4c8a214271b3e54480129aa","162672c3d514a81e97f67340ecc1acba","f455da2b35554abaf8994451884b7010","ac42ee8c8d885de515402847298d81e3","82c2ac207cb685bff6bfa4bb1ea7ef7b"]}},{"name":"lab-discipline-new","type":"text","label":"Lab Discipline"},{"name":"short-description","type":"text","label":"Short Description"},{"name":"full-description","type":"text","label":"Lab Overview"},{"name":"student-requirements","type":"text","label":"Student Requirements"},{"name":"pre-req-s-and-skills-covered","type":"text","label":"Full Description"},{"name":"flight-lab-length","type":"number","label":"Flight Lab Length"},{"name":"group-session-meeting-day-n","type":"text","label":"Group Session Meeting Day"},{"name":"start-date","time":true,"type":"date","label":"Start Date & Meeting Time (CST)"},{"name":"time-zone-iana","type":"text","label":"Time Zone (IANA)"},{"name":"group-session-length-in-minutes","type":"number","label":"Group Session Length (in minutes)"},{"name":"total-price-per-student-per-flight-lab","type":"number","label":"Total Price Per Student Per Flight Lab"},{"name":"maximum-number-of-participants","type":"number","label":"Maximum Number of Participants"},{"name":"private-coaching-session-included-new","type":"text","label":"Private Coaching Session Included?"},{"name":"flight-lab-hero-image","spec":[{"name":"url","type":"url","label":"URL"},{"name":"alt","type":"text","label":"Alternate Text"}],"type":"collection","label":"Flight Lab Hero Image"},{"name":"google-meet-link","type":"url","label":"Google Meet URL"},{"name":"gcal-event-id","type":"text","label":"GCAL Event ID"},{"name":"secure-checkout-url-leave-blank","type":"url","label":"Secure Checkout URL (LEAVE BLANK)"},{"name":"stripe-connect-id","type":"text","label":"Coach Stripe Account ID"},{"name":"sessions-json","type":"text"},{"name":"slug","type":"text","label":"Slug","validate":{"max":256}}],"type":"collection","label":"Fields"}],"restore":{"expect":{"fields":{"nested":{"coach":{"mode":"edit"},"lab-discipline":{"mode":"chose","label":"Empty"}}},"select":{"label":"Select from the list"},"isDraft":{"mode":"chose"},"site_id":{"label":"Krāv"},"isArchived":{"mode":"chose"},"collection_id":{"label":"Flight Labs","nested":[{"name":"fields","spec":[{"name":"name","type":"text","label":"Flight Lab Name","required":true,"validate":{"max":256}},{"name":"coach","type":"select","label":"Coach","options":"rpc://webflow/2/listItems?collection_id=6787fa84d46542504f9fdc33","required":false},{"name":"skill-level-2","type":"text","label":"Skill Level","required":false},{"name":"lab-discipline","type":"select","label":"Lab Discipline Old","options":[{"label":"Back Flying","value":"090abfd31d2dd554896f9ce4accad68e"},{"label":"Belly Flying","value":"a131fef07e8dfcf8686aeee32036eaf7"},{"label":"Camera Flying","value":"274683db3140bcfb4569e7adfc180788"},{"label":"Canopy Flocking","value":"9c2ee229c914db9d45f30712e9c36eeb"},{"label":"Canopy Piloting","value":"c7cb99c920cb66b3fa40dfad982a0c46"},{"label":"Competition/Team Dynamics","value":"50c2255cd9126f365169b2c6c9c6b161"},{"label":"CRW","value":"f4e4062e71573a1431054556ddde6dad"},{"label":"Flat Tracking","value":"14160ba62824a3a6f18a6cca510eac83"},{"label":"Freeflying","value":"ffb0bb992b9f8b472054b2a50dc060a9"},{"label":"Head Down","value":"801daa8a79cd826a6d5b0092307cd2e9"},{"label":"Head Up (Sit Flying)","value":"54fba567ae0e6c6d697b0006a44792cb"},{"label":"Movement (Angle Flying)","value":"171abb31c7412a5f581db3b06fbea915"},{"label":"Relative Work","value":"dc9e91505f3e7f64d1107afccd641b4f"},{"label":"Tunnel (Level 1)","value":"25037dbcb2a51240747eddd9bce38d59"},{"label":"Tunnel (Level 2)","value":"64ec52cba890b05a713dbc5917efc418"},{"label":"Tunnel (Level 3)","value":"5d24bd334c74a5c6ed13f73563f106b4"},{"label":"Tunnel (Level 4)","value":"d5325831a4c8a214271b3e54480129aa"},{"label":"Tunnel (Pro Flying)","value":"162672c3d514a81e97f67340ecc1acba"},{"label":"Tunnel (Freestyle)","value":"f455da2b35554abaf8994451884b7010"},{"label":"VFS","value":"ac42ee8c8d885de515402847298d81e3"},{"label":"Wingsuiting","value":"82c2ac207cb685bff6bfa4bb1ea7ef7b"}],"required":false},{"name":"lab-discipline-new","type":"text","label":"Lab Discipline","required":false},{"name":"short-description","type":"text","label":"Short Description","required":false},{"name":"full-description","type":"text","label":"Lab Overview","required":false},{"name":"student-requirements","type":"text","label":"Student Requirements","required":false,"multiline":true},{"name":"pre-req-s-and-skills-covered","type":"text","label":"Full Description","required":false,"multiline":true},{"name":"flight-lab-length","type":"number","label":"Flight Lab Length","required":false},{"name":"group-session-meeting-day-n","type":"text","label":"Group Session Meeting Day","required":false},{"name":"start-date","time":true,"type":"date","label":"Start Date & Meeting Time (CST)","required":false},{"name":"time-zone-iana","type":"text","label":"Time Zone (IANA)","required":false},{"name":"group-session-length-in-minutes","type":"number","label":"Group Session Length (in minutes)","required":false},{"name":"total-price-per-student-per-flight-lab","type":"number","label":"Total Price Per Student Per Flight Lab","required":false},{"name":"maximum-number-of-participants","type":"number","label":"Maximum Number of Participants","required":false},{"name":"private-coaching-session-included-new","type":"text","label":"Private Coaching Session Included?","required":false},{"name":"flight-lab-hero-image","spec":[{"help":"Valid URL with Image extension in it.","name":"url","type":"url","label":"URL","required":false},{"name":"alt","type":"text","label":"Alternate Text"}],"type":"collection","label":"Flight Lab Hero Image","required":false},{"name":"google-meet-link","type":"url","label":"Google Meet URL","required":false},{"name":"gcal-event-id","type":"text","label":"GCAL Event ID","required":false},{"name":"secure-checkout-url-leave-blank","type":"url","label":"Secure Checkout URL (LEAVE BLANK)","required":false},{"name":"stripe-connect-id","type":"text","label":"Coach Stripe Account ID","required":false},{"name":"sessions-json","type":"text","label":"sessions-json","required":false},{"help":"Must be alphanumerical and not contain any spaces or special characters","name":"slug","type":"text","label":"Slug","required":false,"validate":{"max":256}}],"type":"collection","label":"Fields"}]}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"webflow2"},"label":"Kravtofly (admin@kravtofly.com)"}}},"designer":{"x":300,"y":150},"interface":[{"name":"id","type":"text","label":"Item ID"},{"name":"lastPublished","type":"text","label":"Last Published"},{"name":"lastUpdated","type":"date","label":"Last Updated"},{"name":"createdOn","type":"date","label":"Created on"},{"name":"isArchived","type":"boolean","label":"Is Archived"},{"name":"isDraft","type":"boolean","label":"Is Draft"},{"name":"fieldData","spec":[{"name":"name","type":"text","label":"Flight Lab Name","required":true,"validate":{"max":256}},{"name":"coach","type":"text","label":"Coach","required":false},{"name":"skill-level-2","type":"text","label":"Skill Level","required":false},{"name":"lab-discipline","type":"select","label":"Lab Discipline Old","options":[{"label":"Back Flying","value":"090abfd31d2dd554896f9ce4accad68e"},{"label":"Belly Flying","value":"a131fef07e8dfcf8686aeee32036eaf7"},{"label":"Camera Flying","value":"274683db3140bcfb4569e7adfc180788"},{"label":"Canopy Flocking","value":"9c2ee229c914db9d45f30712e9c36eeb"},{"label":"Canopy Piloting","value":"c7cb99c920cb66b3fa40dfad982a0c46"},{"label":"Competition/Team Dynamics","value":"50c2255cd9126f365169b2c6c9c6b161"},{"label":"CRW","value":"f4e4062e71573a1431054556ddde6dad"},{"label":"Flat Tracking","value":"14160ba62824a3a6f18a6cca510eac83"},{"label":"Freeflying","value":"ffb0bb992b9f8b472054b2a50dc060a9"},{"label":"Head Down","value":"801daa8a79cd826a6d5b0092307cd2e9"},{"label":"Head Up (Sit Flying)","value":"54fba567ae0e6c6d697b0006a44792cb"},{"label":"Movement (Angle Flying)","value":"171abb31c7412a5f581db3b06fbea915"},{"label":"Relative Work","value":"dc9e91505f3e7f64d1107afccd641b4f"},{"label":"Tunnel (Level 1)","value":"25037dbcb2a51240747eddd9bce38d59"},{"label":"Tunnel (Level 2)","value":"64ec52cba890b05a713dbc5917efc418"},{"label":"Tunnel (Level 3)","value":"5d24bd334c74a5c6ed13f73563f106b4"},{"label":"Tunnel (Level 4)","value":"d5325831a4c8a214271b3e54480129aa"},{"label":"Tunnel (Pro Flying)","value":"162672c3d514a81e97f67340ecc1acba"},{"label":"Tunnel (Freestyle)","value":"f455da2b35554abaf8994451884b7010"},{"label":"VFS","value":"ac42ee8c8d885de515402847298d81e3"},{"label":"Wingsuiting","value":"82c2ac207cb685bff6bfa4bb1ea7ef7b"}],"required":false},{"name":"lab-discipline-new","type":"text","label":"Lab Discipline","required":false},{"name":"short-description","type":"text","label":"Short Description","required":false},{"name":"full-description","type":"text","label":"Lab Overview","required":false},{"name":"student-requirements","type":"text","label":"Student Requirements","required":false,"multiline":true},{"name":"pre-req-s-and-skills-covered","type":"text","label":"Full Description","required":false,"multiline":true},{"name":"flight-lab-length","type":"number","label":"Flight Lab Length","required":false},{"name":"group-session-meeting-day-n","type":"text","label":"Group Session Meeting Day","required":false},{"name":"start-date","time":true,"type":"date","label":"Start Date & Meeting Time (CST)","required":false},{"name":"time-zone-iana","type":"text","label":"Time Zone (IANA)","required":false},{"name":"group-session-length-in-minutes","type":"number","label":"Group Session Length (in minutes)","required":false},{"name":"total-price-per-student-per-flight-lab","type":"number","label":"Total Price Per Student Per Flight Lab","required":false},{"name":"maximum-number-of-participants","type":"number","label":"Maximum Number of Participants","required":false},{"name":"private-coaching-session-included-new","type":"text","label":"Private Coaching Session Included?","required":false},{"name":"flight-lab-hero-image","spec":[{"name":"url","type":"url","label":"URL"},{"name":"fileId","type":"text","label":"File ID"},{"name":"alt","type":"text","label":"Alternate Text"}],"type":"collection","label":"Flight Lab Hero Image","required":false},{"name":"google-meet-link","type":"url","label":"Google Meet URL","required":false},{"name":"gcal-event-id","type":"text","label":"GCAL Event ID","required":false},{"name":"secure-checkout-url-leave-blank","type":"url","label":"Secure Checkout URL (LEAVE BLANK)","required":false},{"name":"stripe-connect-id","type":"text","label":"Coach Stripe Account ID","required":false},{"name":"sessions-json","type":"text","label":"sessions-json","required":false},{"help":"Must be alphanumerical and not contain any spaces or special characters","name":"slug","type":"text","label":"Slug","required":false,"validate":{"max":256}}],"type":"collection","label":"Field Data"}],"parameters":[{"name":"__IMTCONN__","type":"account:webflow2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2518421}},{"id":10,"mapper":{"ca":"","qs":[],"url":"https://api.stripe.com/v1/checkout/sessions","gzip":true,"method":"post","headers":[{"name":"Authorization","value":"Bearer [REDACTED - USE ENV VAR]"},{"name":"Content-Type","value":"application/x-www-form-urlencoded"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"x_www_form_urlencoded","formFields":[{"key":"mode","value":"payment"},{"key":"success_url","value":"https://www.kravtofly.com/flight-lab-success?session_id={CHECKOUT_SESSION_ID}"},{"key":"cancel_url","value":"https://www.kravtofly.com/flight-lab-cancelled"},{"key":"line_items[0][price_data][currency]","value":"usd"},{"key":"line_items[0][price_data][unit_amount]","value":"{{8.fieldData.`total-price-per-student-per-flight-lab` * 100}}"},{"key":"line_items[0][quantity]","value":"1"},{"key":"line_items[0][price_data][product_data][name]","value":"{{8.fieldData.name}}"},{"key":"payment_intent_data[application_fee_amount]","value":"{{(8.fieldData.`total-price-per-student-per-flight-lab` * 100) * 0.15}}"},{"key":"payment_intent_data[transfer_data][destination]","value":"{{1.data.`Stripe Account ID`}}"},{"key":"metadata[coachName]","value":"{{8.fieldData.coach}}"},{"key":"metadata[coach_id]","value":""},{"key":"metadata[cms_id]","value":"{{8.id}}"},{"key":"metadata[flight_lab_title]","value":"{{8.fieldData.name}}"}],"serializeUrl":false,"shareCookies":false,"parseResponse":false,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"formFields","spec":[{"name":"key","type":"text","label":"Key","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Fields"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose","items":[null,null]},"bodyType":{"label":"Application/x-www-form-urlencoded"},"formFields":{"mode":"chose","items":[null,null,null,null,null,null,null,null,null,null,null,null,null]}}},"designer":{"x":600,"y":150},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":true,"useNewZLibDeCompress":true}},{"id":14,"mapper":{"json":"{{10.data}}"},"module":"json:ParseJSON","version":1,"metadata":{"expect":[{"name":"json","type":"text","label":"JSON string","required":true}],"restore":{"parameters":{"type":{"label":"Choose a data structure"}}},"designer":{"x":900,"y":150},"parameters":[{"name":"type","type":"udt","label":"Data structure"}]},"parameters":{"type":""}},{"id":16,"mapper":{"scope":"roundtrip","variables":[{"name":"tz","value":"{{ifempty(1.data.`Time Zone`; \"America/Chicago\")}}"},{"name":"start","value":"{{1.data.appointment}}"},{"name":"weeks","value":"{{1.data.`Flight Lab Length`}}"},{"name":"mins","value":"{{1.data.`Group Session Length`}}"},{"name":"title","value":"{{1.data.`Flight Lab Name`}}"},{"name":"desc","value":"{{1.data.`full-description`}}"},{"name":"byday","value":"{{1.data.`Meeting Day`}}"},{"name":"00","value":"00"}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null,null,null,null,null,null,null,null]}}},"designer":{"x":1200,"y":150},"interface":[{"name":"tz","type":"any","label":"tz"},{"name":"start","type":"any","label":"start"},{"name":"weeks","type":"any","label":"weeks"},{"name":"mins","type":"any","label":"mins"},{"name":"title","type":"any","label":"title"},{"name":"desc","type":"any","label":"desc"},{"name":"byday","type":"any","label":"byday"},{"name":"00","type":"any","label":"00"}]},"parameters":{}},{"id":27,"mapper":{"name":"formatted_time","scope":"roundtrip","value":"{{if(length(16.mins) = 0; \"01:00\"; floor(16.mins / 60) + \":\" + if((16.mins % 60) = 0; 16.`00`; (16.mins % 60)))}}"},"module":"util:SetVariable2","version":1,"metadata":{"expect":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}},{"name":"value","type":"any","label":"Variable value"}],"restore":{"expect":{"scope":{"label":"One cycle"}}},"designer":{"x":1500,"y":150},"interface":[{"name":"formatted_time","type":"any","label":"formatted_time"}]},"parameters":{}},{"id":26,"mapper":{"value":"0{{27.formatted_time}}"},"module":"util:ComposeTransformer","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{},"designer":{"x":1800,"y":150}},"parameters":{}},{"id":17,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":18,"filter":{"name":"Single week (≤1)","conditions":[[{"a":"{{1.data.`Flight Lab Length`}}","b":"1","o":"number:lessorequal"}]]},"mapper":{"start":"{{formatDate(parseDate(16.start; \"YYYY-MM-DD HH:mm\"); \"YYYY-MM-DD HH:mm:ssZ\"; 16.tz)}}","select":"detail","summary":"{{16.title}}","calendar":"chris@kravtofly.com","duration":"{{26.value}}","attendees":[{"email":"{{1.data.coachEmail}}","displayName":"Coach"},{"email":"admin@kravtofly.com","displayName":"Admin"}],"overrides":[{"method":"popup","minutes":"30"},{"method":"email","minutes":"1440"}],"visibility":"default","allDayEvent":false,"description":"Krāv Flight Lab with {{1.data.coachName}}\n{{1.data.`Short Description`}}","sendUpdates":"all","transparency":"opaque","conferenceDate":true,"guestPermissions":{"guestsCanModify":true,"guestsCanInviteOthers":true,"guestsCanSeeOtherGuests":true}},"module":"google-calendar:createAnEvent","version":5,"metadata":{"expect":[{"name":"select","type":"select","label":"Create an Event","required":true,"validate":{"enum":["quick","detail"]}},{"name":"calendar","type":"select","label":"Calendar ID","required":true},{"name":"colorId","type":"select","label":"Color"},{"name":"summary","type":"text","label":"Event Name","required":true},{"name":"allDayEvent","type":"boolean","label":"All Day Event","required":true},{"name":"start","time":true,"type":"date","label":"Start Date","required":true},{"name":"end","time":true,"type":"date","label":"End Date"},{"name":"duration","type":"time","label":"Duration"},{"name":"description","type":"text","label":"Description"},{"name":"location","type":"text","label":"Location"},{"name":"useDefault","type":"boolean","label":"Use the default reminder settings for this event"},{"name":"overrides","spec":[{"name":"method","type":"select","label":"Method","options":[{"label":"Email","value":"email"},{"label":"Pop-up","value":"popup"}],"required":true},{"name":"minutes","type":"uinteger","label":"Minutes","required":true,"validate":{"max":40320}}],"type":"array","label":"Reminders","validate":{"maxItems":5}},{"name":"attendees","spec":[{"name":"displayName","type":"text","label":"Name"},{"name":"email","type":"email","label":"Email","required":true}],"type":"array","label":"Attendees"},{"name":"transparency","type":"select","label":"Show me as","required":true,"validate":{"enum":["opaque","transparent"]}},{"name":"visibility","type":"select","label":"Visibility","required":true,"validate":{"enum":["default","public","private"]}},{"name":"sendUpdates","type":"select","label":"Send notifications about the event creation","validate":{"enum":["all","externalOnly","none"]}},{"name":"guestPermissions","spec":[{"name":"guestsCanModify","type":"boolean","label":"Modify event","required":true},{"name":"guestsCanInviteOthers","type":"boolean","label":"Invite others","required":true},{"name":"guestsCanSeeOtherGuests","type":"boolean","label":"See guest list","required":true}],"type":"collection","label":"Guest Permissions"},{"name":"recurrence","spec":{"name":"value","type":"text","label":"Value"},"type":"array","label":"Recurrence"},{"name":"conferenceDate","type":"boolean","label":"Add Google Meet Video Conferencing","required":true},{"name":"attachments","spec":[{"name":"fileUrl","type":"url","label":"File URL","required":true}],"type":"array","label":"Attachments"}],"restore":{"expect":{"select":{"label":"In Detail"},"colorId":{"mode":"chose"},"calendar":{"mode":"chose","label":"chris@kravtofly.com (Primary Calendar)"},"attendees":{"mode":"chose","items":[null,null]},"overrides":{"mode":"chose","items":[{"method":{"mode":"chose","label":"Pop-up"}},{"method":{"mode":"chose","label":"Email"}}]},"recurrence":{"mode":"chose"},"visibility":{"mode":"chose","label":"Default"},"allDayEvent":{"mode":"chose"},"attachments":{"mode":"chose"},"sendUpdates":{"mode":"chose","label":"To All Guests"},"transparency":{"mode":"chose","label":"Busy"},"conferenceDate":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"Krāv Google Connection (chris@kravtofly.com)"}}},"advanced":true,"designer":{"x":2400,"y":0},"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":4401759}},{"id":11,"mapper":{"fields":{"name":"{{8.fieldData.name}}","slug":"{{8.id}}","gcal-event-id":"{{18.id}}","sessions-json":"{{18.start}}","google-meet-link":"{{18.hangoutLink}}","flight-lab-hero-image":{},"secure-checkout-url-leave-blank":"{{14.url}}"},"select":"list","item_id":"{{8.id}}","site_id":"66e24eebb89dd7f162157cf4","collection_id":"688b77473be151fc6be7dfb8"},"module":"webflow:updateItem","version":2,"metadata":{"expect":[{"name":"select","type":"select","label":"Choose Method","required":true,"validate":{"enum":["map","list"]}},{"name":"isArchived","type":"boolean","label":"Is Archived"},{"name":"isDraft","type":"boolean","label":"Is Draft"},{"name":"site_id","type":"select","label":"Site","required":true},{"name":"collection_id","type":"select","label":"Collection","required":true},{"name":"item_id","type":"select","label":"Item","required":true},{"name":"fields","spec":[{"name":"name","type":"text","label":"Flight Lab Name","required":true,"validate":{"max":256}},{"name":"coach","type":"select","label":"Coach"},{"name":"skill-level-2","type":"text","label":"Skill Level"},{"name":"lab-discipline","type":"select","label":"Lab Discipline Old","validate":{"enum":["090abfd31d2dd554896f9ce4accad68e","a131fef07e8dfcf8686aeee32036eaf7","274683db3140bcfb4569e7adfc180788","9c2ee229c914db9d45f30712e9c36eeb","c7cb99c920cb66b3fa40dfad982a0c46","50c2255cd9126f365169b2c6c9c6b161","f4e4062e71573a1431054556ddde6dad","14160ba62824a3a6f18a6cca510eac83","ffb0bb992b9f8b472054b2a50dc060a9","801daa8a79cd826a6d5b0092307cd2e9","54fba567ae0e6c6d697b0006a44792cb","171abb31c7412a5f581db3b06fbea915","dc9e91505f3e7f64d1107afccd641b4f","25037dbcb2a51240747eddd9bce38d59","64ec52cba890b05a713dbc5917efc418","5d24bd334c74a5c6ed13f73563f106b4","d5325831a4c8a214271b3e54480129aa","162672c3d514a81e97f67340ecc1acba","f455da2b35554abaf8994451884b7010","ac42ee8c8d885de515402847298d81e3","82c2ac207cb685bff6bfa4bb1ea7ef7b"]}},{"name":"lab-discipline-new","type":"text","label":"Lab Discipline"},{"name":"short-description","type":"text","label":"Short Description"},{"name":"full-description","type":"text","label":"Lab Overview"},{"name":"student-requirements","type":"text","label":"Student Requirements"},{"name":"pre-req-s-and-skills-covered","type":"text","label":"Full Description"},{"name":"flight-lab-length","type":"number","label":"Flight Lab Length"},{"name":"group-session-meeting-day-n","type":"text","label":"Group Session Meeting Day"},{"name":"start-date","time":true,"type":"date","label":"Start Date & Meeting Time (CST)"},{"name":"time-zone-iana","type":"text","label":"Time Zone (IANA)"},{"name":"group-session-length-in-minutes","type":"number","label":"Group Session Length (in minutes)"},{"name":"total-price-per-student-per-flight-lab","type":"number","label":"Total Price Per Student Per Flight Lab"},{"name":"maximum-number-of-participants","type":"number","label":"Maximum Number of Participants"},{"name":"private-coaching-session-included-new","type":"text","label":"Private Coaching Session Included?"},{"name":"flight-lab-hero-image","spec":[{"name":"url","type":"url","label":"URL"},{"name":"alt","type":"text","label":"Alternate Text"}],"type":"collection","label":"Flight Lab Hero Image"},{"name":"google-meet-link","type":"url","label":"Google Meet URL"},{"name":"gcal-event-id","type":"text","label":"GCAL Event ID"},{"name":"secure-checkout-url-leave-blank","type":"url","label":"Secure Checkout URL (LEAVE BLANK)"},{"name":"stripe-connect-id","type":"text","label":"Coach Stripe Account ID"},{"name":"sessions-json","type":"text"},{"name":"slug","type":"text","label":"Slug","validate":{"max":256}}],"type":"collection","label":"Fields"}],"restore":{"expect":{"fields":{"nested":{"coach":{"mode":"chose"},"lab-discipline":{"mode":"chose","label":"Empty"}}},"select":{"label":"Select from the list"},"isDraft":{"mode":"chose"},"item_id":{"mode":"edit"},"site_id":{"label":"Krāv"},"isArchived":{"mode":"chose"},"collection_id":{"label":"Flight Labs"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"webflow2"},"label":"Kravtofly (admin@kravtofly.com)"}}},"designer":{"x":2700,"y":0},"interface":[{"name":"id","type":"text","label":"Item ID"},{"name":"lastPublished","type":"text","label":"Last Published"},{"name":"lastUpdated","type":"date","label":"Last Updated"},{"name":"createdOn","type":"date","label":"Created on"},{"name":"isArchived","type":"boolean","label":"Is Archived"},{"name":"isDraft","type":"boolean","label":"Is Draft"},{"name":"fieldData","spec":[{"name":"name","type":"text","label":"Flight Lab Name","required":true,"validate":{"max":256}},{"name":"coach","type":"text","label":"Coach","required":false},{"name":"skill-level-2","type":"text","label":"Skill Level","required":false},{"name":"lab-discipline","type":"select","label":"Lab Discipline Old","options":[{"label":"Back Flying","value":"090abfd31d2dd554896f9ce4accad68e"},{"label":"Belly Flying","value":"a131fef07e8dfcf8686aeee32036eaf7"},{"label":"Camera Flying","value":"274683db3140bcfb4569e7adfc180788"},{"label":"Canopy Flocking","value":"9c2ee229c914db9d45f30712e9c36eeb"},{"label":"Canopy Piloting","value":"c7cb99c920cb66b3fa40dfad982a0c46"},{"label":"Competition/Team Dynamics","value":"50c2255cd9126f365169b2c6c9c6b161"},{"label":"CRW","value":"f4e4062e71573a1431054556ddde6dad"},{"label":"Flat Tracking","value":"14160ba62824a3a6f18a6cca510eac83"},{"label":"Freeflying","value":"ffb0bb992b9f8b472054b2a50dc060a9"},{"label":"Head Down","value":"801daa8a79cd826a6d5b0092307cd2e9"},{"label":"Head Up (Sit Flying)","value":"54fba567ae0e6c6d697b0006a44792cb"},{"label":"Movement (Angle Flying)","value":"171abb31c7412a5f581db3b06fbea915"},{"label":"Relative Work","value":"dc9e91505f3e7f64d1107afccd641b4f"},{"label":"Tunnel (Level 1)","value":"25037dbcb2a51240747eddd9bce38d59"},{"label":"Tunnel (Level 2)","value":"64ec52cba890b05a713dbc5917efc418"},{"label":"Tunnel (Level 3)","value":"5d24bd334c74a5c6ed13f73563f106b4"},{"label":"Tunnel (Level 4)","value":"d5325831a4c8a214271b3e54480129aa"},{"label":"Tunnel (Pro Flying)","value":"162672c3d514a81e97f67340ecc1acba"},{"label":"Tunnel (Freestyle)","value":"f455da2b35554abaf8994451884b7010"},{"label":"VFS","value":"ac42ee8c8d885de515402847298d81e3"},{"label":"Wingsuiting","value":"82c2ac207cb685bff6bfa4bb1ea7ef7b"}],"required":false},{"name":"lab-discipline-new","type":"text","label":"Lab Discipline","required":false},{"name":"short-description","type":"text","label":"Short Description","required":false},{"name":"full-description","type":"text","label":"Lab Overview","required":false},{"name":"student-requirements","type":"text","label":"Student Requirements","required":false,"multiline":true},{"name":"pre-req-s-and-skills-covered","type":"text","label":"Full Description","required":false,"multiline":true},{"name":"flight-lab-length","type":"number","label":"Flight Lab Length","required":false},{"name":"group-session-meeting-day-n","type":"text","label":"Group Session Meeting Day","required":false},{"name":"start-date","time":true,"type":"date","label":"Start Date & Meeting Time (CST)","required":false},{"name":"time-zone-iana","type":"text","label":"Time Zone (IANA)","required":false},{"name":"group-session-length-in-minutes","type":"number","label":"Group Session Length (in minutes)","required":false},{"name":"total-price-per-student-per-flight-lab","type":"number","label":"Total Price Per Student Per Flight Lab","required":false},{"name":"maximum-number-of-participants","type":"number","label":"Maximum Number of Participants","required":false},{"name":"private-coaching-session-included-new","type":"text","label":"Private Coaching Session Included?","required":false},{"name":"flight-lab-hero-image","spec":[{"name":"url","type":"url","label":"URL"},{"name":"fileId","type":"text","label":"File ID"},{"name":"alt","type":"text","label":"Alternate Text"}],"type":"collection","label":"Flight Lab Hero Image","required":false},{"name":"google-meet-link","type":"url","label":"Google Meet URL","required":false},{"name":"gcal-event-id","type":"text","label":"GCAL Event ID","required":false},{"name":"secure-checkout-url-leave-blank","type":"url","label":"Secure Checkout URL (LEAVE BLANK)","required":false},{"name":"stripe-connect-id","type":"text","label":"Coach Stripe Account ID","required":false},{"name":"sessions-json","type":"text","label":"sessions-json","required":false},{"help":"Must be alphanumerical and not contain any spaces or special characters","name":"slug","type":"text","label":"Slug","required":false,"validate":{"max":256}}],"type":"collection","label":"Field Data"}],"parameters":[{"name":"__IMTCONN__","type":"account:webflow2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2518421}},{"id":15,"mapper":{"itemIds":"{{11.id}}","site_id":"66e24eebb89dd7f162157cf4","collection_id":"688b77473be151fc6be7dfb8"},"module":"webflow:publishAnItem","version":2,"metadata":{"expect":[{"name":"site_id","type":"select","label":"Site","required":true},{"name":"collection_id","type":"select","label":"Collection","required":true},{"name":"itemIds","type":"select","label":"Item IDs","multiple":true,"required":true}],"restore":{"expect":{"itemIds":{"mode":"edit"},"site_id":{"mode":"chose","label":"Krāv"},"collection_id":{"mode":"chose","label":"Flight Labs"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"webflow2"},"label":"Kravtofly (admin@kravtofly.com)"}}},"designer":{"x":3000,"y":0},"parameters":[{"name":"__IMTCONN__","type":"account:webflow2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2518421}},{"id":37,"mapper":{"limit":"10","calendar":"chris@kravtofly.com"},"module":"google-calendar:listAccessControls","version":5,"metadata":{"expect":[{"name":"calendar","type":"select","label":"Calendar ID","required":true},{"name":"limit","type":"uinteger","label":"Limit"}],"restore":{"expect":{"calendar":{"mode":"chose","label":"chris@kravtofly.com (Primary Calendar)"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"Krāv Google Connection (chris@kravtofly.com)"}}},"designer":{"x":3300,"y":0},"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":4401759}}]},{"flow":[{"id":19,"filter":{"name":"Recurring (>1)","conditions":[[{"a":"{{1.data.`Flight Lab Length`}}","b":"1","o":"number:greater"}]]},"mapper":{"start":"{{formatDate(parseDate(16.start; \"YYYY-MM-DD HH:mm\"); \"YYYY-MM-DD HH:mm:ssZ\"; 16.tz)}}","select":"detail","summary":"{{16.title}}","calendar":"chris@kravtofly.com","duration":"{{26.value}}","attendees":[{"email":"{{1.data.coachEmail}}","displayName":"Coach"},{"email":"admin@kravtofly.com","displayName":"Admin"}],"overrides":[{"method":"popup","minutes":"30"},{"method":"email","minutes":"1440"}],"recurrence":["RRULE:FREQ=WEEKLY;BYDAY={{16.byday}};COUNT={{16.weeks}}"],"useDefault":false,"visibility":"default","allDayEvent":false,"description":"Krāv Flight Lab with {{1.data.coachName}}\n{{1.data.`Short Description`}}","sendUpdates":"all","transparency":"opaque","conferenceDate":true,"guestPermissions":{"guestsCanModify":true,"guestsCanInviteOthers":true,"guestsCanSeeOtherGuests":true}},"module":"google-calendar:createAnEvent","version":5,"metadata":{"expect":[{"name":"select","type":"select","label":"Create an Event","required":true,"validate":{"enum":["quick","detail"]}},{"name":"calendar","type":"select","label":"Calendar ID","required":true},{"name":"colorId","type":"select","label":"Color"},{"name":"summary","type":"text","label":"Event Name","required":true},{"name":"allDayEvent","type":"boolean","label":"All Day Event","required":true},{"name":"start","time":true,"type":"date","label":"Start Date","required":true},{"name":"end","time":true,"type":"date","label":"End Date"},{"name":"duration","type":"time","label":"Duration"},{"name":"description","type":"text","label":"Description"},{"name":"location","type":"text","label":"Location"},{"name":"useDefault","type":"boolean","label":"Use the default reminder settings for this event"},{"name":"overrides","spec":[{"name":"method","type":"select","label":"Method","options":[{"label":"Email","value":"email"},{"label":"Pop-up","value":"popup"}],"required":true},{"name":"minutes","type":"uinteger","label":"Minutes","required":true,"validate":{"max":40320}}],"type":"array","label":"Reminders","validate":{"maxItems":5}},{"name":"attendees","spec":[{"name":"displayName","type":"text","label":"Name"},{"name":"email","type":"email","label":"Email","required":true}],"type":"array","label":"Attendees"},{"name":"transparency","type":"select","label":"Show me as","required":true,"validate":{"enum":["opaque","transparent"]}},{"name":"visibility","type":"select","label":"Visibility","required":true,"validate":{"enum":["default","public","private"]}},{"name":"sendUpdates","type":"select","label":"Send notifications about the event creation","validate":{"enum":["all","externalOnly","none"]}},{"name":"guestPermissions","spec":[{"name":"guestsCanModify","type":"boolean","label":"Modify event","required":true},{"name":"guestsCanInviteOthers","type":"boolean","label":"Invite others","required":true},{"name":"guestsCanSeeOtherGuests","type":"boolean","label":"See guest list","required":true}],"type":"collection","label":"Guest Permissions"},{"name":"recurrence","spec":{"name":"value","type":"text","label":"Value"},"type":"array","label":"Recurrence"},{"name":"conferenceDate","type":"boolean","label":"Add Google Meet Video Conferencing","required":true},{"name":"attachments","spec":[{"name":"fileUrl","type":"url","label":"File URL","required":true}],"type":"array","label":"Attachments"}],"restore":{"expect":{"select":{"label":"In Detail"},"colorId":{"mode":"chose"},"calendar":{"mode":"chose","label":"chris@kravtofly.com (Primary Calendar)"},"attendees":{"mode":"chose","items":[null,null]},"overrides":{"mode":"chose","items":[{"method":{"mode":"chose","label":"Pop-up"}},{"method":{"mode":"chose","label":"Email"}}]},"recurrence":{"mode":"chose","items":[null]},"visibility":{"mode":"chose","label":"Default"},"allDayEvent":{"mode":"chose"},"attachments":{"mode":"chose"},"sendUpdates":{"mode":"chose","label":"To All Guests"},"transparency":{"mode":"chose","label":"Busy"},"conferenceDate":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"Krāv Google Connection (chris@kravtofly.com)"}}},"advanced":true,"designer":{"x":2400,"y":300},"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":4401759}},{"id":28,"mapper":{"url":"/v3/calendars/c_698237cebe635942575f1a5e5591aff61ee700e1e1fccd8c0c6c0e795cb10d30@group.calendar.google.com/events/{{19.id}}/instances","method":"GET","headers":[{"key":"Content-Type","value":"application/json"}]},"module":"google-calendar:makeApiCall","version":5,"metadata":{"expect":[{"name":"url","type":"text","label":"URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["GET","POST","PUT","PATCH","DELETE"]}},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key"},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"key","type":"text","label":"Key"},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"body","type":"any","label":"Body"}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null]}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"Krāv Google Connection (chris@kravtofly.com)"}}},"designer":{"x":2700,"y":300},"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":4401759}},{"id":30,"mapper":{"array":"{{28.body.items}}"},"module":"builtin:BasicFeeder","version":1,"metadata":{"expect":[{"mode":"edit","name":"array","spec":[],"type":"array","label":"Array"}],"restore":{"expect":{"array":{"mode":"edit"}}},"designer":{"x":3000,"y":300}},"parameters":{}},{"id":31,"mapper":{"value":"{\"start\":\"{{30.start.dateTime}}\",\"end\":\"{{30.end.dateTime}}\"}\n"},"module":"util:TextAggregator","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{"extra":{"feeder":{"label":"Iterator [30]"}},"parameters":{"rowSeparator":{"label":"Other"}}},"advanced":true,"designer":{"x":3300,"y":300},"parameters":[{"name":"rowSeparator","type":"select","label":"Row separator","validate":{"enum":["\n","\t","other"]}},{"name":"otherRowSeparator","type":"text","label":"Separator"}]},"parameters":{"feeder":30,"rowSeparator":"other","otherRowSeparator":","}},{"id":33,"mapper":{"name":"json-sessions","scope":"roundtrip","value":"[{{31.text}}]"},"module":"util:SetVariable2","version":1,"metadata":{"expect":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}},{"name":"value","type":"any","label":"Variable value"}],"restore":{"expect":{"scope":{"label":"One cycle"}}},"designer":{"x":3600,"y":300},"interface":[{"name":"json-sessions","type":"any","label":"json-sessions"}]},"parameters":{}},{"id":22,"mapper":{"fields":{"name":"{{8.fieldData.name}}","slug":"{{8.id}}","gcal-event-id":"{{19.id}}","sessions-json":"{{33.`json-sessions`}}","google-meet-link":"{{19.hangoutLink}}","flight-lab-hero-image":{},"secure-checkout-url-leave-blank":"{{14.url}}"},"select":"list","item_id":"{{8.id}}","site_id":"66e24eebb89dd7f162157cf4","collection_id":"688b77473be151fc6be7dfb8"},"module":"webflow:updateItem","version":2,"metadata":{"expect":[{"name":"select","type":"select","label":"Choose Method","required":true,"validate":{"enum":["map","list"]}},{"name":"isArchived","type":"boolean","label":"Is Archived"},{"name":"isDraft","type":"boolean","label":"Is Draft"},{"name":"site_id","type":"select","label":"Site","required":true},{"name":"collection_id","type":"select","label":"Collection","required":true},{"name":"item_id","type":"select","label":"Item","required":true},{"name":"fields","spec":[{"name":"name","type":"text","label":"Flight Lab Name","required":true,"validate":{"max":256}},{"name":"coach","type":"select","label":"Coach"},{"name":"skill-level-2","type":"text","label":"Skill Level"},{"name":"lab-discipline","type":"select","label":"Lab Discipline Old","validate":{"enum":["090abfd31d2dd554896f9ce4accad68e","a131fef07e8dfcf8686aeee32036eaf7","274683db3140bcfb4569e7adfc180788","9c2ee229c914db9d45f30712e9c36eeb","c7cb99c920cb66b3fa40dfad982a0c46","50c2255cd9126f365169b2c6c9c6b161","f4e4062e71573a1431054556ddde6dad","14160ba62824a3a6f18a6cca510eac83","ffb0bb992b9f8b472054b2a50dc060a9","801daa8a79cd826a6d5b0092307cd2e9","54fba567ae0e6c6d697b0006a44792cb","171abb31c7412a5f581db3b06fbea915","dc9e91505f3e7f64d1107afccd641b4f","25037dbcb2a51240747eddd9bce38d59","64ec52cba890b05a713dbc5917efc418","5d24bd334c74a5c6ed13f73563f106b4","d5325831a4c8a214271b3e54480129aa","162672c3d514a81e97f67340ecc1acba","f455da2b35554abaf8994451884b7010","ac42ee8c8d885de515402847298d81e3","82c2ac207cb685bff6bfa4bb1ea7ef7b"]}},{"name":"lab-discipline-new","type":"text","label":"Lab Discipline"},{"name":"short-description","type":"text","label":"Short Description"},{"name":"full-description","type":"text","label":"Lab Overview"},{"name":"student-requirements","type":"text","label":"Student Requirements"},{"name":"pre-req-s-and-skills-covered","type":"text","label":"Full Description"},{"name":"flight-lab-length","type":"number","label":"Flight Lab Length"},{"name":"group-session-meeting-day-n","type":"text","label":"Group Session Meeting Day"},{"name":"start-date","time":true,"type":"date","label":"Start Date & Meeting Time (CST)"},{"name":"group-session-length-in-minutes","type":"number","label":"Group Session Length (in minutes)"},{"name":"total-price-per-student-per-flight-lab","type":"number","label":"Total Price Per Student Per Flight Lab"},{"name":"maximum-number-of-participants","type":"number","label":"Maximum Number of Participants"},{"name":"private-coaching-session-included-new","type":"text","label":"Private Coaching Session Included?"},{"name":"flight-lab-hero-image","spec":[{"name":"url","type":"url","label":"URL"},{"name":"alt","type":"text","label":"Alternate Text"}],"type":"collection","label":"Flight Lab Hero Image"},{"name":"google-meet-link","type":"url","label":"Google Meet URL"},{"name":"gcal-event-id","type":"text","label":"GCAL Event ID"},{"name":"secure-checkout-url-leave-blank","type":"url","label":"Secure Checkout URL (LEAVE BLANK)"},{"name":"stripe-connect-id","type":"text","label":"Coach Stripe Account ID"},{"name":"sessions-json","type":"text"},{"name":"slug","type":"text","label":"Slug","validate":{"max":256}}],"type":"collection","label":"Fields"}],"restore":{"expect":{"fields":{"nested":{"coach":{"mode":"chose"},"lab-discipline":{"mode":"chose","label":"Empty"}}},"select":{"label":"Select from the list"},"isDraft":{"mode":"chose"},"item_id":{"mode":"edit"},"site_id":{"label":"Krāv"},"isArchived":{"mode":"chose"},"collection_id":{"label":"Flight Labs"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"webflow2"},"label":"Kravtofly (admin@kravtofly.com)"}}},"designer":{"x":3900,"y":300},"interface":[{"name":"id","type":"text","label":"Item ID"},{"name":"lastPublished","type":"text","label":"Last Published"},{"name":"lastUpdated","type":"date","label":"Last Updated"},{"name":"createdOn","type":"date","label":"Created on"},{"name":"isArchived","type":"boolean","label":"Is Archived"},{"name":"isDraft","type":"boolean","label":"Is Draft"},{"name":"fieldData","spec":[{"name":"name","type":"text","label":"Flight Lab Name","required":true,"validate":{"max":256}},{"name":"coach","type":"text","label":"Coach","required":false},{"name":"skill-level-2","type":"text","label":"Skill Level","required":false},{"name":"lab-discipline","type":"select","label":"Lab Discipline Old","options":[{"label":"Back Flying","value":"090abfd31d2dd554896f9ce4accad68e"},{"label":"Belly Flying","value":"a131fef07e8dfcf8686aeee32036eaf7"},{"label":"Camera Flying","value":"274683db3140bcfb4569e7adfc180788"},{"label":"Canopy Flocking","value":"9c2ee229c914db9d45f30712e9c36eeb"},{"label":"Canopy Piloting","value":"c7cb99c920cb66b3fa40dfad982a0c46"},{"label":"Competition/Team Dynamics","value":"50c2255cd9126f365169b2c6c9c6b161"},{"label":"CRW","value":"f4e4062e71573a1431054556ddde6dad"},{"label":"Flat Tracking","value":"14160ba62824a3a6f18a6cca510eac83"},{"label":"Freeflying","value":"ffb0bb992b9f8b472054b2a50dc060a9"},{"label":"Head Down","value":"801daa8a79cd826a6d5b0092307cd2e9"},{"label":"Head Up (Sit Flying)","value":"54fba567ae0e6c6d697b0006a44792cb"},{"label":"Movement (Angle Flying)","value":"171abb31c7412a5f581db3b06fbea915"},{"label":"Relative Work","value":"dc9e91505f3e7f64d1107afccd641b4f"},{"label":"Tunnel (Level 1)","value":"25037dbcb2a51240747eddd9bce38d59"},{"label":"Tunnel (Level 2)","value":"64ec52cba890b05a713dbc5917efc418"},{"label":"Tunnel (Level 3)","value":"5d24bd334c74a5c6ed13f73563f106b4"},{"label":"Tunnel (Level 4)","value":"d5325831a4c8a214271b3e54480129aa"},{"label":"Tunnel (Pro Flying)","value":"162672c3d514a81e97f67340ecc1acba"},{"label":"Tunnel (Freestyle)","value":"f455da2b35554abaf8994451884b7010"},{"label":"VFS","value":"ac42ee8c8d885de515402847298d81e3"},{"label":"Wingsuiting","value":"82c2ac207cb685bff6bfa4bb1ea7ef7b"}],"required":false},{"name":"lab-discipline-new","type":"text","label":"Lab Discipline","required":false},{"name":"short-description","type":"text","label":"Short Description","required":false},{"name":"full-description","type":"text","label":"Lab Overview","required":false},{"name":"student-requirements","type":"text","label":"Student Requirements","required":false,"multiline":true},{"name":"pre-req-s-and-skills-covered","type":"text","label":"Full Description","required":false,"multiline":true},{"name":"flight-lab-length","type":"number","label":"Flight Lab Length","required":false},{"name":"group-session-meeting-day-n","type":"text","label":"Group Session Meeting Day","required":false},{"name":"start-date","time":true,"type":"date","label":"Start Date & Meeting Time (CST)","required":false},{"name":"group-session-length-in-minutes","type":"number","label":"Group Session Length (in minutes)","required":false},{"name":"total-price-per-student-per-flight-lab","type":"number","label":"Total Price Per Student Per Flight Lab","required":false},{"name":"maximum-number-of-participants","type":"number","label":"Maximum Number of Participants","required":false},{"name":"private-coaching-session-included-new","type":"text","label":"Private Coaching Session Included?","required":false},{"name":"flight-lab-hero-image","spec":[{"name":"url","type":"url","label":"URL"},{"name":"fileId","type":"text","label":"File ID"},{"name":"alt","type":"text","label":"Alternate Text"}],"type":"collection","label":"Flight Lab Hero Image","required":false},{"name":"google-meet-link","type":"url","label":"Google Meet URL","required":false},{"name":"gcal-event-id","type":"text","label":"GCAL Event ID","required":false},{"name":"secure-checkout-url-leave-blank","type":"url","label":"Secure Checkout URL (LEAVE BLANK)","required":false},{"name":"stripe-connect-id","type":"text","label":"Coach Stripe Account ID","required":false},{"name":"sessions-json","type":"text","label":"sessions-json","required":false},{"help":"Must be alphanumerical and not contain any spaces or special characters","name":"slug","type":"text","label":"Slug","required":false,"validate":{"max":256}}],"type":"collection","label":"Field Data"}],"parameters":[{"name":"__IMTCONN__","type":"account:webflow2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2518421}},{"id":23,"mapper":{"itemIds":"{{22.id}}","site_id":"66e24eebb89dd7f162157cf4","collection_id":"688b77473be151fc6be7dfb8"},"module":"webflow:publishAnItem","version":2,"metadata":{"expect":[{"name":"site_id","type":"select","label":"Site","required":true},{"name":"collection_id","type":"select","label":"Collection","required":true},{"name":"itemIds","type":"select","label":"Item IDs","multiple":true,"required":true}],"restore":{"expect":{"itemIds":{"mode":"edit"},"site_id":{"mode":"chose","label":"Krāv"},"collection_id":{"mode":"chose","label":"Flight Labs"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"webflow2"},"label":"Kravtofly (admin@kravtofly.com)"}}},"designer":{"x":4200,"y":300},"parameters":[{"name":"__IMTCONN__","type":"account:webflow2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2518421}}]}],"version":1,"metadata":{"designer":{"x":2100,"y":150}}}],"name":"Flight Lab Creation","metadata":{"instant":true,"version":1,"designer":{"orphans":[],"samples":{"1":{"id":"68dd83999a8e75f2db1191aa","data":{"CoachID":"mem_cmewpisk0005z0xkk2nyo6imr","Field 11":"","Field 13":"","Time Zone":"America/Chicago","coachName":"Chris Fikes","coachEmail":"chrisfikes@gmail.com","Meeting Day":"WE","Skill Level":"Intermediate","appointment":"2025-10-01T14:45","Coach CMS ID":"68b1857d1c2d7a264e6138f5","Lab Overview":"lab alpha overview","student-reqs":"<p>alpha student reqs</p>","Lab Discipline":"Canopy Flocking","uploaded-image":"","Flight Lab Name":"Alpha Test","full-description":"<p>alpha full desc</p>","Flight Lab Length":"3","Short Description":"short alpha description","Stripe Account ID":"acct_1RycYAQxoFIFJOQV","Group Session Length":"30","Max． # of Students":"5","Total Price Per Student (USD)":"50","Private Coaching Session Included?":"No"},"name":"Flight Lab Form","formId":"689df6f78aec8ba4e7198ab5","pageId":"689ba64653c50509ddad5510","schema":[{"fieldName":"Coach CMS ID","fieldType":"FormTextInput","fieldElementId":"09ab7f61-ffa7-ec34-b6b2-07da78d309db"}],"siteId":"66e24eebb89dd7f162157cf4","pageUrl":"https://www.kravtofly.com/flight-lab-creation","submittedAt":"2025-10-01T19:40:08.995Z","formElementId":"ff0cc5bb-9fcc-c9de-d315-19c2bfee78bb","publishedPath":"/flight-lab-creation"},"8":{"id":"68dd8399ee8affd3f5c520f0","isDraft":true,"createdOn":"2025-10-01T19:40:09.939Z","fieldData":{"name":"Alpha Test","slug":"68dd83999a8e75f2db1191aa","coach":"68b1857d1c2d7a264e6138f5","start-date":"2025-10-01T18:45:00.000Z","skill-level-2":"Intermediate","time-zone-iana":"America/Chicago","full-description":"lab alpha overview","flight-lab-length":3,"short-description":"short alpha description","stripe-connect-id":"acct_1RycYAQxoFIFJOQV","lab-discipline-new":"Canopy Flocking","student-requirements":"<p>alpha student reqs</p>","group-session-meeting-day-n":"WE","pre-req-s-and-skills-covered":"<p>alpha full desc</p>","maximum-number-of-participants":5,"group-session-length-in-minutes":30,"private-coaching-session-included-new":"No","total-price-per-student-per-flight-lab":50},"isArchived":false,"cmsLocaleId":"66e24eecb89dd7f162157d3f","lastUpdated":"2025-10-01T19:40:09.939Z","lastPublished":null},"10":{"data":"{\n  \"id\": \"cs_live_a1l8i9Nhi9EjDtvb5K453kZKlDqbXAJ9Rc1tzTVGgtLN5rbVMYfO6OEa2I\",\n  \"object\": \"checkou...","headers":[{"name":"strict-transport-security","value":"max-age=63072000; includeSubDomains; preload"}],"fileSize":3433,"statusCode":200,"cookieHeaders":[]},"11":{"id":"68b25112dd17d32c6bc27efa","isDraft":true,"createdOn":"2025-08-30T01:17:06.399Z","fieldData":{"name":"test321","slug":"68b25112dd17d32c6bc27efa","start-date":null,"skill-level-2":null,"full-description":null,"flight-lab-length":null,"short-description":null,"stripe-connect-id":"acct_1RycYAQxoFIFJOQV","lab-discipline-new":null,"student-requirements":"<p>test321</p>","group-session-meeting-day-n":null,"pre-req-s-and-skills-covered":"<p>test321</p>","maximum-number-of-participants":8,"group-session-length-in-minutes":null,"secure-checkout-url-leave-blank":"https://checkout.kravtofly.com/c/pay/cs_live_a1snXy03g2Kg4dQSfJwpCBEDJFhkvMavGFmV7BSMERqZEYWz9ri2M1T...","private-coaching-session-included-new":null,"total-price-per-student-per-flight-lab":3},"isArchived":false,"cmsLocaleId":"66e24eecb89dd7f162157d3f","lastUpdated":"2025-08-30T01:17:07.259Z","lastPublished":null},"14":{"id":"cs_live_a1l8i9Nhi9EjDtvb5K453kZKlDqbXAJ9Rc1tzTVGgtLN5rbVMYfO6OEa2I","url":"https://checkout.kravtofly.com/c/pay/cs_live_a1l8i9Nhi9EjDtvb5K453kZKlDqbXAJ9Rc1tzTVGgtLN5rbVMYfO6OE...","mode":"payment","locale":null,"object":"checkout.session","status":"open","consent":null,"created":1759347610,"invoice":null,"ui_mode":"hosted","currency":"usd","customer":null,"livemode":true,"metadata":{"cms_id":"68dd8399ee8affd3f5c520f0","coachName":"68b1857d1c2d7a264e6138f5","flight_lab_title":"Alpha Test"},"shipping":null,"discounts":[],"cancel_url":"https://www.kravtofly.com/flight-lab-cancelled","expires_at":1759434010,"custom_text":{"submit":null,"after_submit":null,"shipping_address":null,"terms_of_service_acceptance":null},"permissions":null,"submit_type":null,"success_url":"https://www.kravtofly.com/flight-lab-success?session_id={CHECKOUT_SESSION_ID}","amount_total":5000,"payment_link":null,"setup_intent":null,"subscription":null,"automatic_tax":{"status":null,"enabled":false,"provider":null,"liability":null},"client_secret":null,"custom_fields":[],"shipping_rate":null,"total_details":{"amount_tax":0,"amount_discount":0,"amount_shipping":0},"customer_email":null,"origin_context":null,"payment_intent":"pi_3SDVskJ83k5LEyXm08WAVFu6","payment_status":"unpaid","recovered_from":null,"wallet_options":null,"amount_subtotal":5000,"adaptive_pricing":{"enabled":true},"after_expiration":null,"customer_details":null,"invoice_creation":{"enabled":false,"invoice_data":{"footer":null,"issuer":null,"metadata":{},"description":null,"custom_fields":null,"account_tax_ids":null,"rendering_options":null}},"shipping_options":[],"branding_settings":{"icon":{"file":"file_1RxH7oJ83k5LEyXmUNTZqgk8","type":"file"},"logo":{"file":"file_1S0PDiJ83k5LEyXmqBkBHfq9","type":"file"},"font_family":"default","border_style":"rounded","button_color":"#a21d2e","display_name":"Krav","background_color":"#000000"},"customer_creation":"always","consent_collection":null,"client_reference_id":null,"currency_conversion":null,"payment_method_types":["card"],"allow_promotion_codes":null,"collected_information":null,"payment_method_options":{"card":{"request_three_d_secure":"automatic"}},"phone_number_collection":{"enabled":false},"payment_method_collection":"always","billing_address_collection":null,"shipping_address_collection":null,"saved_payment_method_options":{"payment_method_save":null,"payment_method_remove":"disabled","allow_redisplay_filters":["always"]},"payment_method_configuration_details":{"id":"pmc_1KdMOGJ83k5LEyXmCVFAula5","parent":null}},"15":{"errors":[],"publishedItemIds":["68b25112dd17d32c6bc27efa"]},"16":{"00":"00","tz":"America/Chicago","desc":"<p>alpha full desc</p>","mins":"30","byday":"WE","start":"2025-10-01T14:45","title":"Alpha Test","weeks":"3"},"19":{"id":"0hfn4bitj6l9drtj779ocennn8","end":"2025-10-01T19:15:00.000Z","etag":"\"3518695222641790\"","kind":"calendar#event","start":"2025-10-01T18:45:00.000Z","status":"confirmed","created":"2025-10-01T19:40:10.000Z","creator":{"email":"chris@kravtofly.com"},"iCalUID":"0hfn4bitj6l9drtj779ocennn8@google.com","summary":"Alpha Test","updated":"2025-10-01T19:40:11.320Z","htmlLink":"https://www.google.com/calendar/event?eid=MGhmbjRiaXRqNmw5ZHJ0ajc3OW9jZW5ubjhfMjAyNTEwMDFUMTg0NTAwWi...","sequence":0,"attendees":[{"email":"chris@kravtofly.com","displayName":"Coach","responseStatus":"needsAction"}],"eventType":"default","organizer":{"self":true,"email":"c_698237cebe635942575f1a5e5591aff61ee700e1e1fccd8c0c6c0e795cb10d30@group.calendar.google.com","displayName":"Krāv Flight Labs"},"reminders":{"overrides":[{"method":"popup","minutes":30}],"useDefault":false},"recurrence":["RRULE:FREQ=WEEKLY;COUNT=3;BYDAY=WE"],"description":"Krāv Flight Lab with Chris Fikes\nshort alpha description","hangoutLink":"https://meet.google.com/qmx-cjix-mgt","conferenceData":{"entryPoints":[{"pin":"440397109","uri":"tel:+1-209-783-8733","label":"+1 209-783-8733","regionCode":"US","entryPointType":"phone"}],"conferenceId":"qmx-cjix-mgt","createRequest":{"status":{"statusCode":"success"},"requestId":"64ef9a3a-5cf2-40b3-8692-bf68f18f2713","conferenceSolutionKey":{"type":"hangoutsMeet"}},"conferenceSolution":{"key":{"type":"hangoutsMeet"},"name":"Google Meet","iconUri":"https://fonts.gstatic.com/s/i/productlogos/meet_2020q4/v6/web-512dp/logo_meet_2020q4_color_2x_web_51..."}},"guestsCanModify":true},"22":{"id":"68bac13501e1fd7baaadc089","isDraft":true,"createdOn":"2025-09-05T10:53:41.633Z","fieldData":{"name":"1212 test","slug":"68bac13501e1fd7baaadc089","coach":"68b1857d1c2d7a264e6138f5","start-date":"2025-09-05T11:00:00.000Z","gcal-event-id":"8fesethjbpgcc0mcpl89f7m750","sessions-json":"[{\"start\":\"2025-09-05T06:00:00-05:00\",\"end\":\"2025-09-05T07:00:00-05:00\"}]\n[{\"start\":\"2025-09-12T06:0...","skill-level-2":null,"full-description":null,"google-meet-link":"https://meet.google.com/dqh-ebvm-swn","flight-lab-length":4,"short-description":null,"stripe-connect-id":"acct_1RycYAQxoFIFJOQV","lab-discipline-new":null,"student-requirements":"<p>1212 test</p>","group-session-meeting-day-n":"FR","pre-req-s-and-skills-covered":"<p>1212 test</p>","maximum-number-of-participants":4,"group-session-length-in-minutes":60,"secure-checkout-url-leave-blank":"https://checkout.kravtofly.com/c/pay/cs_live_a1W8ld3bCrYi506KT8fvvSSCFGLDhAr6EXleMxipfgICl1s7YWhT5oW...","private-coaching-session-included-new":null,"total-price-per-student-per-flight-lab":3},"isArchived":false,"cmsLocaleId":"66e24eecb89dd7f162157d3f","lastUpdated":"2025-09-05T10:53:44.874Z","lastPublished":null},"23":{"errors":["ValidationError: Validation Failure"],"publishedItemIds":[]},"26":{"value":"00:30"},"27":{"formatted_time":"0:30"},"28":{"body":{"etag":"\"p32vo98ubs21p00o\"","kind":"calendar#events","items":[{"id":"0hfn4bitj6l9drtj779ocennn8_20251015T184500Z","end":{"dateTime":"2025-10-15T14:15:00-05:00","timeZone":"America/New_York"},"etag":"\"3518695222641790\"","kind":"calendar#event","start":{"dateTime":"2025-10-15T13:45:00-05:00","timeZone":"America/New_York"},"status":"confirmed","created":"2025-10-01T19:40:10.000Z","creator":{"email":"chris@kravtofly.com"},"iCalUID":"0hfn4bitj6l9drtj779ocennn8@google.com","summary":"Alpha Test","updated":"2025-10-01T19:40:11.320Z","htmlLink":"https://www.google.com/calendar/event?eid=MGhmbjRiaXRqNmw5ZHJ0ajc3OW9jZW5ubjhfMjAyNTEwMTVUMTg0NTAwWi...","sequence":null,"attendees":[{"email":"chris@kravtofly.com","displayName":"Coach","responseStatus":"needsAction"}],"eventType":"default","organizer":{"self":true,"email":"c_698237cebe635942575f1a5e5591aff61ee700e1e1fccd8c0c6c0e795cb10d30@group.calendar.google.com","displayName":"Krāv Flight Labs"},"reminders":{"overrides":[{"method":"popup","minutes":30}],"useDefault":null},"description":"Krāv Flight Lab with Chris Fikes\nshort alpha description","hangoutLink":"https://meet.google.com/qmx-cjix-mgt","conferenceData":{"entryPoints":[{"pin":"440397109","uri":"tel:+1-209-783-8733","label":"+1 209-783-8733","regionCode":"US","entryPointType":"phone"}],"conferenceId":"qmx-cjix-mgt","createRequest":{"status":{"statusCode":"success"},"requestId":"64ef9a3a-5cf2-40b3-8692-bf68f18f2713","conferenceSolutionKey":{"type":"hangoutsMeet"}},"conferenceSolution":{"key":{"type":"hangoutsMeet"},"name":"Google Meet","iconUri":"https://fonts.gstatic.com/s/i/productlogos/meet_2020q4/v6/web-512dp/logo_meet_2020q4_color_2x_web_51..."}},"guestsCanModify":true,"recurringEventId":"0hfn4bitj6l9drtj779ocennn8","originalStartTime":{"dateTime":"2025-10-15T13:45:00-05:00","timeZone":"America/New_York"}}],"summary":"Krāv Flight Labs","updated":"2025-10-01T19:40:11.320Z","timeZone":"America/Chicago","accessRole":"owner","description":"","nextSyncToken":"CL-Eo8vgg5ADEL-Eo8vgg5ADGAUggv75ggMogv75ggM=","defaultReminders":[{"method":"popup","minutes":30}]},"headers":{"date":"Wed, 01 Oct 2025 19:40:11 GMT","vary":"X-Origin, Referer, Origin,Accept-Encoding","server":"ESF","alt-svc":"h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000","expires":"Wed, 01 Oct 2025 19:40:11 GMT","connection":"close","content-type":"application/json; charset=UTF-8","accept-ranges":"none","cache-control":"private, max-age=0, must-revalidate, no-transform","x-frame-options":"SAMEORIGIN","x-xss-protection":"0","transfer-encoding":"chunked","x-l2-request-path":"l2-managed-14","x-content-type-options":"nosniff"},"statusCode":200},"30":{"id":"8fesethjbpgcc0mcpl89f7m750_20250905T110000Z","end":{"dateTime":"2025-09-05T07:00:00-05:00","timeZone":"America/New_York"},"etag":"\"3514139247404094\"","kind":"calendar#event","start":{"dateTime":"2025-09-05T06:00:00-05:00","timeZone":"America/New_York"},"status":"confirmed","created":"2025-09-05T10:53:42.000Z","creator":{"email":"chris@kravtofly.com"},"iCalUID":"8fesethjbpgcc0mcpl89f7m750@google.com","summary":"1212 test","updated":"2025-09-05T10:53:43.702Z","htmlLink":"https://www.google.com/calendar/event?eid=OGZlc2V0aGpicGdjYzBtY3BsODlmN203NTBfMjAyNTA5MDVUMTEwMDAwWi...","sequence":0,"attendees":[{"email":"chris@kravtofly.com","displayName":"Coach","responseStatus":"needsAction"}],"eventType":"default","organizer":{"self":true,"email":"c_698237cebe635942575f1a5e5591aff61ee700e1e1fccd8c0c6c0e795cb10d30@group.calendar.google.com","displayName":"Krāv Flight Labs"},"reminders":{"overrides":[{"method":"email","minutes":1440}],"useDefault":false},"description":"Krāv Flight Lab with Chris Fikes\n","hangoutLink":"https://meet.google.com/dqh-ebvm-swn","__IMTINDEX__":1,"__IMTLENGTH__":4,"conferenceData":{"entryPoints":[{"pin":"762068134","uri":"tel:+1-505-399-2245","label":"+1 505-399-2245","regionCode":"US","entryPointType":"phone"}],"conferenceId":"dqh-ebvm-swn","createRequest":{"status":{"statusCode":"success"},"requestId":"62151c75-1e43-4db3-afbc-a810c9eefede","conferenceSolutionKey":{"type":"hangoutsMeet"}},"conferenceSolution":{"key":{"type":"hangoutsMeet"},"name":"Google Meet","iconUri":"https://fonts.gstatic.com/s/i/productlogos/meet_2020q4/v6/web-512dp/logo_meet_2020q4_color_2x_web_51..."}},"recurringEventId":"8fesethjbpgcc0mcpl89f7m750","originalStartTime":{"dateTime":"2025-09-05T06:00:00-05:00","timeZone":"America/New_York"}},"31":{"text":"[{\"start\":\"2025-09-05T06:00:00-05:00\",\"end\":\"2025-09-05T07:00:00-05:00\"}]\n[{\"start\":\"2025-09-12T06:0..."}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}
