documents/make-scenarios/27 Oct 2025/Flight Lab Student_Coach Emails.json
{"flow":[{"id":1,"mapper":{},"module":"stripe:watchEvents","version":1,"metadata":{"restore":{"parameters":{"__IMTHOOK__":{"data":{"editable":"false"},"label":"Stripe Flight Lab Checkout Completed"}}},"designer":{"x":0,"y":0},"interface":[{"name":"created","type":"date","label":"Created"},{"name":"event_type","type":"text","label":"Event Type"},{"name":"event_id","type":"text","label":"Event ID"},{"name":"object","spec":null,"type":"collection","label":"Object"},{"name":"raw","spec":[],"type":"collection","label":"Raw Webhook Data"}],"parameters":[{"name":"__IMTHOOK__","type":"hook:stripe2","label":"Webhook","required":true}]},"parameters":{"__IMTHOOK__":1396016}},{"id":2,"filter":{"name":"Is this a Flight Lab?","conditions":[[{"a":"{{1.object.metadata.kind}}","b":"flight_lab","o":"text:equal"},{"a":"{{1.object.payment_link}}","o":"notexist"}]]},"mapper":{"select":"manual","item_id":"{{1.object.metadata.flight_lab_id}}","collection_id":"688b77473be151fc6be7dfb8"},"module":"webflow:getItem","version":2,"metadata":{"expect":[{"name":"select","type":"select","label":"Enter Item ID","required":true,"validate":{"enum":["Automatic","manual"]}},{"name":"collection_id","type":"text","label":"Collection ID","required":true},{"name":"item_id","type":"text","label":"Item ID","required":true}],"restore":{"expect":{"select":{"label":"Manual"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"webflow2"},"label":"Kravtofly (admin@kravtofly.com)"}}},"designer":{"x":300,"y":0},"interface":[{"name":"id","type":"text","label":"Item ID"},{"name":"lastPublished","type":"date","label":"Last Published"},{"name":"lastUpdated","type":"date","label":"Last Updated"},{"name":"createdOn","type":"date","label":"Created on"},{"name":"isArchived","type":"boolean","label":"Is Archived"},{"name":"isDraft","type":"boolean","label":"Is Draft"},{"name":"fieldData","spec":[{"name":"name","type":"text","label":"Flight Lab Name","required":true,"validate":{"max":256}},{"name":"coach","type":"text","label":"Coach","required":false},{"name":"skill-level-2","type":"text","label":"Skill Level","required":false},{"name":"lab-discipline","type":"select","label":"Lab Discipline Old","options":[{"label":"Back Flying","value":"090abfd31d2dd554896f9ce4accad68e"},{"label":"Belly Flying","value":"a131fef07e8dfcf8686aeee32036eaf7"},{"label":"Camera Flying","value":"274683db3140bcfb4569e7adfc180788"},{"label":"Canopy Flocking","value":"9c2ee229c914db9d45f30712e9c36eeb"},{"label":"Canopy Piloting","value":"c7cb99c920cb66b3fa40dfad982a0c46"},{"label":"Competition/Team Dynamics","value":"50c2255cd9126f365169b2c6c9c6b161"},{"label":"CRW","value":"f4e4062e71573a1431054556ddde6dad"},{"label":"Flat Tracking","value":"14160ba62824a3a6f18a6cca510eac83"},{"label":"Freeflying","value":"ffb0bb992b9f8b472054b2a50dc060a9"},{"label":"Head Down","value":"801daa8a79cd826a6d5b0092307cd2e9"},{"label":"Head Up (Sit Flying)","value":"54fba567ae0e6c6d697b0006a44792cb"},{"label":"Movement (Angle Flying)","value":"171abb31c7412a5f581db3b06fbea915"},{"label":"Relative Work","value":"dc9e91505f3e7f64d1107afccd641b4f"},{"label":"Tunnel (Level 1)","value":"25037dbcb2a51240747eddd9bce38d59"},{"label":"Tunnel (Level 2)","value":"64ec52cba890b05a713dbc5917efc418"},{"label":"Tunnel (Level 3)","value":"5d24bd334c74a5c6ed13f73563f106b4"},{"label":"Tunnel (Level 4)","value":"d5325831a4c8a214271b3e54480129aa"},{"label":"Tunnel (Pro Flying)","value":"162672c3d514a81e97f67340ecc1acba"},{"label":"Tunnel (Freestyle)","value":"f455da2b35554abaf8994451884b7010"},{"label":"VFS","value":"ac42ee8c8d885de515402847298d81e3"},{"label":"Wingsuiting","value":"82c2ac207cb685bff6bfa4bb1ea7ef7b"}],"required":false},{"name":"lab-discipline-new","type":"text","label":"Lab Discipline","required":false},{"name":"short-description","type":"text","label":"Short Description","required":false},{"name":"full-description","type":"text","label":"Lab Overview","required":false},{"name":"student-requirements","type":"text","label":"Student Requirements","required":false,"multiline":true},{"name":"pre-req-s-and-skills-covered","type":"text","label":"Full Description","required":false,"multiline":true},{"name":"flight-lab-length","type":"number","label":"Flight Lab Length","required":false},{"name":"group-session-meeting-day-n","type":"text","label":"Group Session Meeting Day","required":false},{"name":"start-date","time":true,"type":"date","label":"Start Date & Meeting Time (CST)","required":false},{"name":"time-zone-iana","type":"text","label":"Time Zone (IANA)","required":false},{"name":"group-session-length-in-minutes","type":"number","label":"Group Session Length (in minutes)","required":false},{"name":"total-price-per-student-per-flight-lab","type":"number","label":"Total Price Per Student Per Flight Lab","required":false},{"name":"maximum-number-of-participants","type":"number","label":"Maximum Number of Participants","required":false},{"name":"private-coaching-session-included-new","type":"text","label":"Private Coaching Session Included?","required":false},{"name":"flight-lab-hero-image","spec":[{"name":"url","type":"url","label":"URL"},{"name":"fileId","type":"text","label":"File ID"},{"name":"alt","type":"text","label":"Alternate Text"}],"type":"collection","label":"Flight Lab Hero Image","required":false},{"name":"google-meet-link","type":"url","label":"Google Meet URL","required":false},{"name":"gcal-event-id","type":"text","label":"GCAL Event ID","required":false},{"name":"secure-checkout-url-leave-blank","type":"url","label":"Secure Checkout URL (LEAVE BLANK)","required":false},{"name":"stripe-connect-id","type":"text","label":"Coach Stripe Account ID","required":false},{"name":"sessions-json","type":"text","label":"sessions-json","required":false},{"help":"Must be alphanumerical and not contain any spaces or special characters","name":"slug","type":"text","label":"Slug","required":false,"validate":{"max":256}}],"type":"collection","label":"Field Data"}],"parameters":[{"name":"__IMTCONN__","type":"account:webflow2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2518421}},{"id":10,"mapper":{"fields":{"name":"{{2.fieldData.name}}","flight-lab-hero-image":{},"maximum-number-of-participants":"{{2.fieldData.`maximum-number-of-participants` - 1}}"},"select":"list","item_id":"{{2.id}}","site_id":"66e24eebb89dd7f162157cf4","collection_id":"688b77473be151fc6be7dfb8"},"module":"webflow:updateItem","version":2,"metadata":{"expect":[{"name":"select","type":"select","label":"Choose Method","required":true,"validate":{"enum":["map","list"]}},{"name":"isArchived","type":"boolean","label":"Is Archived"},{"name":"isDraft","type":"boolean","label":"Is Draft"},{"name":"site_id","type":"select","label":"Site","required":true},{"name":"collection_id","type":"select","label":"Collection","required":true},{"name":"item_id","type":"select","label":"Item","required":true},{"name":"fields","spec":[{"name":"name","type":"text","label":"Flight Lab Name","required":true,"validate":{"max":256}},{"name":"coach","type":"select","label":"Coach"},{"name":"skill-level-2","type":"text","label":"Skill Level"},{"name":"lab-discipline","type":"select","label":"Lab Discipline Old","validate":{"enum":["090abfd31d2dd554896f9ce4accad68e","a131fef07e8dfcf8686aeee32036eaf7","274683db3140bcfb4569e7adfc180788","9c2ee229c914db9d45f30712e9c36eeb","c7cb99c920cb66b3fa40dfad982a0c46","50c2255cd9126f365169b2c6c9c6b161","f4e4062e71573a1431054556ddde6dad","14160ba62824a3a6f18a6cca510eac83","ffb0bb992b9f8b472054b2a50dc060a9","801daa8a79cd826a6d5b0092307cd2e9","54fba567ae0e6c6d697b0006a44792cb","171abb31c7412a5f581db3b06fbea915","dc9e91505f3e7f64d1107afccd641b4f","25037dbcb2a51240747eddd9bce38d59","64ec52cba890b05a713dbc5917efc418","5d24bd334c74a5c6ed13f73563f106b4","d5325831a4c8a214271b3e54480129aa","162672c3d514a81e97f67340ecc1acba","f455da2b35554abaf8994451884b7010","ac42ee8c8d885de515402847298d81e3","82c2ac207cb685bff6bfa4bb1ea7ef7b"]}},{"name":"lab-discipline-new","type":"text","label":"Lab Discipline"},{"name":"short-description","type":"text","label":"Short Description"},{"name":"full-description","type":"text","label":"Lab Overview"},{"name":"student-requirements","type":"text","label":"Student Requirements"},{"name":"pre-req-s-and-skills-covered","type":"text","label":"Full Description"},{"name":"flight-lab-length","type":"number","label":"Flight Lab Length"},{"name":"group-session-meeting-day-n","type":"text","label":"Group Session Meeting Day"},{"name":"start-date","time":true,"type":"date","label":"Start Date & Meeting Time (CST)"},{"name":"time-zone-iana","type":"text","label":"Time Zone (IANA)"},{"name":"group-session-length-in-minutes","type":"number","label":"Group Session Length (in minutes)"},{"name":"total-price-per-student-per-flight-lab","type":"number","label":"Total Price Per Student Per Flight Lab"},{"name":"maximum-number-of-participants","type":"number","label":"Maximum Number of Participants"},{"name":"private-coaching-session-included-new","type":"text","label":"Private Coaching Session Included?"},{"name":"flight-lab-hero-image","spec":[{"name":"url","type":"url","label":"URL"},{"name":"alt","type":"text","label":"Alternate Text"}],"type":"collection","label":"Flight Lab Hero Image"},{"name":"google-meet-link","type":"url","label":"Google Meet URL"},{"name":"gcal-event-id","type":"text","label":"GCAL Event ID"},{"name":"secure-checkout-url-leave-blank","type":"url","label":"Secure Checkout URL (LEAVE BLANK)"},{"name":"stripe-connect-id","type":"text","label":"Coach Stripe Account ID"},{"name":"sessions-json","type":"text"},{"name":"slug","type":"text","label":"Slug","validate":{"max":256}}],"type":"collection","label":"Fields"}],"restore":{"expect":{"fields":{"nested":{"coach":{"mode":"chose","label":"Empty"},"lab-discipline":{"mode":"chose","label":"Empty"}}},"select":{"label":"Select from the list"},"isDraft":{"mode":"chose"},"item_id":{"mode":"edit"},"site_id":{"label":"Krāv"},"isArchived":{"mode":"chose"},"collection_id":{"label":"Flight Labs"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"webflow2"},"label":"Kravtofly (admin@kravtofly.com)"}}},"designer":{"x":600,"y":0},"interface":[{"name":"id","type":"text","label":"Item ID"},{"name":"lastPublished","type":"text","label":"Last Published"},{"name":"lastUpdated","type":"date","label":"Last Updated"},{"name":"createdOn","type":"date","label":"Created on"},{"name":"isArchived","type":"boolean","label":"Is Archived"},{"name":"isDraft","type":"boolean","label":"Is Draft"},{"name":"fieldData","spec":[{"name":"name","type":"text","label":"Flight Lab Name","required":true,"validate":{"max":256}},{"name":"coach","type":"text","label":"Coach","required":false},{"name":"skill-level-2","type":"text","label":"Skill Level","required":false},{"name":"lab-discipline","type":"select","label":"Lab Discipline Old","options":[{"label":"Back Flying","value":"090abfd31d2dd554896f9ce4accad68e"},{"label":"Belly Flying","value":"a131fef07e8dfcf8686aeee32036eaf7"},{"label":"Camera Flying","value":"274683db3140bcfb4569e7adfc180788"},{"label":"Canopy Flocking","value":"9c2ee229c914db9d45f30712e9c36eeb"},{"label":"Canopy Piloting","value":"c7cb99c920cb66b3fa40dfad982a0c46"},{"label":"Competition/Team Dynamics","value":"50c2255cd9126f365169b2c6c9c6b161"},{"label":"CRW","value":"f4e4062e71573a1431054556ddde6dad"},{"label":"Flat Tracking","value":"14160ba62824a3a6f18a6cca510eac83"},{"label":"Freeflying","value":"ffb0bb992b9f8b472054b2a50dc060a9"},{"label":"Head Down","value":"801daa8a79cd826a6d5b0092307cd2e9"},{"label":"Head Up (Sit Flying)","value":"54fba567ae0e6c6d697b0006a44792cb"},{"label":"Movement (Angle Flying)","value":"171abb31c7412a5f581db3b06fbea915"},{"label":"Relative Work","value":"dc9e91505f3e7f64d1107afccd641b4f"},{"label":"Tunnel (Level 1)","value":"25037dbcb2a51240747eddd9bce38d59"},{"label":"Tunnel (Level 2)","value":"64ec52cba890b05a713dbc5917efc418"},{"label":"Tunnel (Level 3)","value":"5d24bd334c74a5c6ed13f73563f106b4"},{"label":"Tunnel (Level 4)","value":"d5325831a4c8a214271b3e54480129aa"},{"label":"Tunnel (Pro Flying)","value":"162672c3d514a81e97f67340ecc1acba"},{"label":"Tunnel (Freestyle)","value":"f455da2b35554abaf8994451884b7010"},{"label":"VFS","value":"ac42ee8c8d885de515402847298d81e3"},{"label":"Wingsuiting","value":"82c2ac207cb685bff6bfa4bb1ea7ef7b"}],"required":false},{"name":"lab-discipline-new","type":"text","label":"Lab Discipline","required":false},{"name":"short-description","type":"text","label":"Short Description","required":false},{"name":"full-description","type":"text","label":"Lab Overview","required":false},{"name":"student-requirements","type":"text","label":"Student Requirements","required":false,"multiline":true},{"name":"pre-req-s-and-skills-covered","type":"text","label":"Full Description","required":false,"multiline":true},{"name":"flight-lab-length","type":"number","label":"Flight Lab Length","required":false},{"name":"group-session-meeting-day-n","type":"text","label":"Group Session Meeting Day","required":false},{"name":"start-date","time":true,"type":"date","label":"Start Date & Meeting Time (CST)","required":false},{"name":"time-zone-iana","type":"text","label":"Time Zone (IANA)","required":false},{"name":"group-session-length-in-minutes","type":"number","label":"Group Session Length (in minutes)","required":false},{"name":"total-price-per-student-per-flight-lab","type":"number","label":"Total Price Per Student Per Flight Lab","required":false},{"name":"maximum-number-of-participants","type":"number","label":"Maximum Number of Participants","required":false},{"name":"private-coaching-session-included-new","type":"text","label":"Private Coaching Session Included?","required":false},{"name":"flight-lab-hero-image","spec":[{"name":"url","type":"url","label":"URL"},{"name":"fileId","type":"text","label":"File ID"},{"name":"alt","type":"text","label":"Alternate Text"}],"type":"collection","label":"Flight Lab Hero Image","required":false},{"name":"google-meet-link","type":"url","label":"Google Meet URL","required":false},{"name":"gcal-event-id","type":"text","label":"GCAL Event ID","required":false},{"name":"secure-checkout-url-leave-blank","type":"url","label":"Secure Checkout URL (LEAVE BLANK)","required":false},{"name":"stripe-connect-id","type":"text","label":"Coach Stripe Account ID","required":false},{"name":"sessions-json","type":"text","label":"sessions-json","required":false},{"help":"Must be alphanumerical and not contain any spaces or special characters","name":"slug","type":"text","label":"Slug","required":false,"validate":{"max":256}}],"type":"collection","label":"Field Data"}],"parameters":[{"name":"__IMTCONN__","type":"account:webflow2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2518421}},{"id":11,"mapper":{"itemIds":"{{10.id}}","site_id":"66e24eebb89dd7f162157cf4","collection_id":"688b77473be151fc6be7dfb8"},"module":"webflow:publishAnItem","version":2,"metadata":{"expect":[{"name":"site_id","type":"select","label":"Site","required":true},{"name":"collection_id","type":"select","label":"Collection","required":true},{"name":"itemIds","type":"select","label":"Item IDs","multiple":true,"required":true}],"restore":{"expect":{"itemIds":{"mode":"edit"},"site_id":{"mode":"chose","label":"Krāv"},"collection_id":{"mode":"chose","label":"Flight Labs"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"webflow2"},"label":"Kravtofly (admin@kravtofly.com)"}}},"designer":{"x":900,"y":0},"parameters":[{"name":"__IMTCONN__","type":"account:webflow2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2518421}},{"id":8,"mapper":{"select":"manual","item_id":"{{2.fieldData.coach}}","collection_id":"6787fa84d46542504f9fdc33"},"module":"webflow:getItem","version":2,"metadata":{"expect":[{"name":"select","type":"select","label":"Enter Item ID","required":true,"validate":{"enum":["Automatic","manual"]}},{"name":"collection_id","type":"text","label":"Collection ID","required":true},{"name":"item_id","type":"text","label":"Item ID","required":true}],"restore":{"expect":{"select":{"label":"Manual"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"webflow2"},"label":"Kravtofly (admin@kravtofly.com)"}}},"designer":{"x":1200,"y":0},"interface":[{"name":"id","type":"text","label":"Item ID"},{"name":"lastPublished","type":"date","label":"Last Published"},{"name":"lastUpdated","type":"date","label":"Last Updated"},{"name":"createdOn","type":"date","label":"Created on"},{"name":"isArchived","type":"boolean","label":"Is Archived"},{"name":"isDraft","type":"boolean","label":"Is Draft"},{"name":"fieldData","spec":[{"name":"name","type":"text","label":"Name","required":true,"validate":{"max":256}},{"name":"cms-id","type":"text","label":"CMS ID","required":false},{"name":"profile-pic","spec":[{"name":"url","type":"url","label":"URL"},{"name":"fileId","type":"text","label":"File ID"},{"name":"alt","type":"text","label":"Alternate Text"}],"type":"collection","label":"Profile Pic","required":false},{"name":"email-field","type":"email","label":"Email","required":false},{"name":"phone-number","type":"text","label":"Phone Number","required":false},{"name":"home-tunnel","type":"text","label":"Home Tunnel","required":false},{"name":"home-tunnel-state","type":"text","label":"Home Tunnel Country","required":false},{"name":"home-tunnel-city","type":"text","label":"Home Tunnel State","required":false},{"name":"home-dz","type":"text","label":"Home DZ","required":false},{"name":"home-dz-state","type":"text","label":"Home DZ Country","required":false},{"name":"home-dz-city","type":"text","label":"Home DZ State","required":false},{"name":"experience","type":"text","label":"Philosophy of Coaching","required":false},{"name":"philosophy-of-coaching","type":"text","label":"Why I Coach","required":false},{"name":"instagram-profile","type":"url","label":"Instagram Profile","required":false},{"name":"facebook-profile","type":"url","label":"Facebook Profile","required":false},{"name":"introduction-video-link","spec":[{"name":"url","type":"text","label":"URL"},{"name":"metadata","spec":[{"name":"provider_url","type":"text","label":"Provider URL"},{"name":"version","type":"text","label":"Version"},{"name":"title","type":"text","label":"Title"},{"name":"author_name","type":"text","label":"Author Name"},{"name":"height","type":"number","label":"Height"},{"name":"thumbnail_width","type":"number","label":"Thumbnail Width"},{"name":"width","type":"number","label":"Width"},{"name":"html","type":"text","label":"HTML"},{"name":"author_url","type":"text","label":"Author URL"},{"name":"url","type":"text","label":"URL"},{"name":"provider_name","type":"text","label":"Provider Name"},{"name":"thumbnail_url","type":"text","label":"Thumbnail URL"},{"name":"type","type":"text","label":"Type"},{"name":"thumbnail_height","type":"number","label":"Thumbnail Height"},{"name":"source","type":"text","label":"Source"},{"name":"thumb","spec":[{"name":"url","type":"text","label":"URL"},{"name":"w","type":"number","label":"W"},{"name":"h","type":"number","label":"H"}],"type":"collection","label":"Thumb"},{"name":"aspectRatio","type":"number","label":"Aspect Ratio"},{"name":"videoId","type":"text","label":"Video ID"},{"name":"youTubeParams","spec":[],"type":"collection","label":"You Tube Params"}],"type":"collection","label":"Metadata"}],"type":"collection","label":"Youtube Video","required":false},{"name":"organizing-experience-2","type":"text","label":"Organizing Experience","required":false},{"name":"coaching-type","type":"array","label":"Coach Type","required":false},{"name":"disciplines---coaching","type":"array","label":"Sky Coaching Disciplines","required":false},{"name":"disciplines---organizing","type":"array","label":"Organizer Disciplines","required":false},{"name":"disciplines---tunnel","type":"array","label":"Tunnel Coaching Disciplines","required":false},{"name":"year-started-skydiving-2","type":"text","label":"Year Started Skydiving","required":false},{"name":"number-of-skydives","type":"text","label":"Number of Skydives","required":false},{"name":"filter-list","type":"text","label":"Filter List","required":false},{"name":"profile-page-link","type":"url","label":"Profile Page Link","required":false},{"name":"coach-stripe-account-id","type":"text","label":"Stripe Account ID","required":false},{"help":"Must be alphanumerical and not contain any spaces or special characters","name":"slug","type":"text","label":"Slug","required":false,"validate":{"max":256}}],"type":"collection","label":"Field Data"}],"parameters":[{"name":"__IMTCONN__","type":"account:webflow2","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":2518421}},{"id":3,"mapper":{"value":"https://stripe-connect-backend-three.vercel.app/api/ics?lab={{1.object.metadata.flight_lab_id}}"},"module":"util:ComposeTransformer","version":1,"metadata":{"expect":[{"name":"value","type":"text","label":"Text"}],"restore":{},"designer":{"x":1500,"y":0}},"parameters":{}},{"id":4,"mapper":{"url":"{{3.value}}","method":"get","serializeUrl":false,"shareCookies":false},"module":"http:ActionGetFile","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"hidden","label":"Method"},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true}],"restore":{},"designer":{"x":1800,"y":0},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true}]},"parameters":{"handleErrors":false}},{"id":5,"mapper":{"cc":[],"to":"{{1.object.customer_details.email}}","bcc":[],"from":"chris@kravtofly.com","html":"<div style=\"font-family:system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif\">\n  <h2 style=\"margin:0 0 8px\">You're confirmed for <em>{{2.fieldData.name}}</em></h2>\n  <p style=\"margin:0 0 12px\">Coach: {{8.fieldData.name}}</p>\n<p style=\"margin:0 0 12px\">Coach Email: {{8.fieldData.`email-field`}}</p>\n  <p style=\"margin:0 0 12px\">Join on Google Meet:\n    <a href=\"{{2.fieldData.`google-meet-link`}}\">{{2.fieldData.`google-meet-link`}}</a>\n  </p>\n  <p style=\"margin:0 0 12px\">All sessions are attached as a calendar file (.ics).</p>\n  <hr style=\"border:none;border-top:1px solid #eee;margin:16px 0\" />\n  <p style=\"margin:0;color:#555\">\n  Lab page:\n  <a href=\"https://www.kravtofly.com/flight-labs/{{2.fieldData.slug}}\">\n       {{2.fieldData.name}}\n  </a>\n</p>\n</div>\n","subject":"You're in: {{2.fieldData.name}} (Krāv Flight Lab)","attachments":[{"cid":"","data":"{{4.data}}","fileName":"{{2.fieldData.name}}.ics"}]},"module":"google-email:ActionSendEmail","version":2,"metadata":{"expect":[{"name":"from","type":"text","label":"From"},{"name":"to","spec":{"name":"value","type":"email","label":"Email address","required":true},"type":"array","label":"To","required":true},{"name":"subject","type":"text","label":"Subject"},{"name":"html","type":"text","label":"Content"},{"name":"attachments","spec":[{"name":"fileName","type":"filename","label":"File name","required":true,"semantic":"file:name"},{"name":"data","type":"buffer","label":"Data","required":true,"semantic":"file:data"},{"name":"cid","type":"text","label":"Content-ID"}],"type":"array","label":"Attachments"},{"name":"cc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Copy recipient"},{"name":"bcc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Blind copy recipient"}],"restore":{"expect":{"cc":{"mode":"chose"},"to":{"mode":"edit"},"bcc":{"mode":"chose"},"attachments":{"mode":"chose","items":[null]}},"parameters":{"account":{"data":{"scoped":"true","connection":"google-restricted"},"label":"Krāv Gmail Connection (chris@kravtofly.com)"}}},"advanced":true,"designer":{"x":2100,"y":0},"parameters":[{"name":"account","type":"account:google-restricted","label":"Connection","required":true}]},"parameters":{"account":4397255}},{"id":6,"mapper":{"cc":[],"to":"{{8.fieldData.`email-field`}}","bcc":[],"from":"","html":"<div style=\"font-family:system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif\">\n  <h3 style=\"margin:0 0 8px\">You have a new student registration for <em>{{2.fieldData.name}}</em></h3>\n\n  <p style=\"margin:0 0 8px\">\n    Student: {{1.object.custom_fields[].text.value}}\n    ({{1.object.customer_details.email}})\n  </p>\n\n <p style=\"margin:0 0 8px\">\n    Google Meet: <a href=\"{{2.fieldData.`google-meet-link`}}\">{{2.fieldData.`google-meet-link`}}</a>\n  </p>\n\n  <p style=\"margin:0 0 8px\">\n    Lab page:\n    <a href=\"https://www.kravtofly.com/flight-labs/{{2.fieldData.slug}}\">{{2.fieldData.name}}</a>\n  </p>\n \n</div>","subject":"New Registration - {{2.fieldData.name}}","attachments":[{"cid":"","data":"{{4.data}}","fileName":"{{2.fieldData.name}}.ics"}]},"module":"google-email:ActionSendEmail","version":2,"metadata":{"expect":[{"name":"from","type":"text","label":"From"},{"name":"to","spec":{"name":"value","type":"email","label":"Email address","required":true},"type":"array","label":"To","required":true},{"name":"subject","type":"text","label":"Subject"},{"name":"html","type":"text","label":"Content"},{"name":"attachments","spec":[{"name":"fileName","type":"filename","label":"File name","required":true,"semantic":"file:name"},{"name":"data","type":"buffer","label":"Data","required":true,"semantic":"file:data"},{"name":"cid","type":"text","label":"Content-ID"}],"type":"array","label":"Attachments"},{"name":"cc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Copy recipient"},{"name":"bcc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Blind copy recipient"}],"restore":{"expect":{"cc":{"mode":"chose"},"to":{"mode":"edit"},"bcc":{"mode":"chose"},"attachments":{"mode":"chose","items":[null]}},"parameters":{"account":{"data":{"scoped":"true","connection":"google-restricted"},"label":"Krāv Gmail Connection (chris@kravtofly.com)"}}},"designer":{"x":2400,"y":0},"parameters":[{"name":"account","type":"account:google-restricted","label":"Connection","required":true}]},"parameters":{"account":4397255}},{"id":9,"mapper":{"key":"{{1.object.metadata.flight_lab_id}}::{{1.object.customer_details.email}}","data":{"labId":"{{1.object.metadata.flight_lab_id}}","status":"active","labName":"{{2.fieldData.name}}","labSlug":"{{2.fieldData.slug}}","meetUrl":"{{2.fieldData.`google-meet-link`}}","timeZone":"{{2.fieldData.`time-zone-iana`}}","createdAt":"{{now}}","sentKeysStr":"","studentName":"{{1.object.custom_fields[].text.value}}","sessionsJson":"{{2.fieldData.`sessions-json`}}","studentEmail":"{{1.object.customer_details.email}}"},"overwrite":true},"module":"datastore:AddRecord","version":1,"metadata":{"expect":[{"name":"key","type":"text","label":"Key"},{"name":"overwrite","type":"boolean","label":"Overwrite an existing record","required":true},{"name":"data","spec":[{"name":"labId","type":"text","label":null},{"name":"studentEmail","type":"text","label":null},{"name":"studentName","type":"text","label":null},{"name":"labName","type":"text","label":null},{"name":"labSlug","type":"text","label":null},{"name":"meetUrl","type":"text","label":null},{"name":"sessionsJson","type":"text","label":null},{"name":"status","type":"text","label":null},{"name":"createdAt","type":"date","label":null},{"name":"sentKeysStr","type":"text","label":null},{"name":"timeZone","type":"text","label":null}],"type":"collection","label":"Record"}],"restore":{"expect":{"overwrite":{"mode":"chose"}},"parameters":{"datastore":{"label":"lab_registrations"}}},"designer":{"x":2700,"y":0},"parameters":[{"name":"datastore","type":"datastore","label":"Data store","required":true}]},"parameters":{"datastore":47247}}],"name":"Flight Lab Student/Coach Emails","metadata":{"instant":true,"version":1,"designer":{"orphans":[],"samples":{"1":{"raw":{"id":"evt_1SClYeJ83k5LEyXmcUZbmHVz","data":{"object":{"id":"cs_live_b1tmPYwtyRVm34IUqPJWs9oJjQC8rg1oVsVCq2vX65UjnroeKLoRiAEdvn","url":null,"mode":"payment","locale":null,"object":"checkout.session","status":"complete","consent":null,"created":1759169491,"invoice":null,"ui_mode":"hosted","currency":"usd","customer":null,"livemode":true,"metadata":{"kind":"flight_lab","lab_title":"Shred Those Exits!","flight_lab_id":"68bc1ddfe3878caef4092c54","coach_connect_id":"acct_1RycYAQxoFIFJOQV"},"discounts":[],"cancel_url":"https://www.kravtofly.com/flight-lab-cancelled","expires_at":1759255891,"custom_text":{"submit":null,"after_submit":null,"shipping_address":null,"terms_of_service_acceptance":null},"permissions":null,"submit_type":null,"success_url":"https://www.kravtofly.com/flight-lab-success?lab=68bc1ddfe3878caef4092c54&session_id={CHECKOUT_SESSI...","amount_total":300,"payment_link":null,"setup_intent":null,"subscription":null,"automatic_tax":{"status":null,"enabled":false,"provider":null,"liability":null},"client_secret":null,"custom_fields":[{"key":"student_name","text":{"value":"Chris Fikes","default_value":null,"maximum_length":null,"minimum_length":null},"type":"text","label":{"type":"custom","custom":"Student name"},"optional":true}],"shipping_cost":null,"total_details":{"amount_tax":0,"amount_discount":0,"amount_shipping":0},"customer_email":null,"origin_context":null,"payment_intent":"pi_3SClYcJ83k5LEyXm0FVhmMu3","payment_status":"paid","recovered_from":null,"wallet_options":null,"amount_subtotal":300,"adaptive_pricing":{"enabled":true},"after_expiration":null,"customer_details":{"name":"Krav LLC","email":"chrisfikes@gmail.com","phone":null,"address":{"city":null,"line1":null,"line2":null,"state":null,"country":"US","postal_code":"78006"},"tax_ids":[],"tax_exempt":"none","business_name":null,"individual_name":null},"invoice_creation":{"enabled":false,"invoice_data":{"footer":null,"issuer":null,"metadata":{},"description":null,"custom_fields":null,"account_tax_ids":null,"rendering_options":null}},"shipping_details":null,"shipping_options":[],"branding_settings":{"icon":{"file":"file_1RxH7oJ83k5LEyXmUNTZqgk8","type":"file"},"logo":{"file":"file_1S0PDiJ83k5LEyXmqBkBHfq9","type":"file"},"font_family":"default","border_style":"rounded","button_color":"#a21d2e","display_name":"Krav","background_color":"#000000"},"customer_creation":"if_required","consent_collection":null,"client_reference_id":"lab_68bc1ddfe3878caef4092c54","currency_conversion":null,"payment_method_types":["card"],"allow_promotion_codes":true,"collected_information":null,"payment_method_options":{"card":{"request_three_d_secure":"automatic"}},"phone_number_collection":{"enabled":false},"payment_method_collection":"if_required","billing_address_collection":null,"shipping_address_collection":null,"saved_payment_method_options":null,"payment_method_configuration_details":{"id":"pmc_1KdMOGJ83k5LEyXmCVFAula5","parent":null}}},"type":"checkout.session.completed","object":"event","created":1759169540,"request":{"id":null,"idempotency_key":null},"livemode":true,"api_version":"2023-10-16","pending_webhooks":6},"object":{"id":"cs_live_b1tmPYwtyRVm34IUqPJWs9oJjQC8rg1oVsVCq2vX65UjnroeKLoRiAEdvn","url":null,"mode":"payment","locale":null,"object":"checkout.session","status":"complete","consent":null,"created":1759169491,"invoice":null,"ui_mode":"hosted","currency":"usd","customer":null,"livemode":true,"metadata":{"kind":"flight_lab","lab_title":"Shred Those Exits!","flight_lab_id":"68bc1ddfe3878caef4092c54","coach_connect_id":"acct_1RycYAQxoFIFJOQV"},"discounts":[],"cancel_url":"https://www.kravtofly.com/flight-lab-cancelled","expires_at":1759255891,"custom_text":{"submit":null,"after_submit":null,"shipping_address":null,"terms_of_service_acceptance":null},"permissions":null,"submit_type":null,"success_url":"https://www.kravtofly.com/flight-lab-success?lab=68bc1ddfe3878caef4092c54&session_id={CHECKOUT_SESSI...","amount_total":300,"payment_link":null,"setup_intent":null,"subscription":null,"automatic_tax":{"status":null,"enabled":false,"provider":null,"liability":null},"client_secret":null,"custom_fields":[{"key":"student_name","text":{"value":"Chris Fikes","default_value":null,"maximum_length":null,"minimum_length":null},"type":"text","label":{"type":"custom","custom":"Student name"},"optional":true}],"shipping_cost":null,"total_details":{"amount_tax":0,"amount_discount":0,"amount_shipping":0},"customer_email":null,"origin_context":null,"payment_intent":"pi_3SClYcJ83k5LEyXm0FVhmMu3","payment_status":"paid","recovered_from":null,"wallet_options":null,"amount_subtotal":300,"adaptive_pricing":{"enabled":true},"after_expiration":null,"customer_details":{"name":"Krav LLC","email":"chrisfikes@gmail.com","phone":null,"address":{"city":null,"line1":null,"line2":null,"state":null,"country":"US","postal_code":"78006"},"tax_ids":[],"tax_exempt":"none","business_name":null,"individual_name":null},"invoice_creation":{"enabled":false,"invoice_data":{"footer":null,"issuer":null,"metadata":{},"description":null,"custom_fields":null,"account_tax_ids":null,"rendering_options":null}},"shipping_details":null,"shipping_options":[],"branding_settings":{"icon":{"file":"file_1RxH7oJ83k5LEyXmUNTZqgk8","type":"file"},"logo":{"file":"file_1S0PDiJ83k5LEyXmqBkBHfq9","type":"file"},"font_family":"default","border_style":"rounded","button_color":"#a21d2e","display_name":"Krav","background_color":"#000000"},"customer_creation":"if_required","consent_collection":null,"client_reference_id":"lab_68bc1ddfe3878caef4092c54","currency_conversion":null,"payment_method_types":["card"],"allow_promotion_codes":true,"collected_information":null,"payment_method_options":{"card":{"request_three_d_secure":"automatic"}},"phone_number_collection":{"enabled":false},"payment_method_collection":"if_required","billing_address_collection":null,"shipping_address_collection":null,"saved_payment_method_options":null,"payment_method_configuration_details":{"id":"pmc_1KdMOGJ83k5LEyXmCVFAula5","parent":null}},"created":"2025-09-29T18:12:20.000Z","event_id":"evt_1SClYeJ83k5LEyXmcUZbmHVz","event_type":"checkout.session.completed"},"2":{"id":"68bc1ddfe3878caef4092c54","isDraft":false,"createdOn":"2025-09-06T11:41:19.761Z","fieldData":{"name":"Shred Those Exits!","slug":"68bc1ddfe3878caef4092c54","coach":"68b1857d1c2d7a264e6138f5","start-date":"2025-09-09T23:00:00.000Z","gcal-event-id":"lb8scgsa98du9nu0ctkpffee1o","sessions-json":"[{\"start\":\"2025-10-09T18:00:00-05:00\",\"end\":\"2025-09-09T19:30:00-05:00\"}\n,{\"start\":\"2025-10-16T18:00...","skill-level-2":"Intermediate","time-zone-iana":"America/Chicago","full-description":"Learn to rip your angle exits and be in slot every time!","google-meet-link":"https://meet.google.com/hbu-yahf-bkt","flight-lab-length":4,"short-description":"Kickass Movement Coaching","stripe-connect-id":"acct_1RycYAQxoFIFJOQV","lab-discipline-new":"Movement (Angle Flying)","student-requirements":"<p>Must be proficient in flat-tracking and angle flying, preferably on both belly and back.</p>","flight-lab-hero-image":{"alt":null,"url":"https://cdn.prod.website-files.com/66e24eecb89dd7f162157d49/68bc1ddfe3878caef4092c38_35cba966-43dc-4...","fileId":"68bc1ddfe3878caef4092c38"},"group-session-meeting-day-n":"TU","pre-req-s-and-skills-covered":"<p>Exits are the first part of any jump and if you screw up an angle exit you're chasing the whole t...","maximum-number-of-participants":5,"group-session-length-in-minutes":90,"secure-checkout-url-leave-blank":"https://checkout.kravtofly.com/c/pay/cs_live_a1dhYnrYjixIAHvyFvBHzCaOPnLq1Bb4uGDJJyMTwiIoOVUyUrwel8p...","private-coaching-session-included-new":"Yes","total-price-per-student-per-flight-lab":3},"isArchived":false,"cmsLocaleId":"66e24eecb89dd7f162157d3f","lastUpdated":"2025-09-29T18:11:24.107Z","lastPublished":"2025-09-29T18:11:24.107Z"},"3":{"value":"https://stripe-connect-backend-three.vercel.app/api/ics?lab=68bc1ddfe3878caef4092c54"},"4":{"data":"BEGIN:VCALENDAR\r\nVERSION:2.0\r\nPRODID:-//Krav Flight Labs//EN\r\nCALSCALE:GREGORIAN\r\nMETHOD:PUBLISH\r\nX-...","headers":[{"name":"x-vercel-id","value":"iad1::iad1::tndvw-1759169542113-b6d283505d4b"}],"fileName":"krav-shred-those-exits.ics","fileSize":1013,"statusCode":200,"cookieHeaders":[]},"5":{"messageId":"<d58b1c99-7db2-5be3-5a7a-b591962a5672@kravtofly.com>"},"6":{"messageId":"<86f9c84b-8afc-6555-e12f-12b0758f8630@kravtofly.com>"},"8":{"id":"68b1857d1c2d7a264e6138f5","isDraft":false,"createdOn":"2025-08-29T10:48:29.627Z","fieldData":{"name":"Chris Fikes","slug":"mem_cmewpisk0005z0xkk2nyo6imr","cms-id":"68b1857d1c2d7a264e6138f5","home-dz":"Spaceland San Marcos","experience":"My coaching philosophy is rooted in structured, intentional learning that bridges theory with practi...","cal-com-url":"https://cal.com/chrisfikes","email-field":"chrisfikes@gmail.com","filter-list":"Sky Coach,Tunnel Coach,Organizer,Angle Flying,Belly,Freestyle,Head Down,Head Up,Movement,Tracking,Le...","home-tunnel":"iFly San Antonio","profile-pic":{"alt":null,"url":"https://cdn.prod.website-files.com/66e24eecb89dd7f162157d49/68b185b45900b05cd7488b00_1756464563189Ch...","fileId":"68b185b45900b05cd7488b00"},"home-dz-city":"Texas","coaching-type":["681a3cd82955d77c957dfb2d"],"home-dz-state":" United States","facebook-profile":"http://www.facebook.com/chrisfikes","home-tunnel-state":" United States","instagram-profile":"http://www.instagram.com/chrisfikes","number-of-skydives":"1756","disciplines---tunnel":["681143fab6c47263b64a04e2"],"disciplines---coaching":["680bdce61c331e41ea893adc"],"philosophy-of-coaching":"As a coach I want to help people go from where they are, to where they want to be.","coach-stripe-account-id":"acct_1RycYAQxoFIFJOQV","organizing-experience-2":"2019 - 2021: Load Organizer at Skydive Lone Star, 2021 - Present: Load Organizer at Spaceland San Ma...","disciplines---organizing":["67b8daef678010c40a6504f5"],"year-started-skydiving-2":"2013","quick-review-payment-link":"https://checkout.kravtofly.com/b/6oUeVe3kv6e1aJNf9d7Zu05","deep-dive-1-on-1-payment-link":"https://checkout.kravtofly.com/b/8x27sM9ITdGtcRV7GL7Zu04"},"isArchived":false,"cmsLocaleId":"66e24eecb89dd7f162157d3f","lastUpdated":"2025-09-26T21:17:33.746Z","lastPublished":"2025-09-26T21:18:12.585Z"},"9":{"key":"68bc1ddfe3878caef4092c54::chrisfikes@gmail.com"},"10":{"id":"68bc1ddfe3878caef4092c54","isDraft":false,"createdOn":"2025-09-06T11:41:19.761Z","fieldData":{"name":"Shred Those Exits!","slug":"68bc1ddfe3878caef4092c54","coach":"68b1857d1c2d7a264e6138f5","start-date":"2025-09-09T23:00:00.000Z","gcal-event-id":"lb8scgsa98du9nu0ctkpffee1o","sessions-json":"[{\"start\":\"2025-10-09T18:00:00-05:00\",\"end\":\"2025-09-09T19:30:00-05:00\"}\n,{\"start\":\"2025-10-16T18:00...","skill-level-2":"Intermediate","time-zone-iana":"America/Chicago","full-description":"Learn to rip your angle exits and be in slot every time!","google-meet-link":"https://meet.google.com/hbu-yahf-bkt","flight-lab-length":4,"short-description":"Kickass Movement Coaching","stripe-connect-id":"acct_1RycYAQxoFIFJOQV","lab-discipline-new":"Movement (Angle Flying)","student-requirements":"<p>Must be proficient in flat-tracking and angle flying, preferably on both belly and back.</p>","flight-lab-hero-image":{"alt":null,"url":"https://cdn.prod.website-files.com/66e24eecb89dd7f162157d49/68bc1ddfe3878caef4092c38_35cba966-43dc-4...","fileId":"68bc1ddfe3878caef4092c38"},"group-session-meeting-day-n":"TU","pre-req-s-and-skills-covered":"<p>Exits are the first part of any jump and if you screw up an angle exit you're chasing the whole t...","maximum-number-of-participants":4,"group-session-length-in-minutes":90,"secure-checkout-url-leave-blank":"https://checkout.kravtofly.com/c/pay/cs_live_a1dhYnrYjixIAHvyFvBHzCaOPnLq1Bb4uGDJJyMTwiIoOVUyUrwel8p...","private-coaching-session-included-new":"Yes","total-price-per-student-per-flight-lab":3},"isArchived":false,"cmsLocaleId":"66e24eecb89dd7f162157d3f","lastUpdated":"2025-09-29T18:12:21.674Z","lastPublished":"2025-09-29T18:11:24.107Z"},"11":{"errors":[],"publishedItemIds":["68bc1ddfe3878caef4092c54"]}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}