documents/make-scenarios/27 Oct 2025/Monthly Export • Registrations.json
{"flow":[{"id":null,"module":"placeholder:Placeholder","metadata":{"designer":{"x":0,"y":0}}},{"id":2,"mapper":{"sort":[],"filter":[[{"a":"status","b":"completed","o":"text:equal"},{"a":"exportedBatchId","o":"notexist"}]],"mappAbleLimit":""},"module":"datastore:SearchRecord","version":1,"metadata":{"expect":[{"name":"filter","type":"filter","label":"Filter","options":"rpc://datastore/1.12.1/RpcGetUDTKeys","required":true},{"name":"sort","spec":[{"name":"key","type":"select","label":"Key","dynamic":true,"options":[],"required":true},{"name":"order","type":"select","label":"Order","options":[{"label":"Ascending","value":1},{"label":"Descending","value":-1}],"required":true}],"type":"array","label":"Sort"},{"name":"mappAbleLimit","type":"uinteger","label":"Mappable Limit"}],"restore":{"parameters":{"datastore":{"label":"lab_registrations"}}},"designer":{"x":300,"y":0},"interface":[{"name":"__IMTLENGTH__","type":"uinteger","label":"Total number of bundles"},{"name":"__IMTINDEX__","type":"uinteger","label":"Bundle order position"},{"name":"key","type":"text","label":"Key"},{"name":"data","spec":[{"help":"","name":"labId","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"studentEmail","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"studentName","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"labName","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"labSlug","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"meetUrl","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"sessionsJson","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"status","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"createdAt","type":"date","label":null,"required":false},{"help":"","name":"sentKeysStr","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"timeZone","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"lastErrorAt","type":"date","label":null,"required":false},{"help":"","name":"lastErrorMsg","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"lastAttempt","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"lastAttemptKey","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"exportedBatchId","type":"date","label":null,"required":false}],"type":"collection","label":"Record"}],"parameters":[{"name":"datastore","type":"datastore","label":"Data store","required":true},{"name":"continueWhenNoRes","type":"boolean","label":"Continue the execution of the route even if the module returns no results"},{"name":"limit","type":"uinteger","label":"Limit"}]},"parameters":{"limit":null,"datastore":47247,"continueWhenNoRes":false}},{"id":4,"mapper":{"from":"drive","mode":"select","values":{"0":"{{2.data.createdAt}}","1":"{{2.data.labId}}","2":"{{2.data.labName}}","3":"{{2.data.studentName}}","4":"{{2.data.studentEmail}}","5":"{{2.data.timeZone}}","6":"{{2.data.meetUrl}}","7":"{{2.data.status}}","8":"{{2.data.sentKeysStr}}","9":"{{2.data.sessionsJson}}","10":"{{now}}"},"sheetId":"Sheet1","spreadsheetId":"/1jI86uqGx9BH05IABM3kd5eO6saWa2InF/14ZJV2KH1loFwGe5F6sEDSh-tYFJ-OZb-TnErhfxf5u8","includesHeaders":true,"insertDataOption":"INSERT_ROWS","valueInputOption":"USER_ENTERED","insertUnformatted":false},"module":"google-sheets:addRow","version":2,"metadata":{"expect":[{"name":"mode","type":"select","label":"Search Method","required":true,"validate":{"enum":["select","fromAll","map"]}},{"name":"insertUnformatted","type":"boolean","label":"Unformatted","required":true},{"name":"valueInputOption","type":"select","label":"Value input option","validate":{"enum":["USER_ENTERED","RAW"]}},{"name":"insertDataOption","type":"select","label":"Insert data option","validate":{"enum":["INSERT_ROWS","OVERWRITE"]}},{"name":"from","type":"select","label":"Drive","required":true,"validate":{"enum":["drive","share","team"]}},{"name":"spreadsheetId","type":"file","label":"Spreadsheet ID","required":true},{"name":"sheetId","type":"select","label":"Sheet Name","required":true},{"name":"includesHeaders","type":"select","label":"Table contains headers","required":true,"validate":{"enum":[true,false]}},{"name":"values","spec":[{"name":"0","type":"text","label":"createdAt (A)"},{"name":"1","type":"text","label":"labId (B)"},{"name":"2","type":"text","label":"labName (C)"},{"name":"3","type":"text","label":"studentName (D)"},{"name":"4","type":"text","label":"studentEmail (E)"},{"name":"5","type":"text","label":"timeZone (F)"},{"name":"6","type":"text","label":"meetUrl (G)"},{"name":"7","type":"text","label":"status (H)"},{"name":"8","type":"text","label":"sentKeysStr (I)"},{"name":"9","type":"text","label":"sessionsJson (J)"},{"name":"10","type":"text","label":"exportBatchId (K)"},{"name":"11","type":"text","label":"(L)"},{"name":"12","type":"text","label":"(M)"},{"name":"13","type":"text","label":"(N)"},{"name":"14","type":"text","label":"(O)"},{"name":"15","type":"text","label":"(P)"},{"name":"16","type":"text","label":"(Q)"},{"name":"17","type":"text","label":"(R)"},{"name":"18","type":"text","label":"(S)"},{"name":"19","type":"text","label":"(T)"},{"name":"20","type":"text","label":"(U)"},{"name":"21","type":"text","label":"(V)"},{"name":"22","type":"text","label":"(W)"},{"name":"23","type":"text","label":"(X)"},{"name":"24","type":"text","label":"(Y)"},{"name":"25","type":"text","label":"(Z)"}],"type":"collection","label":"Values"}],"restore":{"expect":{"from":{"label":"My Drive"},"mode":{"label":"Search by path"},"sheetId":{"label":"Sheet1"},"spreadsheetId":{"path":["Flight Labs","completed_flight_lab_records"]},"includesHeaders":{"label":"Yes","nested":[{"name":"values","spec":[{"name":"0","type":"text","label":"createdAt (A)"},{"name":"1","type":"text","label":"labId (B)"},{"name":"2","type":"text","label":"labName (C)"},{"name":"3","type":"text","label":"studentName (D)"},{"name":"4","type":"text","label":"studentEmail (E)"},{"name":"5","type":"text","label":"timeZone (F)"},{"name":"6","type":"text","label":"meetUrl (G)"},{"name":"7","type":"text","label":"status (H)"},{"name":"8","type":"text","label":"sentKeysStr (I)"},{"name":"9","type":"text","label":"sessionsJson (J)"},{"name":"10","type":"text","label":"exportBatchId (K)"},{"name":"11","type":"text","label":"(L)"},{"name":"12","type":"text","label":"(M)"},{"name":"13","type":"text","label":"(N)"},{"name":"14","type":"text","label":"(O)"},{"name":"15","type":"text","label":"(P)"},{"name":"16","type":"text","label":"(Q)"},{"name":"17","type":"text","label":"(R)"},{"name":"18","type":"text","label":"(S)"},{"name":"19","type":"text","label":"(T)"},{"name":"20","type":"text","label":"(U)"},{"name":"21","type":"text","label":"(V)"},{"name":"22","type":"text","label":"(W)"},{"name":"23","type":"text","label":"(X)"},{"name":"24","type":"text","label":"(Y)"},{"name":"25","type":"text","label":"(Z)"}],"type":"collection","label":"Values"}]},"insertDataOption":{"mode":"chose","label":"Insert rows"},"valueInputOption":{"mode":"chose","label":"User entered"},"insertUnformatted":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"Krāv Google Connection (chris@kravtofly.com)"}}},"designer":{"x":600,"y":0},"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":4401759}},{"id":5,"mapper":{"key":"{{2.key}}","data":{"labId":"","status":"exported","labName":"","labSlug":"","meetUrl":"","timeZone":"","createdAt":"","lastAttempt":"","lastErrorAt":"","sentKeysStr":"","studentName":"","lastErrorMsg":"","sessionsJson":"","studentEmail":"","lastAttemptKey":"","exportedBatchId":"{{now}}"},"upsert":true,"overwriteArrays":false},"module":"datastore:UpdateRecord","version":1,"metadata":{"expect":[{"name":"key","type":"text","label":"Key","required":true},{"name":"upsert","type":"boolean","label":"Insert missing record","required":true},{"name":"overwriteArrays","type":"boolean","label":"Overwrite an existing array in the record","required":true},{"name":"data","spec":[{"name":"labId","type":"text","label":null},{"name":"studentEmail","type":"text","label":null},{"name":"studentName","type":"text","label":null},{"name":"labName","type":"text","label":null},{"name":"labSlug","type":"text","label":null},{"name":"meetUrl","type":"text","label":null},{"name":"sessionsJson","type":"text","label":null},{"name":"status","type":"text","label":null},{"name":"createdAt","type":"date","label":null},{"name":"sentKeysStr","type":"text","label":null},{"name":"timeZone","type":"text","label":null},{"name":"lastErrorAt","type":"date","label":null},{"name":"lastErrorMsg","type":"text","label":null},{"name":"lastAttempt","type":"text","label":null},{"name":"lastAttemptKey","type":"text","label":null},{"name":"exportedBatchId","type":"text","label":null}],"type":"collection","label":"Record"}],"restore":{"expect":{"upsert":{"mode":"chose"},"overwriteArrays":{"mode":"chose"}},"parameters":{"datastore":{"label":"lab_registrations"}}},"designer":{"x":900,"y":0},"parameters":[{"name":"datastore","type":"datastore","label":"Data store","required":true}]},"parameters":{"datastore":47247}}],"name":"Monthly Export • Registrations","metadata":{"instant":false,"version":1,"designer":{"orphans":[],"samples":{"2":{"key":"68bc1ddfe3878caef4092c54::chrisfikes@gmail.com","data":{"labId":"68bc1ddfe3878caef4092c54","status":"completed","labName":"Shred Those Exits!","labSlug":"68bc1ddfe3878caef4092c54","meetUrl":"https://meet.google.com/hbu-yahf-bkt","timeZone":"America/Chicago","createdAt":"2025-09-08T21:05:36.305Z","lastAttempt":"\"\"","sentKeysStr":"1757458800::24::","studentName":"Chris Fikes","lastErrorMsg":"\"\"","sessionsJson":"[{\"start\":\"2024-09-09T18:00:00-05:00\",\"end\":\"2024-09-09T19:30:00-05:00\"}\n,{\"start\":\"2024-09-16T18:00...","studentEmail":"chrisfikes@gmail.com","lastAttemptKey":"\"\""},"__IMTINDEX__":1,"__IMTLENGTH__":2},"4":{"updates":{"updatedRows":1,"updatedCells":11,"updatedRange":"Sheet1!A2:K2","spreadsheetId":"14ZJV2KH1loFwGe5F6sEDSh-tYFJ-OZb-TnErhfxf5u8","updatedColumns":11},"rowNumber":2,"sheetName":"Sheet1","tableRange":"Sheet1!A1:K1","spreadsheetId":"14ZJV2KH1loFwGe5F6sEDSh-tYFJ-OZb-TnErhfxf5u8"},"5":{"key":"68bc1ddfe3878caef4092c54::chrisfikes@gmail.com"}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}