documents/make-scenarios/27 Oct 2025/Reminder Runner - Email Students.json
{"flow":[{"id":null,"module":"placeholder:Placeholder","metadata":{"designer":{"x":0,"y":0}}},{"id":3,"mapper":{"sort":[],"filter":[[{"a":"status","b":"active","o":"text:equal"}]],"mappAbleLimit":""},"module":"datastore:SearchRecord","version":1,"metadata":{"expect":[{"name":"filter","type":"filter","label":"Filter","options":"rpc://datastore/1.12.1/RpcGetUDTKeys","required":true},{"name":"sort","spec":[{"name":"key","type":"select","label":"Key","dynamic":true,"options":[],"required":true},{"name":"order","type":"select","label":"Order","options":[{"label":"Ascending","value":1},{"label":"Descending","value":-1}],"required":true}],"type":"array","label":"Sort"},{"name":"mappAbleLimit","type":"uinteger","label":"Mappable Limit"}],"restore":{"parameters":{"datastore":{"label":"lab_registrations"}}},"advanced":true,"designer":{"x":300,"y":0},"interface":[{"name":"key","type":"text","label":"Key"},{"name":"data","spec":[{"help":"","name":"labId","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"studentEmail","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"studentName","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"labName","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"labSlug","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"meetUrl","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"sessionsJson","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"status","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"createdAt","type":"date","label":null,"required":false},{"help":"","name":"sentKeysStr","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"timeZone","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"lastErrorAt","type":"date","label":null,"required":false},{"help":"","name":"lastErrorMsg","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"lastAttempt","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"lastAttemptKey","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"exportedBatchId","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":"Record"}],"parameters":[{"name":"datastore","type":"datastore","label":"Data store","required":true},{"name":"continueWhenNoRes","type":"boolean","label":"Continue the execution of the route even if the module returns no results"},{"name":"limit","type":"uinteger","label":"Limit"}]},"parameters":{"limit":500,"datastore":47247,"continueWhenNoRes":false}},{"id":4,"mapper":{"json":"{{3.data.sessionsJson}}"},"module":"json:ParseJSON","version":1,"metadata":{"expect":[{"name":"json","type":"text","label":"JSON string","required":true}],"restore":{"parameters":{"type":{"label":"Event Session Start/End Times"}}},"designer":{"x":600,"y":0},"interface":[{"help":"","name":"start","spec":{"type":"text","default":null,"required":false,"multiline":false},"type":"array","label":null,"required":false}],"parameters":[{"name":"type","type":"udt","label":"Data structure"}]},"parameters":{"type":183631}},{"id":8,"mapper":{"date1":"{{now}}","date2":"{{4.start}}"},"module":"app#sams-toolbox-mls54z:dateDiff","version":1,"metadata":{"expect":[{"name":"date1","type":"date","label":"First Date","required":true},{"name":"date2","type":"date","label":"Second Date","required":true}],"restore":{},"designer":{"x":900,"y":0}},"parameters":{}},{"id":10,"mapper":{"scope":"roundtrip","variables":[{"name":"key24","value":"{{8.result.dates.date2.unix}}::24"},{"name":"key2","value":"{{8.result.dates.date2.unix}}::2"}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null,null]}}},"designer":{"x":1200,"y":0},"interface":[{"name":"key24","type":"any","label":"key24"},{"name":"key2","type":"any","label":"key2"}]},"parameters":{}},{"id":11,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":12,"filter":{"name":"Time window (21–27 hours)","conditions":[[{"a":"{{8.result.units.minutes}}","b":"720","o":"number:greaterorequal"},{"a":"{{8.result.units.minutes}}","b":"2160","o":"number:less"}]]},"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":13,"filter":{"name":"Not already sent (dedupe)","conditions":[[{"a":"{{3.data.sentKeysStr}}","o":"notexist"}],[{"a":"{{3.data.sentKeysStr}}","b":"\"\"","o":"text:equal:ci"}],[{"a":"{{3.data.sentKeysStr}}","b":"{{10.key24}}","o":"text:notcontain"}]]},"mapper":{"cc":[],"to":"{{3.data.studentEmail}}","bcc":[],"from":"","html":"<p>Hi {{3.data.studentName}},</p>\n\n<p>Quick reminder: {{3.data.labName}} is coming up:<br>Date:  {{8.result.dates.date2.date}}<br>Time: {{8.result.dates.date2.time}}<br>Time Zone:  {{3.data.timeZone}}.</p>\n\n<p>Meet link: {{3.data.meetUrl}}</p>\n\n<p>See you there!</p>\n","subject":"Reminder: Krāv Flight Lab -{{3.data.labName}} is happening soon!","attachments":[]},"module":"google-email:ActionSendEmail","onerror":[{"id":15,"mapper":{"scope":"roundtrip","variables":[{"name":"errKey","value":"{{10.key24}}"},{"name":"errMsg","value":"{{13.error.message}}"},{"name":"errAt","value":"{{now}}"}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null,null,null]}}},"designer":{"x":2400,"y":150},"interface":[{"name":"errKey","type":"any","label":"errKey"},{"name":"errMsg","type":"any","label":"errMsg"},{"name":"errAt","type":"any","label":"errAt"}]},"parameters":{}},{"id":16,"mapper":{"key":"{{3.key}}","data":{"labId":"","status":"","labName":"","labSlug":"","meetUrl":"","timeZone":"","createdAt":"","lastAttempt":"24","lastErrorAt":"{{15.errAt}}","sentKeysStr":"","studentName":"","lastErrorMsg":"{{15.errMsg}}","sessionsJson":"","studentEmail":"","lastAttemptKey":"{{15.errKey}}"},"upsert":true,"overwriteArrays":false},"module":"datastore:UpdateRecord","version":1,"metadata":{"expect":[{"name":"key","type":"text","label":"Key","required":true},{"name":"upsert","type":"boolean","label":"Insert missing record","required":true},{"name":"overwriteArrays","type":"boolean","label":"Overwrite an existing array in the record","required":true},{"name":"data","spec":[{"name":"labId","type":"text","label":null},{"name":"studentEmail","type":"text","label":null},{"name":"studentName","type":"text","label":null},{"name":"labName","type":"text","label":null},{"name":"labSlug","type":"text","label":null},{"name":"meetUrl","type":"text","label":null},{"name":"sessionsJson","type":"text","label":null},{"name":"status","type":"text","label":null},{"name":"createdAt","type":"date","label":null},{"name":"sentKeysStr","type":"text","label":null},{"name":"timeZone","type":"text","label":null},{"name":"lastErrorAt","type":"date","label":null},{"name":"lastErrorMsg","type":"text","label":null},{"name":"lastAttempt","type":"text","label":null},{"name":"lastAttemptKey","type":"text","label":null}],"type":"collection","label":"Record"}],"restore":{"expect":{"upsert":{"mode":"chose"},"overwriteArrays":{"mode":"chose"}},"parameters":{"datastore":{"label":"lab_registrations"}}},"designer":{"x":2700,"y":150},"parameters":[{"name":"datastore","type":"datastore","label":"Data store","required":true}]},"parameters":{"datastore":47247}},{"id":17,"mapper":{"cc":[],"to":["chrisfikes@gmail.com"],"bcc":[],"from":"","html":"{{8.result.dates.date2}}<br>{{13.error.message}}","subject":"Reminder send failed – {{3.data.labName}}","attachments":[]},"module":"google-email:ActionSendEmail","version":2,"metadata":{"expect":[{"name":"from","type":"text","label":"From"},{"name":"to","spec":{"name":"value","type":"email","label":"Email address","required":true},"type":"array","label":"To","required":true},{"name":"subject","type":"text","label":"Subject"},{"name":"html","type":"text","label":"Content"},{"name":"attachments","spec":[{"name":"fileName","type":"filename","label":"File name","required":true,"semantic":"file:name"},{"name":"data","type":"buffer","label":"Data","required":true,"semantic":"file:data"},{"name":"cid","type":"text","label":"Content-ID"}],"type":"array","label":"Attachments"},{"name":"cc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Copy recipient"},{"name":"bcc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Blind copy recipient"}],"restore":{"expect":{"cc":{"mode":"chose"},"to":{"mode":"chose","items":[null]},"bcc":{"mode":"chose"},"attachments":{"mode":"chose"}},"parameters":{"account":{"data":{"scoped":"true","connection":"google-restricted"},"label":"Krāv Gmail Connection (chris@kravtofly.com)"}}},"designer":{"x":3000,"y":150},"parameters":[{"name":"account","type":"account:google-restricted","label":"Connection","required":true}]},"parameters":{"account":4397255}},{"id":19,"mapper":{"from":"drive","mode":"select","values":{"0":"{{now}}","1":"{{3.data.labId}}","2":"{{3.data.labName}}","3":"{{3.data.studentEmail}}","4":"{{3.data.studentName}}","5":"{{8.result.dates.date2}};{{3.data.timeZone}}","6":"error","7":"{{13.error.message}}"},"sheetId":"Sheet1","spreadsheetId":"/1jI86uqGx9BH05IABM3kd5eO6saWa2InF/18FsgJXjihc8d-FHqrMSmzWU_4JfzmFJpBamUmYD8snk","includesHeaders":true,"insertDataOption":"INSERT_ROWS","valueInputOption":"USER_ENTERED","insertUnformatted":false},"module":"google-sheets:addRow","version":2,"metadata":{"expect":[{"name":"mode","type":"select","label":"Search Method","required":true,"validate":{"enum":["select","fromAll","map"]}},{"name":"insertUnformatted","type":"boolean","label":"Unformatted","required":true},{"name":"valueInputOption","type":"select","label":"Value input option","validate":{"enum":["USER_ENTERED","RAW"]}},{"name":"insertDataOption","type":"select","label":"Insert data option","validate":{"enum":["INSERT_ROWS","OVERWRITE"]}},{"name":"from","type":"select","label":"Drive","required":true,"validate":{"enum":["drive","share","team"]}},{"name":"spreadsheetId","type":"file","label":"Spreadsheet ID","required":true},{"name":"sheetId","type":"select","label":"Sheet Name","required":true},{"name":"includesHeaders","type":"select","label":"Table contains headers","required":true,"validate":{"enum":[true,false]}},{"name":"values","spec":[{"name":"0","type":"text","label":"runAt (A)"},{"name":"1","type":"text","label":"labId (B)"},{"name":"2","type":"text","label":"labName (C)"},{"name":"3","type":"text","label":"studentEmail (D)"},{"name":"4","type":"text","label":"studentName (E)"},{"name":"5","type":"text","label":"sessionStartLocal (F)"},{"name":"6","type":"text","label":"status (G)"},{"name":"7","type":"text","label":"note (H)"},{"name":"8","type":"text","label":"(I)"},{"name":"9","type":"text","label":"(J)"},{"name":"10","type":"text","label":"(K)"},{"name":"11","type":"text","label":"(L)"},{"name":"12","type":"text","label":"(M)"},{"name":"13","type":"text","label":"(N)"},{"name":"14","type":"text","label":"(O)"},{"name":"15","type":"text","label":"(P)"},{"name":"16","type":"text","label":"(Q)"},{"name":"17","type":"text","label":"(R)"},{"name":"18","type":"text","label":"(S)"},{"name":"19","type":"text","label":"(T)"},{"name":"20","type":"text","label":"(U)"},{"name":"21","type":"text","label":"(V)"},{"name":"22","type":"text","label":"(W)"},{"name":"23","type":"text","label":"(X)"},{"name":"24","type":"text","label":"(Y)"},{"name":"25","type":"text","label":"(Z)"}],"type":"collection","label":"Values"}],"restore":{"expect":{"from":{"label":"My Drive"},"mode":{"label":"Search by path"},"sheetId":{"label":"Sheet1"},"spreadsheetId":{"path":["Flight Labs","krav_reminders_log"]},"includesHeaders":{"label":"Yes","nested":[{"name":"values","spec":[{"name":"0","type":"text","label":"runAt (A)"},{"name":"1","type":"text","label":"labId (B)"},{"name":"2","type":"text","label":"labName (C)"},{"name":"3","type":"text","label":"studentEmail (D)"},{"name":"4","type":"text","label":"studentName (E)"},{"name":"5","type":"text","label":"sessionStartLocal (F)"},{"name":"6","type":"text","label":"status (G)"},{"name":"7","type":"text","label":"note (H)"},{"name":"8","type":"text","label":"(I)"},{"name":"9","type":"text","label":"(J)"},{"name":"10","type":"text","label":"(K)"},{"name":"11","type":"text","label":"(L)"},{"name":"12","type":"text","label":"(M)"},{"name":"13","type":"text","label":"(N)"},{"name":"14","type":"text","label":"(O)"},{"name":"15","type":"text","label":"(P)"},{"name":"16","type":"text","label":"(Q)"},{"name":"17","type":"text","label":"(R)"},{"name":"18","type":"text","label":"(S)"},{"name":"19","type":"text","label":"(T)"},{"name":"20","type":"text","label":"(U)"},{"name":"21","type":"text","label":"(V)"},{"name":"22","type":"text","label":"(W)"},{"name":"23","type":"text","label":"(X)"},{"name":"24","type":"text","label":"(Y)"},{"name":"25","type":"text","label":"(Z)"}],"type":"collection","label":"Values"}]},"insertDataOption":{"mode":"chose","label":"Insert rows"},"valueInputOption":{"mode":"chose","label":"User entered"},"insertUnformatted":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"Krāv Google Connection (chris@kravtofly.com)"}}},"designer":{"x":3300,"y":150},"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":4401759}}],"version":2,"metadata":{"expect":[{"name":"from","type":"text","label":"From"},{"name":"to","spec":{"name":"value","type":"email","label":"Email address","required":true},"type":"array","label":"To","required":true},{"name":"subject","type":"text","label":"Subject"},{"name":"html","type":"text","label":"Content"},{"name":"attachments","spec":[{"name":"fileName","type":"filename","label":"File name","required":true,"semantic":"file:name"},{"name":"data","type":"buffer","label":"Data","required":true,"semantic":"file:data"},{"name":"cid","type":"text","label":"Content-ID"}],"type":"array","label":"Attachments"},{"name":"cc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Copy recipient"},{"name":"bcc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Blind copy recipient"}],"restore":{"expect":{"cc":{"mode":"chose"},"to":{"mode":"edit"},"bcc":{"mode":"chose"},"attachments":{"mode":"chose"}},"parameters":{"account":{"data":{"scoped":"true","connection":"google-restricted"},"label":"Krāv Gmail Connection (chris@kravtofly.com)"}}},"designer":{"x":2100,"y":0},"parameters":[{"name":"account","type":"account:google-restricted","label":"Connection","required":true}]},"parameters":{"account":4397255}},{"id":14,"mapper":{"key":"{{3.key}}","data":{"labId":"","status":"","labName":"","labSlug":"","meetUrl":"","timeZone":"","createdAt":"","sentKeysStr":"{{ifempty(3.data.sentKeysStr)}}{{10.key24}}{{join(3.data.sentKeysStr; 10.key24)}}::","studentName":"","sessionsJson":"","studentEmail":""},"upsert":true,"overwriteArrays":false},"module":"datastore:UpdateRecord","version":1,"metadata":{"expect":[{"name":"key","type":"text","label":"Key","required":true},{"name":"upsert","type":"boolean","label":"Insert missing record","required":true},{"name":"overwriteArrays","type":"boolean","label":"Overwrite an existing array in the record","required":true},{"name":"data","spec":[{"name":"labId","type":"text","label":null},{"name":"studentEmail","type":"text","label":null},{"name":"studentName","type":"text","label":null},{"name":"labName","type":"text","label":null},{"name":"labSlug","type":"text","label":null},{"name":"meetUrl","type":"text","label":null},{"name":"sessionsJson","type":"text","label":null},{"name":"status","type":"text","label":null},{"name":"createdAt","type":"date","label":null},{"name":"sentKeysStr","type":"text","label":null},{"name":"timeZone","type":"text","label":null}],"type":"collection","label":"Record"}],"restore":{"expect":{"upsert":{"mode":"chose"},"overwriteArrays":{"mode":"chose"}},"parameters":{"datastore":{"label":"lab_registrations"}}},"designer":{"x":2400,"y":-150},"parameters":[{"name":"datastore","type":"datastore","label":"Data store","required":true}]},"parameters":{"datastore":47247}},{"id":18,"mapper":{"from":"drive","mode":"select","values":{"0":"{{now}}","1":"{{3.data.labId}}","2":"{{3.data.labName}}","3":"{{3.data.studentEmail}}","4":"{{3.data.studentName}}","5":"{{8.result.dates.date2}};{{3.data.timeZone}}","6":"sent","7":"24h"},"sheetId":"Sheet1","spreadsheetId":"/1jI86uqGx9BH05IABM3kd5eO6saWa2InF/18FsgJXjihc8d-FHqrMSmzWU_4JfzmFJpBamUmYD8snk","includesHeaders":true,"insertDataOption":"INSERT_ROWS","valueInputOption":"USER_ENTERED","insertUnformatted":false},"module":"google-sheets:addRow","version":2,"metadata":{"expect":[{"name":"mode","type":"select","label":"Search Method","required":true,"validate":{"enum":["select","fromAll","map"]}},{"name":"insertUnformatted","type":"boolean","label":"Unformatted","required":true},{"name":"valueInputOption","type":"select","label":"Value input option","validate":{"enum":["USER_ENTERED","RAW"]}},{"name":"insertDataOption","type":"select","label":"Insert data option","validate":{"enum":["INSERT_ROWS","OVERWRITE"]}},{"name":"from","type":"select","label":"Drive","required":true,"validate":{"enum":["drive","share","team"]}},{"name":"spreadsheetId","type":"file","label":"Spreadsheet ID","required":true},{"name":"sheetId","type":"select","label":"Sheet Name","required":true},{"name":"includesHeaders","type":"select","label":"Table contains headers","required":true,"validate":{"enum":[true,false]}},{"name":"values","spec":[{"name":"0","type":"text","label":"runAt (A)"},{"name":"1","type":"text","label":"labId (B)"},{"name":"2","type":"text","label":"labName (C)"},{"name":"3","type":"text","label":"studentEmail (D)"},{"name":"4","type":"text","label":"studentName (E)"},{"name":"5","type":"text","label":"sessionStartLocal (F)"},{"name":"6","type":"text","label":"status (G)"},{"name":"7","type":"text","label":"note (H)"},{"name":"8","type":"text","label":"(I)"},{"name":"9","type":"text","label":"(J)"},{"name":"10","type":"text","label":"(K)"},{"name":"11","type":"text","label":"(L)"},{"name":"12","type":"text","label":"(M)"},{"name":"13","type":"text","label":"(N)"},{"name":"14","type":"text","label":"(O)"},{"name":"15","type":"text","label":"(P)"},{"name":"16","type":"text","label":"(Q)"},{"name":"17","type":"text","label":"(R)"},{"name":"18","type":"text","label":"(S)"},{"name":"19","type":"text","label":"(T)"},{"name":"20","type":"text","label":"(U)"},{"name":"21","type":"text","label":"(V)"},{"name":"22","type":"text","label":"(W)"},{"name":"23","type":"text","label":"(X)"},{"name":"24","type":"text","label":"(Y)"},{"name":"25","type":"text","label":"(Z)"}],"type":"collection","label":"Values"}],"restore":{"expect":{"from":{"label":"My Drive"},"mode":{"label":"Search by path"},"sheetId":{"label":"Sheet1"},"spreadsheetId":{"path":["Flight Labs","krav_reminders_log"]},"includesHeaders":{"label":"Yes","nested":[{"name":"values","spec":[{"name":"0","type":"text","label":"runAt (A)"},{"name":"1","type":"text","label":"labId (B)"},{"name":"2","type":"text","label":"labName (C)"},{"name":"3","type":"text","label":"studentEmail (D)"},{"name":"4","type":"text","label":"studentName (E)"},{"name":"5","type":"text","label":"sessionStartLocal (F)"},{"name":"6","type":"text","label":"status (G)"},{"name":"7","type":"text","label":"note (H)"},{"name":"8","type":"text","label":"(I)"},{"name":"9","type":"text","label":"(J)"},{"name":"10","type":"text","label":"(K)"},{"name":"11","type":"text","label":"(L)"},{"name":"12","type":"text","label":"(M)"},{"name":"13","type":"text","label":"(N)"},{"name":"14","type":"text","label":"(O)"},{"name":"15","type":"text","label":"(P)"},{"name":"16","type":"text","label":"(Q)"},{"name":"17","type":"text","label":"(R)"},{"name":"18","type":"text","label":"(S)"},{"name":"19","type":"text","label":"(T)"},{"name":"20","type":"text","label":"(U)"},{"name":"21","type":"text","label":"(V)"},{"name":"22","type":"text","label":"(W)"},{"name":"23","type":"text","label":"(X)"},{"name":"24","type":"text","label":"(Y)"},{"name":"25","type":"text","label":"(Z)"}],"type":"collection","label":"Values"}]},"insertDataOption":{"mode":"chose","label":"Insert rows"},"valueInputOption":{"mode":"chose","label":"User entered"},"insertUnformatted":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"Krāv Google Connection (chris@kravtofly.com)"}}},"designer":{"x":2700,"y":-150},"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":4401759}}]}],"version":1,"metadata":{"designer":{"x":1800,"y":0}}}]}],"version":1,"metadata":{"designer":{"x":1500,"y":0}}}],"name":"Reminder Runner - Email Students","metadata":{"instant":false,"version":1,"designer":{"orphans":[],"samples":{"3":{"key":"68bc1ddfe3878caef4092c54::chrisfikes@gmail.com","data":{"labId":"68bc1ddfe3878caef4092c54","status":"active","labName":"Shred Those Exits!","labSlug":"68bc1ddfe3878caef4092c54","meetUrl":"https://meet.google.com/hbu-yahf-bkt","timeZone":"America/Chicago","createdAt":"2025-09-06T20:35:58.857Z","sentKeysStr":null,"studentName":"C. Fikes","sessionsJson":"[{\"start\":\"2025-09-09T08:00:00-06:00\",\"end\":\"2025-09-09T19:30:00-05:00\"}\n,{\"start\":\"2025-09-16T18:00...","studentEmail":"chrisfikes@gmail.com"},"__IMTINDEX__":1,"__IMTLENGTH__":1},"4":{"end":"2025-09-09T19:30:00-05:00","start":"2025-09-09T08:00:00-06:00"},"8":{"result":{"diff":{"days":0,"hours":21,"years":0,"months":0,"minutes":38,"seconds":4},"text":"21 hours, 38 minutes, 4 seconds","dates":{"date1":{"ts":1757348515803,"utc":"2025-09-08T16:21:55.803Z","date":"09/08/2025","time":"16:21:55","unix":1757348515,"locale":"en-US","datetime":"09/08/2025, 16:21:55"},"date2":{"ts":1757426400000,"utc":"2025-09-09T14:00:00.000Z","date":"09/09/2025","time":"14:00:00","unix":1757426400,"locale":"en-US","datetime":"09/09/2025, 14:00:00"}},"units":{"days":0.9014374652777778,"hours":21.634499166666668,"years":0.002468051952545987,"months":0.02961662343055185,"minutes":1298.06995,"seconds":77884.197},"diff_formatted":{"days":"0 days","hours":"21 hours","years":"0 years","months":"0 months","minutes":"38 minutes","seconds":"4 seconds"},"units_formatted":{"days":"0.90 days","hours":"21.63 hours","years":"0.00 years","months":"0.03 months","minutes":"1298.07 minutes","seconds":"77884.20 seconds"}}},"10":{"key2":"1757426400::2","key24":"1757426400::24"},"13":{"messageId":"<8514e61f-4c14-8bcd-e5c0-91779cf0ce05@kravtofly.com>"},"14":{"key":"68bc1ddfe3878caef4092c54::chrisfikes@gmail.com"},"15":{"errAt":"2025-09-08T16:21:23.574Z","errKey":"1757426400::24","errMsg":"Validation failed for 1 parameter(s)."},"16":{"key":"68bc1ddfe3878caef4092c54::chrisfikes@gmail.com"},"17":{"messageId":"<36353f1b-13dc-1d0b-4517-2b43d56e02b4@kravtofly.com>"},"18":{"updates":{"updatedRows":1,"updatedCells":8,"updatedRange":"Sheet1!A3:H3","spreadsheetId":"18FsgJXjihc8d-FHqrMSmzWU_4JfzmFJpBamUmYD8snk","updatedColumns":8},"rowNumber":3,"sheetName":"Sheet1","tableRange":"Sheet1!A1:H2","spreadsheetId":"18FsgJXjihc8d-FHqrMSmzWU_4JfzmFJpBamUmYD8snk"},"19":{"updates":{"updatedRows":1,"updatedCells":2,"updatedRange":"Sheet1!A2:H2","spreadsheetId":"18FsgJXjihc8d-FHqrMSmzWU_4JfzmFJpBamUmYD8snk","updatedColumns":2},"rowNumber":2,"sheetName":"Sheet1","tableRange":"Sheet1!A1:H1","spreadsheetId":"18FsgJXjihc8d-FHqrMSmzWU_4JfzmFJpBamUmYD8snk"}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}