documents/make-scenarios/27 Oct 2025/Stripe → Create Review Order + Email Secure Upload Link.json
{"flow":[{"id":2,"mapper":{},"module":"stripe:watchEvents","version":1,"metadata":{"restore":{"parameters":{"__IMTHOOK__":{"data":{"editable":"false"},"label":"Stripe DD & QR Checkout Completed"}}},"designer":{"x":0,"y":600},"interface":[{"name":"created","type":"date","label":"Created"},{"name":"event_type","type":"text","label":"Event Type"},{"name":"event_id","type":"text","label":"Event ID"},{"name":"object","spec":null,"type":"collection","label":"Object"},{"name":"raw","spec":[],"type":"collection","label":"Raw Webhook Data"}],"parameters":[{"name":"__IMTHOOK__","type":"hook:stripe2","label":"Webhook","required":true}]},"parameters":{"__IMTHOOK__":1396044}},{"id":13,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":6,"filter":{"name":"Process Only Completed + Paid","conditions":[[{"a":"{{2.event_type}}","b":"checkout.session.completed","o":"text:equal"},{"a":"{{2.object.payment_status}}","b":"paid","o":"text:equal"},{"a":"{{2.object.payment_link}}","o":"exist"}]]},"mapper":{"sort":[],"filter":[[{"a":"payment_link_id","b":"{{2.object.payment_link}}","o":"text:equal"}]],"mappAbleLimit":""},"module":"datastore:SearchRecord","version":1,"metadata":{"expect":[{"name":"filter","type":"filter","label":"Filter","options":"rpc://datastore/1.12.1/RpcGetUDTKeys","required":true},{"name":"sort","spec":[{"name":"key","type":"select","label":"Key","dynamic":true,"options":[],"required":true},{"name":"order","type":"select","label":"Order","options":[{"label":"Ascending","value":1},{"label":"Descending","value":-1}],"required":true}],"type":"array","label":"Sort"},{"name":"mappAbleLimit","type":"uinteger","label":"Mappable Limit"}],"restore":{"parameters":{"datastore":{"label":"PaymentLinkMap"}}},"advanced":true,"designer":{"x":600,"y":450},"interface":[{"name":"__IMTLENGTH__","type":"uinteger","label":"Total number of bundles"},{"name":"__IMTINDEX__","type":"uinteger","label":"Bundle order position"},{"name":"key","type":"text","label":"Key"},{"name":"data","spec":[{"help":"","name":"payment_link_id","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"coach_id","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"coach_name","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"coach_email","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"offer_type","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"price_cents","type":"number","label":null,"default":null,"required":false}],"type":"collection","label":"Record"}],"parameters":[{"name":"datastore","type":"datastore","label":"Data store","required":true},{"name":"continueWhenNoRes","type":"boolean","label":"Continue the execution of the route even if the module returns no results"},{"name":"limit","type":"uinteger","label":"Limit"}]},"parameters":{"limit":1,"datastore":50936,"continueWhenNoRes":true}},{"id":18,"mapper":{"sort":[],"filter":[[{"a":"Stripe Checkout Session ID","b":"{{2.object.id}}","o":"text:equal"}]],"mappAbleLimit":""},"module":"datastore:SearchRecord","version":1,"metadata":{"expect":[{"name":"filter","type":"filter","label":"Filter","options":"rpc://datastore/1.12.1/RpcGetUDTKeys","required":true},{"name":"sort","spec":[{"name":"key","type":"select","label":"Key","dynamic":true,"options":[],"required":true},{"name":"order","type":"select","label":"Order","options":[{"label":"Ascending","value":1},{"label":"Descending","value":-1}],"required":true}],"type":"array","label":"Sort"},{"name":"mappAbleLimit","type":"uinteger","label":"Mappable Limit"}],"restore":{"parameters":{"datastore":{"label":"ProcessedCheckoutSessions"}}},"advanced":true,"designer":{"x":900,"y":450},"interface":[{"name":"__IMTLENGTH__","type":"uinteger","label":"Total number of bundles"},{"name":"__IMTINDEX__","type":"uinteger","label":"Bundle order position"},{"name":"key","type":"text","label":"Key"},{"name":"data","spec":[{"help":"","name":"Stripe Checkout Session ID","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":"Record"}],"parameters":[{"name":"datastore","type":"datastore","label":"Data store","required":true},{"name":"continueWhenNoRes","type":"boolean","label":"Continue the execution of the route even if the module returns no results"},{"name":"limit","type":"uinteger","label":"Limit"}]},"parameters":{"limit":1,"datastore":54932,"continueWhenNoRes":true}},{"id":8,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":4,"filter":{"name":"Payment Link ID Exists","conditions":[[{"a":"{{6.data.payment_link_id}}","o":"exist"}]]},"mapper":{"scope":"roundtrip","variables":[{"name":"orderId","value":"{{uuid}}"},{"name":"uploadToken","value":"{{uuid}}"},{"name":"tokenExpiresAt","value":"{{addSeconds(now; 1209600)}}"}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null,null,null]}}},"designer":{"x":1500,"y":300},"interface":[{"name":"orderId","type":"any","label":"orderId"},{"name":"uploadToken","type":"any","label":"uploadToken"},{"name":"tokenExpiresAt","type":"any","label":"tokenExpiresAt"}]},"parameters":{}},{"id":7,"mapper":{"id":"{{4.orderId}}","table":"review_orders","status":"paid","coach_id":"{{6.data.coach_id}}","currency":"{{2.object.currency}}","coach_name":"{{6.data.coach_name}}","offer_type":"{{6.data.offer_type}}","coach_email":"{{6.data.coach_email}}","customer_id":"{{2.object.customer}}","price_cents":"{{2.object.amount_total}}","student_name":"{{2.object.custom_fields[].text.value}}","upload_token":"{{4.uploadToken}}","student_email":"{{2.object.customer_details.email}}","payment_link_id":"{{2.object.payment_link}}","token_expires_at":"{{4.tokenExpiresAt}}","unit_price_cents":"{{6.data.price_cents}}","checkout_session_id":"{{2.object.id}}"},"module":"supabase:upsertARecord","onerror":[{"id":25,"filter":{"name":"Catch DB-409","conditions":[[{"a":"{{7.error.message}}","b":"duplicate key value","o":"text:contain"}]]},"mapper":{"key":"{{2.object.id}}","data":{"Processed At":"","Stripe Checkout Session ID":""},"upsert":true,"overwriteArrays":false},"module":"datastore:UpdateRecord","version":1,"metadata":{"expect":[{"name":"key","type":"text","label":"Key","required":true},{"name":"upsert","type":"boolean","label":"Insert missing record","required":true},{"name":"overwriteArrays","type":"boolean","label":"Overwrite an existing array in the record","required":true},{"name":"data","spec":[{"name":"Stripe Checkout Session ID","type":"text","label":null},{"name":"Processed At","type":"date","label":null}],"type":"collection","label":"Record"}],"restore":{"expect":{"upsert":{"mode":"chose"},"overwriteArrays":{"mode":"chose"}},"parameters":{"datastore":{"label":"ProcessedCheckoutSessions"}}},"designer":{"x":2100,"y":600},"parameters":[{"name":"datastore","type":"datastore","label":"Data store","required":true}]},"parameters":{"datastore":54932}},{"id":26,"mapper":{"body":"{ \"ok\": true, \"skipped\": true, \"reason\": \"already_exists\" }","status":"200","headers":[]},"module":"gateway:WebhookRespond","version":1,"metadata":{"expect":[{"name":"status","type":"uinteger","label":"Status","required":true,"validate":{"min":100}},{"name":"body","type":"any","label":"Body"},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key","required":true,"validate":{"max":256}},{"name":"value","type":"text","label":"Value","required":true,"validate":{"max":4096}}],"type":"array","label":"Custom headers","validate":{"maxItems":16}}],"restore":{"expect":{"headers":{"mode":"chose"}}},"designer":{"x":2400,"y":600}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"table","type":"select","label":"Table","required":true},{"name":"id","type":"text"},{"name":"upload_token","type":"text"},{"name":"token_expires_at","type":"text"},{"name":"student_email","type":"text"},{"name":"student_name","type":"text"},{"name":"coach_id","type":"text"},{"name":"coach_name","type":"text"},{"name":"coach_email","type":"text"},{"name":"currency","type":"text"},{"name":"unit_price_cents","type":"integer"},{"name":"num_videos","type":"integer"},{"name":"one_on_one","type":"boolean"},{"name":"one_on_one_price_cents","type":"integer"},{"name":"scheduled_at","type":"text"},{"name":"stripe_session_id","type":"text"},{"name":"stripe_payment_intent_id","type":"text"},{"name":"status","type":"select","validate":{"enum":["checkout_pending","paid","uploading","in_review","complete","cancelled","refunded"]}},{"name":"terms_version","type":"text"},{"name":"terms_accepted_at","type":"text"},{"name":"public_default","type":"boolean"},{"name":"created_at","type":"text"},{"name":"updated_at","type":"text"},{"name":"offer_type","type":"text"},{"name":"price_cents","type":"integer"},{"name":"payment_link_id","type":"text"},{"name":"checkout_session_id","type":"text"},{"name":"customer_id","type":"text"},{"name":"metadata","type":"text"}],"restore":{"expect":{"table":{"mode":"chose","label":"review_orders","nested":[{"help":"Defaults to gen_random_uuid(). Note:\nThis is a Primary Key.<pk/>","name":"id","type":"text","label":"id","options":null,"required":false},{"help":"Defaults to gen_random_uuid(). ","name":"upload_token","type":"text","label":"upload_token","options":null,"required":false},{"help":"Defaults to (now() + '14 days'::interval). ","name":"token_expires_at","type":"text","label":"token_expires_at","options":null,"required":false},{"help":"","name":"student_email","type":"text","label":"student_email","options":null,"required":false},{"help":"","name":"student_name","type":"text","label":"student_name","options":null,"required":false},{"help":"","name":"coach_id","type":"text","label":"coach_id","options":null,"required":false},{"help":"","name":"coach_name","type":"text","label":"coach_name","options":null,"required":false},{"help":"","name":"coach_email","type":"text","label":"coach_email","options":null,"required":false},{"help":"Defaults to usd. ","name":"currency","type":"text","label":"currency","options":null,"required":false},{"help":"","name":"unit_price_cents","type":"integer","label":"unit_price_cents","options":null,"required":false},{"help":"Defaults to 1. ","name":"num_videos","type":"integer","label":"num_videos","options":null,"required":false},{"help":"","name":"one_on_one","type":"boolean","label":"one_on_one","options":null,"required":false},{"help":"","name":"one_on_one_price_cents","type":"integer","label":"one_on_one_price_cents","options":null,"required":false},{"help":"","name":"scheduled_at","type":"text","label":"scheduled_at","options":null,"required":false},{"help":"","name":"stripe_session_id","type":"text","label":"stripe_session_id","options":null,"required":false},{"help":"","name":"stripe_payment_intent_id","type":"text","label":"stripe_payment_intent_id","options":null,"required":false},{"help":"Defaults to checkout_pending. ","name":"status","type":"select","label":"status","options":[{"label":"checkout_pending","value":"checkout_pending"},{"label":"paid","value":"paid"},{"label":"uploading","value":"uploading"},{"label":"in_review","value":"in_review"},{"label":"complete","value":"complete"},{"label":"cancelled","value":"cancelled"},{"label":"refunded","value":"refunded"}],"required":false},{"help":"","name":"terms_version","type":"text","label":"terms_version","options":null,"required":false},{"help":"","name":"terms_accepted_at","type":"text","label":"terms_accepted_at","options":null,"required":false},{"help":"Defaults to true. ","name":"public_default","type":"boolean","label":"public_default","options":null,"required":false},{"help":"Defaults to now(). ","name":"created_at","type":"text","label":"created_at","options":null,"required":false},{"help":"Defaults to now(). ","name":"updated_at","type":"text","label":"updated_at","options":null,"required":false},{"help":"","name":"offer_type","type":"text","label":"offer_type","options":null,"required":false},{"help":"","name":"price_cents","type":"integer","label":"price_cents","options":null,"required":false},{"help":"","name":"payment_link_id","type":"text","label":"payment_link_id","options":null,"required":false},{"help":"","name":"checkout_session_id","type":"text","label":"checkout_session_id","options":null,"required":false},{"help":"","name":"customer_id","type":"text","label":"customer_id","options":null,"required":false},{"help":"","name":"metadata","type":"text","label":"metadata","options":null,"required":false}]},"status":{"mode":"chose","label":"paid"},"one_on_one":{"mode":"chose"},"public_default":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"supabase"},"label":"Krāv Supabase Connection"}}},"designer":{"x":1800,"y":300},"interface":[{"name":"id","type":"text","label":"id"},{"name":"upload_token","type":"text","label":"upload_token"},{"name":"token_expires_at","type":"text","label":"token_expires_at"},{"name":"student_email","type":"text","label":"student_email"},{"name":"student_name","type":"text","label":"student_name"},{"name":"coach_id","type":"text","label":"coach_id"},{"name":"coach_name","type":"text","label":"coach_name"},{"name":"coach_email","type":"text","label":"coach_email"},{"name":"currency","type":"text","label":"currency"},{"name":"unit_price_cents","type":"number","label":"unit_price_cents"},{"name":"num_videos","type":"number","label":"num_videos"},{"name":"one_on_one","type":"boolean","label":"one_on_one"},{"name":"one_on_one_price_cents","type":"number","label":"one_on_one_price_cents"},{"name":"scheduled_at","type":"text","label":"scheduled_at"},{"name":"stripe_session_id","type":"text","label":"stripe_session_id"},{"name":"stripe_payment_intent_id","type":"text","label":"stripe_payment_intent_id"},{"name":"status","type":"text","label":"status"},{"name":"terms_version","type":"text","label":"terms_version"},{"name":"terms_accepted_at","type":"text","label":"terms_accepted_at"},{"name":"public_default","type":"boolean","label":"public_default"},{"name":"created_at","type":"text","label":"created_at"},{"name":"updated_at","type":"text","label":"updated_at"},{"name":"offer_type","type":"text","label":"offer_type"},{"name":"price_cents","type":"number","label":"price_cents"},{"name":"payment_link_id","type":"text","label":"payment_link_id"},{"name":"checkout_session_id","type":"text","label":"checkout_session_id"},{"name":"customer_id","type":"text","label":"customer_id"},{"name":"metadata","type":"text","label":"metadata"}],"parameters":[{"name":"__IMTCONN__","type":"account:supabase","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":5562690}},{"id":11,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":10,"filter":{"name":"Deep Dive + 1-on-1","conditions":[[{"a":"{{6.data.offer_type}}","b":"deep","o":"text:equal"}]]},"mapper":{"cc":[],"to":"{{2.object.customer_details.email}}","bcc":[],"from":"","html":"<div style=\"font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif; color:#0b0b0b; line-height:1.55; max-width:640px;\">\n  <p>Hi {{ifempty(2.object.custom_fields[].text.value; 2.object.customer_details.email)}},</p>\n\n  <p>Your <strong>Deep Dive + 1-on-1</strong> with <strong>{{6.data.coach_name}}</strong> is confirmed.</p>\n\n  <p>To prep for your call, please upload your video and add a brief note about goals/challenges:</p>\n\n  <p style=\"margin: 24px 0;\">\n    <a href=\"https://www.kravtofly.com/upload?order={{4.orderId}}&token={{4.uploadToken}}&owner_name={{encodeURL(ifempty(2.object.customer_details.name; 2.object.customer_details.email))}}&owner_email={{encodeURL(2.object.customer_details.email)}}&coach={{encodeURL(6.data.coach_name)}}\"\n       style=\"display:inline-block; padding:12px 18px; background:#111827; color:#ffffff; text-decoration:none; border-radius:8px; font-weight:600;\">\n      Upload Video\n    </a>\n  </p>\n\n  <p><strong>Heads up</strong></p>\n  <ul>\n    <li>If your call is soon, upload ASAP so your coach has time to review.</li>\n    <li>You’ll get a reminder with your meeting link from Cal.com.</li>\n  </ul>\n\n  <p style=\"font-size:13px; color:#4b5563;\">\n    Link expires: {{4.tokenExpiresAt}}. Please don’t share this link—it's tied to your order.\n  </p>\n\n  <p style=\"margin-top:28px;\">Blue skies,<br>Krāv</p>\n\n  <hr style=\"border:none; border-top:1px solid #e5e7eb; margin:20px 0;\">\n  <p style=\"font-size:12px; color:#6b7280;\">\n    Need help? Reply to this email and include your Order ID: <code>{{4.orderId}}</code>.\n  </p>\n</div>\n","subject":"You're all set — upload your video for {{6.data.coach_name}}","attachments":[]},"module":"google-email:ActionSendEmail","version":2,"metadata":{"expect":[{"name":"from","type":"text","label":"From"},{"name":"to","spec":{"name":"value","type":"email","label":"Email address","required":true},"type":"array","label":"To","required":true},{"name":"subject","type":"text","label":"Subject"},{"name":"html","type":"text","label":"Content"},{"name":"attachments","spec":[{"name":"fileName","type":"filename","label":"File name","required":true,"semantic":"file:name"},{"name":"data","type":"buffer","label":"Data","required":true,"semantic":"file:data"},{"name":"cid","type":"text","label":"Content-ID"}],"type":"array","label":"Attachments"},{"name":"cc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Copy recipient"},{"name":"bcc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Blind copy recipient"}],"restore":{"expect":{"cc":{"mode":"chose"},"to":{"mode":"edit"},"bcc":{"mode":"chose"},"attachments":{"mode":"chose"}},"parameters":{"account":{"data":{"scoped":"true","connection":"google-restricted"},"label":"Krāv Gmail Connection (chris@kravtofly.com)"}}},"designer":{"x":2400,"y":0},"parameters":[{"name":"account","type":"account:google-restricted","label":"Connection","required":true}]},"parameters":{"account":4397255}},{"id":21,"mapper":{"key":"{{2.object.id}}","data":{"Processed At":"{{now}}","Stripe Checkout Session ID":"{{2.object.id}}"},"upsert":true,"overwriteArrays":false},"module":"datastore:UpdateRecord","version":1,"metadata":{"expect":[{"name":"key","type":"text","label":"Key","required":true},{"name":"upsert","type":"boolean","label":"Insert missing record","required":true},{"name":"overwriteArrays","type":"boolean","label":"Overwrite an existing array in the record","required":true},{"name":"data","spec":[{"name":"Stripe Checkout Session ID","type":"text","label":null},{"name":"Processed At","type":"date","label":null}],"type":"collection","label":"Record"}],"restore":{"expect":{"upsert":{"mode":"chose"},"overwriteArrays":{"mode":"chose"}},"parameters":{"datastore":{"label":"ProcessedCheckoutSessions"}}},"designer":{"x":2700,"y":0},"parameters":[{"name":"datastore","type":"datastore","label":"Data store","required":true}]},"parameters":{"datastore":54932}},{"id":23,"mapper":{"body":"{\"ok\":true}","status":"200","headers":[]},"module":"gateway:WebhookRespond","version":1,"metadata":{"expect":[{"name":"status","type":"uinteger","label":"Status","required":true,"validate":{"min":100}},{"name":"body","type":"any","label":"Body"},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key","required":true,"validate":{"max":256}},{"name":"value","type":"text","label":"Value","required":true,"validate":{"max":4096}}],"type":"array","label":"Custom headers","validate":{"maxItems":16}}],"restore":{"expect":{"headers":{"mode":"chose"}}},"designer":{"x":3000,"y":0}},"parameters":{}}]},{"flow":[{"id":12,"filter":{"name":"Quick Review","conditions":[[{"a":"{{6.data.offer_type}}","b":"quick","o":"text:equal"}]]},"mapper":{"cc":[],"to":"{{2.object.customer_details.email}}","bcc":[],"from":"","html":"<div style=\"font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif; color:#0b0b0b; line-height:1.55; max-width:640px;\">\n  <p>Hi {{ifempty(2.object.customer_details.name; 2.object.customer_details.email)}},</p>\n\n  <p>Thanks for your purchase! Your <strong>Quick Video Review</strong> with <strong>{{6.data.coach_name}}</strong> is ready to go.</p>\n\n  <p>Click the button below to securely upload your video and add a brief note about what you’re working on.</p>\n\n  <p style=\"margin: 24px 0;\">\n    <a href=\"https://www.kravtofly.com/upload?order={{4.orderId}}&token={{4.uploadToken}}&owner_name={{encodeURL(ifempty(2.object.customer_details.name; 2.object.customer_details.email))}}&owner_email={{encodeURL(2.object.customer_details.email)}}&coach={{encodeURL(6.data.coach_name)}}\"\n       style=\"display:inline-block; padding:12px 18px; background:#111827; color:#ffffff; text-decoration:none; border-radius:8px; font-weight:600;\">\n      Upload Video\n    </a>\n  </p>\n\n  <p><strong>What happens next</strong></p>\n  <ul>\n    <li>Your coach watches the clip and leaves time-stamped notes (and short audio when helpful).</li>\n    <li>We’ll email you when feedback is ready. Typical turnaround: 2–3 business days.</li>\n  </ul>\n\n  <p style=\"font-size:13px; color:#4b5563;\">\n    Link expires: {{4.tokenExpiresAt}}. Please don’t share this link—it's tied to your order.\n  </p>\n\n  <p style=\"margin-top:28px;\">Blue skies,<br>Krāv</p>\n\n  <hr style=\"border:none; border-top:1px solid #e5e7eb; margin:20px 0;\">\n  <p style=\"font-size:12px; color:#6b7280;\">\n    Need help? Reply to this email and include your Order ID: <code>{{4.orderId}}</code>.\n  </p>\n</div>\n","subject":"You're all set — upload your video for {{6.data.coach_name}}","attachments":[]},"module":"google-email:ActionSendEmail","version":2,"metadata":{"expect":[{"name":"from","type":"text","label":"From"},{"name":"to","spec":{"name":"value","type":"email","label":"Email address","required":true},"type":"array","label":"To","required":true},{"name":"subject","type":"text","label":"Subject"},{"name":"html","type":"text","label":"Content"},{"name":"attachments","spec":[{"name":"fileName","type":"filename","label":"File name","required":true,"semantic":"file:name"},{"name":"data","type":"buffer","label":"Data","required":true,"semantic":"file:data"},{"name":"cid","type":"text","label":"Content-ID"}],"type":"array","label":"Attachments"},{"name":"cc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Copy recipient"},{"name":"bcc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Blind copy recipient"}],"restore":{"expect":{"cc":{"mode":"chose"},"to":{"mode":"edit"},"bcc":{"mode":"chose"},"attachments":{"mode":"chose"}},"parameters":{"account":{"data":{"scoped":"true","connection":"google-restricted"},"label":"Krāv Gmail Connection (chris@kravtofly.com)"}}},"designer":{"x":2400,"y":300},"parameters":[{"name":"account","type":"account:google-restricted","label":"Connection","required":true}]},"parameters":{"account":4397255}},{"id":22,"mapper":{"key":"{{2.object.id}}","data":{"Processed At":"{{now}}","Stripe Checkout Session ID":"{{2.object.id}}"},"upsert":true,"overwriteArrays":false},"module":"datastore:UpdateRecord","version":1,"metadata":{"expect":[{"name":"key","type":"text","label":"Key","required":true},{"name":"upsert","type":"boolean","label":"Insert missing record","required":true},{"name":"overwriteArrays","type":"boolean","label":"Overwrite an existing array in the record","required":true},{"name":"data","spec":[{"name":"Stripe Checkout Session ID","type":"text","label":null},{"name":"Processed At","type":"date","label":null}],"type":"collection","label":"Record"}],"restore":{"expect":{"upsert":{"mode":"chose"},"overwriteArrays":{"mode":"chose"}},"parameters":{"datastore":{"label":"ProcessedCheckoutSessions"}}},"designer":{"x":2700,"y":300},"parameters":[{"name":"datastore","type":"datastore","label":"Data store","required":true}]},"parameters":{"datastore":54932}},{"id":24,"mapper":{"body":"{\"ok\":true}","status":"200","headers":[]},"module":"gateway:WebhookRespond","version":1,"metadata":{"expect":[{"name":"status","type":"uinteger","label":"Status","required":true,"validate":{"min":100}},{"name":"body","type":"any","label":"Body"},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key","required":true,"validate":{"max":256}},{"name":"value","type":"text","label":"Value","required":true,"validate":{"max":4096}}],"type":"array","label":"Custom headers","validate":{"maxItems":16}}],"restore":{"expect":{"headers":{"mode":"chose"}}},"designer":{"x":3000,"y":300}},"parameters":{}}]}],"version":1,"metadata":{"designer":{"x":2100,"y":150}}}]},{"flow":[{"id":19,"filter":{"name":"DUPLICATE → STOP","conditions":[[{"a":"{{18.`__IMTLENGTH__`}}","b":"0","o":"time:greater"}]]},"mapper":{"body":"{\"ok\":true,\"skipped\":true,\"reason\":\"duplicate\"}","status":"200","headers":[]},"module":"gateway:WebhookRespond","version":1,"metadata":{"expect":[{"name":"status","type":"uinteger","label":"Status","required":true,"validate":{"min":100}},{"name":"body","type":"any","label":"Body"},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key","required":true,"validate":{"max":256}},{"name":"value","type":"text","label":"Value","required":true,"validate":{"max":4096}}],"type":"array","label":"Custom headers","validate":{"maxItems":16}}],"restore":{"expect":{"headers":{"mode":"chose"}}},"designer":{"x":1500,"y":900}},"parameters":{}}]}],"version":1,"metadata":{"designer":{"x":1200,"y":450}}}]},{"flow":[{"id":14,"filter":{"name":"Skip Everything Else","conditions":[]},"mapper":{"body":"{\"ok\":true,\"skipped\":true,\"reason\":\"ignored_event\"}","status":"200","headers":[]},"module":"gateway:WebhookRespond","version":1,"metadata":{"expect":[{"name":"status","type":"uinteger","label":"Status","required":true,"validate":{"min":100}},{"name":"body","type":"any","label":"Body"},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key","required":true,"validate":{"max":256}},{"name":"value","type":"text","label":"Value","required":true,"validate":{"max":4096}}],"type":"array","label":"Custom headers","validate":{"maxItems":16}}],"restore":{"expect":{"headers":{"mode":"chose"}}},"designer":{"x":600,"y":1200}},"parameters":{}}]}],"version":1,"metadata":{"designer":{"x":300,"y":600}},"parameters":{"else":1}}],"name":"Stripe → Create Review Order + Email Secure Upload Link","metadata":{"instant":true,"version":1,"designer":{"orphans":[],"samples":{"2":{"raw":{"id":"evt_1SKPbzJ83k5LEyXmD6HsAlow","data":{"object":{"id":"cs_live_b1b6BKBZwjDv8NbW6ViOngiwI5hztCCZiYNF07jut3TWTdXt4hVCL9DefJ","url":null,"mode":"payment","locale":"auto","object":"checkout.session","status":"complete","consent":null,"created":1760991757,"invoice":null,"ui_mode":"hosted","currency":"usd","customer":null,"livemode":true,"metadata":{},"discounts":[{"coupon":null,"promotion_code":"promo_1SJbf3J83k5LEyXmcWj11gfN"}],"cancel_url":"https://stripe.com","expires_at":1761078157,"custom_text":{"submit":null,"after_submit":null,"shipping_address":null,"terms_of_service_acceptance":null},"permissions":null,"submit_type":"auto","success_url":"https://stripe.com","amount_total":0,"payment_link":"plink_1SJbboJ83k5LEyXmH3m8QoYy","setup_intent":null,"subscription":null,"automatic_tax":{"status":null,"enabled":false,"provider":null,"liability":null},"client_secret":null,"custom_fields":[{"key":"name","text":{"value":"Tonya Fikes","default_value":null,"maximum_length":null,"minimum_length":null},"type":"text","label":{"type":"custom","custom":"Name"},"optional":false}],"shipping_cost":null,"total_details":{"amount_tax":0,"amount_discount":3500,"amount_shipping":0},"customer_email":null,"origin_context":null,"payment_intent":null,"payment_status":"paid","recovered_from":null,"wallet_options":null,"amount_subtotal":3500,"adaptive_pricing":{"enabled":true},"after_expiration":null,"customer_details":{"name":null,"email":"tonyafikes@gmail.com","phone":null,"address":null,"tax_ids":[],"tax_exempt":"none","business_name":null,"individual_name":null},"invoice_creation":{"enabled":false,"invoice_data":{"footer":null,"issuer":null,"metadata":{},"description":null,"custom_fields":null,"account_tax_ids":null,"rendering_options":null}},"shipping_details":null,"shipping_options":[],"customer_creation":"if_required","consent_collection":{"promotions":"none","terms_of_service":"none","payment_method_reuse_agreement":null},"client_reference_id":null,"currency_conversion":null,"payment_method_types":["card"],"allow_promotion_codes":true,"collected_information":null,"payment_method_options":{"card":{"request_three_d_secure":"automatic"}},"phone_number_collection":{"enabled":false},"payment_method_collection":"if_required","billing_address_collection":"auto","shipping_address_collection":null,"saved_payment_method_options":null,"payment_method_configuration_details":{"id":"pmc_1KdMOGJ83k5LEyXmCVFAula5","parent":null}}},"type":"checkout.session.completed","object":"event","created":1760991802,"request":{"id":null,"idempotency_key":null},"livemode":true,"api_version":"2023-10-16","pending_webhooks":8},"object":{"id":"cs_live_b1b6BKBZwjDv8NbW6ViOngiwI5hztCCZiYNF07jut3TWTdXt4hVCL9DefJ","url":null,"mode":"payment","locale":"auto","object":"checkout.session","status":"complete","consent":null,"created":1760991757,"invoice":null,"ui_mode":"hosted","currency":"usd","customer":null,"livemode":true,"metadata":{},"discounts":[{"coupon":null,"promotion_code":"promo_1SJbf3J83k5LEyXmcWj11gfN"}],"cancel_url":"https://stripe.com","expires_at":1761078157,"custom_text":{"submit":null,"after_submit":null,"shipping_address":null,"terms_of_service_acceptance":null},"permissions":null,"submit_type":"auto","success_url":"https://stripe.com","amount_total":0,"payment_link":"plink_1SJbboJ83k5LEyXmH3m8QoYy","setup_intent":null,"subscription":null,"automatic_tax":{"status":null,"enabled":false,"provider":null,"liability":null},"client_secret":null,"custom_fields":[{"key":"name","text":{"value":"Tonya Fikes","default_value":null,"maximum_length":null,"minimum_length":null},"type":"text","label":{"type":"custom","custom":"Name"},"optional":false}],"shipping_cost":null,"total_details":{"amount_tax":0,"amount_discount":3500,"amount_shipping":0},"customer_email":null,"origin_context":null,"payment_intent":null,"payment_status":"paid","recovered_from":null,"wallet_options":null,"amount_subtotal":3500,"adaptive_pricing":{"enabled":true},"after_expiration":null,"customer_details":{"name":null,"email":"tonyafikes@gmail.com","phone":null,"address":null,"tax_ids":[],"tax_exempt":"none","business_name":null,"individual_name":null},"invoice_creation":{"enabled":false,"invoice_data":{"footer":null,"issuer":null,"metadata":{},"description":null,"custom_fields":null,"account_tax_ids":null,"rendering_options":null}},"shipping_details":null,"shipping_options":[],"customer_creation":"if_required","consent_collection":{"promotions":"none","terms_of_service":"none","payment_method_reuse_agreement":null},"client_reference_id":null,"currency_conversion":null,"payment_method_types":["card"],"allow_promotion_codes":true,"collected_information":null,"payment_method_options":{"card":{"request_three_d_secure":"automatic"}},"phone_number_collection":{"enabled":false},"payment_method_collection":"if_required","billing_address_collection":"auto","shipping_address_collection":null,"saved_payment_method_options":null,"payment_method_configuration_details":{"id":"pmc_1KdMOGJ83k5LEyXmCVFAula5","parent":null}},"created":"2025-10-20T20:23:22.000Z","event_id":"evt_1SKPbzJ83k5LEyXmD6HsAlow","event_type":"checkout.session.completed"},"4":{"orderId":"9055cabd-fbff-479f-88c7-2bed0563a5e2","uploadToken":"d18eb26c-fec9-4d5a-8ada-b0f67566a5e0","tokenExpiresAt":"2025-11-03T20:27:12.140Z"},"6":{"key":"89cfd4dc308e","data":{"coach_id":"68eec953135e994ea153f0d7","coach_name":"Danny Cordido","offer_type":"quick","coach_email":"cordidod@gmail.com","price_cents":0,"payment_link_id":"plink_1SJbboJ83k5LEyXmH3m8QoYy"},"__IMTINDEX__":1,"__IMTLENGTH__":1},"7":{"id":"abf7f6b4-9f94-40f5-86a4-b622fa413311","status":"paid","coach_id":"68eec953135e994ea153f0d7","currency":"usd","metadata":{},"coach_name":"Danny Cordido","created_at":"2025-10-20T20:23:24.537102+00:00","num_videos":1,"offer_type":"quick","one_on_one":false,"updated_at":"2025-10-20T20:23:24.537102+00:00","coach_email":"cordidod@gmail.com","customer_id":null,"price_cents":0,"scheduled_at":null,"student_name":"Tonya Fikes","upload_token":"adda51cf-d9b7-4e4c-aa8a-cdc727e881e2","student_email":"tonyafikes@gmail.com","terms_version":null,"public_default":true,"reminder_stage":0,"payment_link_id":"plink_1SJbboJ83k5LEyXmH3m8QoYy","last_reminded_at":null,"token_expires_at":"2025-11-03T20:23:24.003+00:00","unit_price_cents":0,"stripe_session_id":null,"terms_accepted_at":null,"checkout_session_id":"cs_live_b1b6BKBZwjDv8NbW6ViOngiwI5hztCCZiYNF07jut3TWTdXt4hVCL9DefJ","one_on_one_price_cents":null,"stripe_payment_intent_id":null},"10":{"messageId":"<e3c608c6-4667-ef16-eeb9-db0a918e7add@kravtofly.com>"},"12":{"messageId":"<3229e39e-080a-5f60-83fe-4a7374248e03@kravtofly.com>"}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}