documents/make-scenarios/27 Oct 2025/SVR • Send Student Magic Link.json
{"flow":[{"id":1,"mapper":{},"module":"gateway:CustomWebHook","version":1,"metadata":{"restore":{"parameters":{"hook":{"data":{"editable":"true"},"label":"svr_student_magic_link"}}},"designer":{"x":0,"y":0},"parameters":[{"name":"hook","type":"hook:gateway-webhook","label":"Webhook","required":true},{"name":"maxResults","type":"number","label":"Maximum number of results"}]},"parameters":{"hook":1421650,"maxResults":1}},{"id":2,"filter":{"name":"Is Magic Link","conditions":[[{"a":"{{1.type}}","b":"svr.student.magic_link","o":"text:equal"}]]},"mapper":{"cc":[],"to":"{{1.email}}","bcc":[],"from":"","html":"<div style=\"font-family:system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;font-size:16px;line-height:1.5\">\n  <p>Hi,</p>\n  <p>Here’s your secure link to view your video reviews:</p>\n  <p style=\"margin:24px 0\">\n    <a href=\"{{1.link}}\" style=\"display:inline-block;padding:12px 18px;text-decoration:none;border-radius:8px;background:#111;color:#fff\">\n      Open My Video\n    </a>\n  </p>\n  <p style=\"font-size:14px;color:#666\">This link expires at {{1.expires_at}}.</p>\n  <p style=\"color:#666\">blue skies,<br>Krāv Coaching</p>\n</div>\n<p style=\"font-size:12px;color:#999\">If the button doesn’t work, copy and paste this link:<br>{{1.link}}</p>\n","subject":"Krāv Video Review Secure Link","attachments":[]},"module":"google-email:ActionSendEmail","version":2,"metadata":{"expect":[{"name":"from","type":"text","label":"From"},{"name":"to","spec":{"name":"value","type":"email","label":"Email address","required":true},"type":"array","label":"To","required":true},{"name":"subject","type":"text","label":"Subject"},{"name":"html","type":"text","label":"Content"},{"name":"attachments","spec":[{"name":"fileName","type":"filename","label":"File name","required":true,"semantic":"file:name"},{"name":"data","type":"buffer","label":"Data","required":true,"semantic":"file:data"},{"name":"cid","type":"text","label":"Content-ID"}],"type":"array","label":"Attachments"},{"name":"cc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Copy recipient"},{"name":"bcc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Blind copy recipient"}],"restore":{"expect":{"cc":{"mode":"chose"},"to":{"mode":"edit"},"bcc":{"mode":"chose"},"attachments":{"mode":"chose"}},"parameters":{"account":{"data":{"scoped":"true","connection":"google-restricted"},"label":"Krāv Gmail Connection (chris@kravtofly.com)"}}},"designer":{"x":300,"y":0},"parameters":[{"name":"account","type":"account:google-restricted","label":"Connection","required":true}]},"parameters":{"account":4397255}},{"id":3,"mapper":{"body":"{ \"ok\": true }","status":"200","headers":[]},"module":"gateway:WebhookRespond","version":1,"metadata":{"expect":[{"name":"status","type":"uinteger","label":"Status","required":true,"validate":{"min":100}},{"name":"body","type":"any","label":"Body"},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key","required":true,"validate":{"max":256}},{"name":"value","type":"text","label":"Value","required":true,"validate":{"max":4096}}],"type":"array","label":"Custom headers","validate":{"maxItems":16}}],"restore":{"expect":{"headers":{"mode":"chose"}}},"designer":{"x":600,"y":0}},"parameters":{}}],"name":"SVR • Send Student Magic Link","metadata":{"instant":true,"version":1,"designer":{"orphans":[],"samples":{"1":{"link":"https://www.kravtofly.com/my-reviews?token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjaHJpc2Zpa2VzQGdtYWlsLmNv...","type":"svr.student.magic_link","email":"chrisfikes@gmail.com","expires_at":"2025-10-07T21:30:11.000Z","idempotency_key":"magic:5fa3d88a-f798-4b16-a348-930ee9f74a8f"},"2":{"messageId":"<9da55e3d-52ae-9c57-408a-226cf01bec13@kravtofly.com>"}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}