documents/make-scenarios/27 Oct 2025/SVR — Notify Coach When Video Is Ready.json
{"flow":[{"id":1,"mapper":{},"module":"supabase:watchEvents","version":1,"metadata":{"restore":{"parameters":{"__IMTHOOK__":{"data":{"editable":"false"},"label":"Updated Supabase Record Webhook"}}},"designer":{"x":0,"y":0},"parameters":[{"name":"__IMTHOOK__","type":"hook:supabase","label":"Webhook","required":true}]},"parameters":{"__IMTHOOK__":1395478}},{"id":4,"filter":{"name":"Status - READY and Notified FALSE","conditions":[[{"a":"{{1.record.status}}","b":"ready","o":"text:equal"},{"a":"{{1.record.notified}}","b":"false","o":"boolean:equal"}]]},"mapper":{"limit":"10","table":"review_orders","search":[[{"a":"id","b":"{{1.record.review_order_id}}","o":"text:eq."}]]},"module":"supabase:searchRows","version":1,"metadata":{"expect":[{"name":"table","type":"select","label":"Table","required":true},{"name":"limit","type":"uinteger","label":"Limit"},{"name":"search","type":"filter","label":"Search criteria","options":{"logic":"and","store":[{"label":"id","value":"id"},{"label":"upload_token","value":"upload_token"},{"label":"token_expires_at","value":"token_expires_at"},{"label":"student_email","value":"student_email"},{"label":"student_name","value":"student_name"},{"label":"coach_id","value":"coach_id"},{"label":"coach_name","value":"coach_name"},{"label":"coach_email","value":"coach_email"},{"label":"currency","value":"currency"},{"label":"unit_price_cents","value":"unit_price_cents"},{"label":"num_videos","value":"num_videos"},{"label":"one_on_one","value":"one_on_one"},{"label":"one_on_one_price_cents","value":"one_on_one_price_cents"},{"label":"scheduled_at","value":"scheduled_at"},{"label":"stripe_session_id","value":"stripe_session_id"},{"label":"stripe_payment_intent_id","value":"stripe_payment_intent_id"},{"label":"status","value":"status"},{"label":"terms_version","value":"terms_version"},{"label":"terms_accepted_at","value":"terms_accepted_at"},{"label":"public_default","value":"public_default"},{"label":"created_at","value":"created_at"},{"label":"updated_at","value":"updated_at"},{"label":"offer_type","value":"offer_type"},{"label":"price_cents","value":"price_cents"},{"label":"payment_link_id","value":"payment_link_id"},{"label":"checkout_session_id","value":"checkout_session_id"},{"label":"customer_id","value":"customer_id"},{"label":"metadata","value":"metadata"}],"operators":[{"label":"Text","options":[{"label":"Equals","value":"text:eq."},{"label":"Does not equal","value":"text:neq."},{"label":"Contains (case sensitive)","value":"text:like."},{"label":"Contains (case insensitive)","value":"text:ilike."}]},{"label":"Numbers","options":[{"label":"Equals","value":"number:eq."},{"label":"Does not equal","value":"number:neq."},{"label":"Greater than","value":"number:gt."},{"label":"Less than","value":"number:lt."},{"label":"Greater than or equal to","value":"number:gte."},{"label":"Less than or equal to","value":"number:lte."}]},{"label":"Date","options":[{"label":"Equals","value":"date:eq."},{"label":"Does not equal","value":"date:neq."},{"label":"Later than","value":"date:gt."},{"label":"Earlier than","value":"date:lt."},{"label":"Later than or equal to","value":"date:gte."},{"label":"Earlier than or equal to","value":"date:lte."}]},{"label":"Boolean","options":[{"label":"Equals","value":"boolean:eq."},{"label":"Does not equal","value":"boolean:neq."}]}]}}],"restore":{"expect":{"table":{"mode":"chose","label":"review_orders","nested":[{"name":"search","type":"filter","label":"Search criteria","options":{"logic":"and","store":[{"label":"id","value":"id"},{"label":"upload_token","value":"upload_token"},{"label":"token_expires_at","value":"token_expires_at"},{"label":"student_email","value":"student_email"},{"label":"student_name","value":"student_name"},{"label":"coach_id","value":"coach_id"},{"label":"coach_name","value":"coach_name"},{"label":"coach_email","value":"coach_email"},{"label":"currency","value":"currency"},{"label":"unit_price_cents","value":"unit_price_cents"},{"label":"num_videos","value":"num_videos"},{"label":"one_on_one","value":"one_on_one"},{"label":"one_on_one_price_cents","value":"one_on_one_price_cents"},{"label":"scheduled_at","value":"scheduled_at"},{"label":"stripe_session_id","value":"stripe_session_id"},{"label":"stripe_payment_intent_id","value":"stripe_payment_intent_id"},{"label":"status","value":"status"},{"label":"terms_version","value":"terms_version"},{"label":"terms_accepted_at","value":"terms_accepted_at"},{"label":"public_default","value":"public_default"},{"label":"created_at","value":"created_at"},{"label":"updated_at","value":"updated_at"},{"label":"offer_type","value":"offer_type"},{"label":"price_cents","value":"price_cents"},{"label":"payment_link_id","value":"payment_link_id"},{"label":"checkout_session_id","value":"checkout_session_id"},{"label":"customer_id","value":"customer_id"},{"label":"metadata","value":"metadata"}],"operators":[{"label":"Text","options":[{"label":"Equals","value":"text:eq."},{"label":"Does not equal","value":"text:neq."},{"label":"Contains (case sensitive)","value":"text:like."},{"label":"Contains (case insensitive)","value":"text:ilike."}]},{"label":"Numbers","options":[{"label":"Equals","value":"number:eq."},{"label":"Does not equal","value":"number:neq."},{"label":"Greater than","value":"number:gt."},{"label":"Less than","value":"number:lt."},{"label":"Greater than or equal to","value":"number:gte."},{"label":"Less than or equal to","value":"number:lte."}]},{"label":"Date","options":[{"label":"Equals","value":"date:eq."},{"label":"Does not equal","value":"date:neq."},{"label":"Later than","value":"date:gt."},{"label":"Earlier than","value":"date:lt."},{"label":"Later than or equal to","value":"date:gte."},{"label":"Earlier than or equal to","value":"date:lte."}]},{"label":"Boolean","options":[{"label":"Equals","value":"boolean:eq."},{"label":"Does not equal","value":"boolean:neq."}]}]}}]}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"supabase"},"label":"Krāv Supabase Connection"}}},"designer":{"x":300,"y":0},"interface":[{"name":"__IMTLENGTH__","type":"uinteger","label":"Total number of bundles"},{"name":"__IMTINDEX__","type":"uinteger","label":"Bundle order position"},{"name":"id","type":"text","label":"id"},{"name":"upload_token","type":"text","label":"upload_token"},{"name":"token_expires_at","type":"text","label":"token_expires_at"},{"name":"student_email","type":"text","label":"student_email"},{"name":"student_name","type":"text","label":"student_name"},{"name":"coach_id","type":"text","label":"coach_id"},{"name":"coach_name","type":"text","label":"coach_name"},{"name":"coach_email","type":"text","label":"coach_email"},{"name":"currency","type":"text","label":"currency"},{"name":"unit_price_cents","type":"number","label":"unit_price_cents"},{"name":"num_videos","type":"number","label":"num_videos"},{"name":"one_on_one","type":"boolean","label":"one_on_one"},{"name":"one_on_one_price_cents","type":"number","label":"one_on_one_price_cents"},{"name":"scheduled_at","type":"text","label":"scheduled_at"},{"name":"stripe_session_id","type":"text","label":"stripe_session_id"},{"name":"stripe_payment_intent_id","type":"text","label":"stripe_payment_intent_id"},{"name":"status","type":"text","label":"status"},{"name":"terms_version","type":"text","label":"terms_version"},{"name":"terms_accepted_at","type":"text","label":"terms_accepted_at"},{"name":"public_default","type":"boolean","label":"public_default"},{"name":"created_at","type":"text","label":"created_at"},{"name":"updated_at","type":"text","label":"updated_at"},{"name":"offer_type","type":"text","label":"offer_type"},{"name":"price_cents","type":"number","label":"price_cents"},{"name":"payment_link_id","type":"text","label":"payment_link_id"},{"name":"checkout_session_id","type":"text","label":"checkout_session_id"},{"name":"customer_id","type":"text","label":"customer_id"},{"name":"metadata","type":"text","label":"metadata"}],"parameters":[{"name":"__IMTCONN__","type":"account:supabase","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":5562690}},{"id":2,"mapper":{"cc":[],"to":"{{4.coach_email}}","bcc":[],"from":"","html":"<p><b>Student:</b> {{1.record.owner_name}} — {{1.record.owner_email}}</p>\n<p><b>Discipline:</b> {{1.record.discipline}}</p>\n<p><b>Description:</b> {{1.record.description}}</p>\n<p><b>What’s going well:</b> {{1.record.working_well}}</p>\n<p><b>Where they’re stuck:</b> {{1.record.struggling}}</p>\n<p><b>Other notes:</b> {{1.record.other_info}}</p>\n<p><b>Watch:</b> <a href=\"www.kravtofly.com/coach-dashboard\">Review Video</a></p>","subject":"New video review request from {{1.record.owner_name}}","attachments":[]},"module":"google-email:ActionSendEmail","version":2,"metadata":{"expect":[{"name":"from","type":"text","label":"From"},{"name":"to","spec":{"name":"value","type":"email","label":"Email address","required":true},"type":"array","label":"To","required":true},{"name":"subject","type":"text","label":"Subject"},{"name":"html","type":"text","label":"Content"},{"name":"attachments","spec":[{"name":"fileName","type":"filename","label":"File name","required":true,"semantic":"file:name"},{"name":"data","type":"buffer","label":"Data","required":true,"semantic":"file:data"},{"name":"cid","type":"text","label":"Content-ID"}],"type":"array","label":"Attachments"},{"name":"cc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Copy recipient"},{"name":"bcc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Blind copy recipient"}],"restore":{"expect":{"cc":{"mode":"chose"},"to":{"mode":"edit"},"bcc":{"mode":"chose"},"attachments":{"mode":"chose"}},"parameters":{"account":{"data":{"scoped":"true","connection":"google-restricted"},"label":"Krāv Gmail Connection (chris@kravtofly.com)"}}},"designer":{"x":600,"y":0},"parameters":[{"name":"account","type":"account:google-restricted","label":"Connection","required":true}]},"parameters":{"account":4397255}},{"id":5,"mapper":{"id":"{{1.record.id}}","table":"videos","notified":true},"module":"supabase:upsertARecord","version":1,"metadata":{"expect":[{"name":"table","type":"select","label":"Table","required":true},{"name":"id","type":"text"},{"name":"owner_id","type":"text"},{"name":"coach_id","type":"text"},{"name":"status","type":"text"},{"name":"mux_asset_id","type":"text"},{"name":"mux_playback_id","type":"text"},{"name":"playback_policy","type":"text"},{"name":"upload_id","type":"text"},{"name":"filename","type":"text"},{"name":"size_bytes","type":"integer"},{"name":"duration_seconds","type":"number"},{"name":"notes","type":"text"},{"name":"created_at","type":"text"},{"name":"asset_id","type":"text"},{"name":"playback_id","type":"text"},{"name":"duration","type":"number"},{"name":"aspect_ratio","type":"text"},{"name":"title","type":"text"},{"name":"updated_at","type":"text"},{"name":"review_order_id","type":"text"},{"name":"owner_email","type":"text"},{"name":"owner_name","type":"text"},{"name":"lab_id","type":"text"},{"name":"week_number","type":"integer"},{"name":"level","type":"text"},{"name":"kind","type":"text"},{"name":"disciplines","type":"text"},{"name":"coach_ref","type":"text"},{"name":"emailed_ready","type":"boolean"},{"name":"description","type":"text"},{"name":"discipline","type":"text"},{"name":"working_well","type":"text"},{"name":"struggling","type":"text"},{"name":"other_info","type":"text"},{"name":"notified","type":"boolean"}],"restore":{"expect":{"table":{"mode":"chose","label":"videos","nested":[{"help":"Defaults to gen_random_uuid(). Note:\nThis is a Primary Key.<pk/>","name":"id","type":"text","label":"id","options":null,"required":false},{"help":"Note:\nThis is a Foreign Key to `profiles.id`.<fk table='profiles' column='id'/>","name":"owner_id","type":"text","label":"owner_id","options":null,"required":false},{"help":"Note:\nThis is a Foreign Key to `profiles.id`.<fk table='profiles' column='id'/>","name":"coach_id","type":"text","label":"coach_id","options":null,"required":false},{"help":"Defaults to uploading. ","name":"status","type":"text","label":"status","options":null,"required":false},{"help":"","name":"mux_asset_id","type":"text","label":"mux_asset_id","options":null,"required":false},{"help":"","name":"mux_playback_id","type":"text","label":"mux_playback_id","options":null,"required":false},{"help":"Defaults to signed. ","name":"playback_policy","type":"text","label":"playback_policy","options":null,"required":false},{"help":"","name":"upload_id","type":"text","label":"upload_id","options":null,"required":false},{"help":"","name":"filename","type":"text","label":"filename","options":null,"required":false},{"help":"","name":"size_bytes","type":"integer","label":"size_bytes","options":null,"required":false},{"help":"","name":"duration_seconds","type":"number","label":"duration_seconds","options":null,"required":false},{"help":"","name":"notes","type":"text","label":"notes","options":null,"required":false},{"help":"Defaults to now(). ","name":"created_at","type":"text","label":"created_at","options":null,"required":false},{"help":"","name":"asset_id","type":"text","label":"asset_id","options":null,"required":false},{"help":"","name":"playback_id","type":"text","label":"playback_id","options":null,"required":false},{"help":"","name":"duration","type":"number","label":"duration","options":null,"required":false},{"help":"","name":"aspect_ratio","type":"text","label":"aspect_ratio","options":null,"required":false},{"help":"","name":"title","type":"text","label":"title","options":null,"required":false},{"help":"Defaults to now(). ","name":"updated_at","type":"text","label":"updated_at","options":null,"required":false},{"help":"Note:\nThis is a Foreign Key to `review_orders.id`.<fk table='review_orders' column='id'/>","name":"review_order_id","type":"text","label":"review_order_id","options":null,"required":false},{"help":"","name":"owner_email","type":"text","label":"owner_email","options":null,"required":false},{"help":"","name":"owner_name","type":"text","label":"owner_name","options":null,"required":false},{"help":"","name":"lab_id","type":"text","label":"lab_id","options":null,"required":false},{"help":"","name":"week_number","type":"integer","label":"week_number","options":null,"required":false},{"help":"","name":"level","type":"text","label":"level","options":null,"required":false},{"help":"","name":"kind","type":"text","label":"kind","options":null,"required":false},{"help":"","name":"disciplines","type":"text","label":"disciplines","options":null,"required":false},{"help":"","name":"coach_ref","type":"text","label":"coach_ref","options":null,"required":false},{"help":"","name":"emailed_ready","type":"boolean","label":"emailed_ready","options":null,"required":false},{"help":"","name":"description","type":"text","label":"description","options":null,"required":false},{"help":"","name":"discipline","type":"text","label":"discipline","options":null,"required":false},{"help":"","name":"working_well","type":"text","label":"working_well","options":null,"required":false},{"help":"","name":"struggling","type":"text","label":"struggling","options":null,"required":false},{"help":"","name":"other_info","type":"text","label":"other_info","options":null,"required":false},{"help":"","name":"notified","type":"boolean","label":"notified","options":null,"required":false}]},"notified":{"mode":"chose"},"emailed_ready":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"supabase"},"label":"Krāv Supabase Connection"}}},"designer":{"x":900,"y":0},"interface":[{"name":"id","type":"text","label":"id"},{"name":"owner_id","type":"text","label":"owner_id"},{"name":"coach_id","type":"text","label":"coach_id"},{"name":"status","type":"text","label":"status"},{"name":"mux_asset_id","type":"text","label":"mux_asset_id"},{"name":"mux_playback_id","type":"text","label":"mux_playback_id"},{"name":"playback_policy","type":"text","label":"playback_policy"},{"name":"upload_id","type":"text","label":"upload_id"},{"name":"filename","type":"text","label":"filename"},{"name":"size_bytes","type":"number","label":"size_bytes"},{"name":"duration_seconds","type":"text","label":"duration_seconds"},{"name":"notes","type":"text","label":"notes"},{"name":"created_at","type":"text","label":"created_at"},{"name":"asset_id","type":"text","label":"asset_id"},{"name":"playback_id","type":"text","label":"playback_id"},{"name":"duration","type":"text","label":"duration"},{"name":"aspect_ratio","type":"text","label":"aspect_ratio"},{"name":"title","type":"text","label":"title"},{"name":"updated_at","type":"text","label":"updated_at"},{"name":"review_order_id","type":"text","label":"review_order_id"},{"name":"owner_email","type":"text","label":"owner_email"},{"name":"owner_name","type":"text","label":"owner_name"},{"name":"lab_id","type":"text","label":"lab_id"},{"name":"week_number","type":"number","label":"week_number"},{"name":"level","type":"text","label":"level"},{"name":"kind","type":"text","label":"kind"},{"name":"disciplines","type":"text","label":"disciplines"},{"name":"coach_ref","type":"text","label":"coach_ref"},{"name":"emailed_ready","type":"boolean","label":"emailed_ready"},{"name":"description","type":"text","label":"description"},{"name":"discipline","type":"text","label":"discipline"},{"name":"working_well","type":"text","label":"working_well"},{"name":"struggling","type":"text","label":"struggling"},{"name":"other_info","type":"text","label":"other_info"},{"name":"notified","type":"boolean","label":"notified"}],"parameters":[{"name":"__IMTCONN__","type":"account:supabase","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":5562690}}],"name":"SVR — Notify Coach When Video Is Ready","metadata":{"instant":true,"version":1,"designer":{"orphans":[],"samples":{"1":{"type":"UPDATE","table":"videos","record":{"id":"912186b8-554b-4cba-84d5-4d7a0adb2f8c","kind":"review","level":null,"notes":null,"title":"leading an angle.mov","lab_id":null,"status":"ready","asset_id":"uumeqDPW3RplVA02AVX2KuEojHPLCWVfsnAt3uFZl2Pw","coach_id":null,"duration":null,"filename":"leading an angle.mov","notified":false,"owner_id":null,"coach_ref":"Chris Fikes","upload_id":"cmUuPLHMmQe8PKrOC9qHWhrAPPFoSRAyDKXvntmULOY","created_at":"2025-09-30T00:04:18.961497+00:00","discipline":null,"other_info":null,"owner_name":"Barry Bonds","size_bytes":null,"struggling":null,"updated_at":"2025-09-30T15:48:47.51188+00:00","description":null,"disciplines":[],"owner_email":"chrisfikes@gmail.com","playback_id":"00p5IcyQyuvF011QlJ01dCoQkdrILzrHcY99nnV00uvqw3A","week_number":null,"aspect_ratio":null,"mux_asset_id":null,"working_well":null,"emailed_ready":false,"mux_playback_id":null,"playback_policy":"signed","review_order_id":"6b405216-b310-4730-a32b-a7d6dedb7582","duration_seconds":null},"schema":"public","old_record":{"id":"912186b8-554b-4cba-84d5-4d7a0adb2f8c","kind":"review","level":null,"notes":null,"title":"leading an angle.mov","lab_id":null,"status":"processing","asset_id":"uumeqDPW3RplVA02AVX2KuEojHPLCWVfsnAt3uFZl2Pw","coach_id":null,"duration":null,"filename":"leading an angle.mov","notified":false,"owner_id":null,"coach_ref":"Chris Fikes","upload_id":"cmUuPLHMmQe8PKrOC9qHWhrAPPFoSRAyDKXvntmULOY","created_at":"2025-09-30T00:04:18.961497+00:00","discipline":null,"other_info":null,"owner_name":"Barry Bonds","size_bytes":null,"struggling":null,"updated_at":"2025-09-30T15:12:12.198601+00:00","description":null,"disciplines":[],"owner_email":"chrisfikes@gmail.com","playback_id":"00p5IcyQyuvF011QlJ01dCoQkdrILzrHcY99nnV00uvqw3A","week_number":null,"aspect_ratio":null,"mux_asset_id":null,"working_well":null,"emailed_ready":false,"mux_playback_id":null,"playback_policy":"signed","review_order_id":"6b405216-b310-4730-a32b-a7d6dedb7582","duration_seconds":null}},"2":{"messageId":"<71e8111a-a4a0-2045-7ab8-a40cfc3d6c8a@kravtofly.com>"}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}