documents/make-scenarios/27 Oct 2025/SVR • Review Completed → Email Student.json
{"flow":[{"id":1,"mapper":{},"module":"gateway:CustomWebHook","version":1,"metadata":{"restore":{"parameters":{"hook":{"data":{"editable":"true"},"label":"svr_review_completed"}}},"designer":{"x":0,"y":450},"parameters":[{"name":"hook","type":"hook:gateway-webhook","label":"Webhook","required":true},{"name":"maxResults","type":"number","label":"Maximum number of results"}]},"parameters":{"hook":1420331,"maxResults":1}},{"id":2,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":3,"filter":{"name":"Valid Review Completed","conditions":[[{"a":"{{1.type}}","b":"svr.review.completed","o":"text:equal"},{"a":"{{1.student.email}}","o":"exist"},{"a":"{{1.links.student_review_url}}","o":"exist"}]]},"mapper":{"key":"{{1.idempotency_key}}","returnWrapped":false},"module":"datastore:GetRecord","version":1,"metadata":{"expect":[{"name":"key","type":"text","label":"Key","required":true},{"name":"returnWrapped","type":"boolean","label":"Return Wrapped Output","required":true}],"restore":{"parameters":{"datastore":{"label":"SVR_NotificationKeys"}}},"designer":{"x":600,"y":300},"interface":[{"help":"","name":"id","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"videoId","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"reviewOrderId","type":"text","label":null,"default":null,"required":false,"multiline":false},{"help":"","name":"emailedAt","type":"text","label":null,"default":null,"required":false,"multiline":false}],"parameters":[{"name":"datastore","type":"datastore","label":"Data store","required":true}]},"parameters":{"datastore":52536}},{"id":4,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":6,"filter":{"name":"Not Processed - Continue to Email","conditions":[[{"a":"{{`3`}}","o":"notexist"}]]},"mapper":{"cc":[],"to":["{{1.student.email}}","{{1.coach.email}}"],"bcc":[],"from":"","html":"<div style=\"font-family:system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;font-size:16px;line-height:1.5\">\n  <p>Hi {{ifempty(1.student.name; \"there\")}},</p>\n  <p>Your coach {{ifempty(1.coach.name; \"\")}} finished reviewing your video. You can use the link below to view your video and see all of your coach's feedback attached as time-stamped comments.</p>\n  \n  <a href=\"{{1.links.student_review_url}}\">{{1.video.title}}</a>\n  \n  <p><strong>Coach’s summary:</strong><br>{{1.review.summary}}</p>\n  <p style=\"color:#666\">blue skies,<br>Krāv Coaching</p>\n</div>\n","subject":"Your Krāv video review is ready. ✅","attachments":[]},"module":"google-email:ActionSendEmail","onerror":[{"id":9,"mapper":{"body":"{\n  \"ok\": false,\n  \"error\": \"email_send_failed\",\n  \"detail\": \"{{6.error.message}}\"\n}","status":"422","headers":[]},"module":"gateway:WebhookRespond","version":1,"metadata":{"expect":[{"name":"status","type":"uinteger","label":"Status","required":true,"validate":{"min":100}},{"name":"body","type":"any","label":"Body"},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key","required":true,"validate":{"max":256}},{"name":"value","type":"text","label":"Value","required":true,"validate":{"max":4096}}],"type":"array","label":"Custom headers","validate":{"maxItems":16}}],"restore":{"expect":{"headers":{"mode":"chose"}}},"designer":{"x":1500,"y":300}},"parameters":{}}],"version":2,"metadata":{"expect":[{"name":"from","type":"text","label":"From"},{"name":"to","spec":{"name":"value","type":"email","label":"Email address","required":true},"type":"array","label":"To","required":true},{"name":"subject","type":"text","label":"Subject"},{"name":"html","type":"text","label":"Content"},{"name":"attachments","spec":[{"name":"fileName","type":"filename","label":"File name","required":true,"semantic":"file:name"},{"name":"data","type":"buffer","label":"Data","required":true,"semantic":"file:data"},{"name":"cid","type":"text","label":"Content-ID"}],"type":"array","label":"Attachments"},{"name":"cc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Copy recipient"},{"name":"bcc","spec":{"name":"value","type":"email","label":"Email address"},"type":"array","label":"Blind copy recipient"}],"restore":{"expect":{"cc":{"mode":"chose"},"to":{"mode":"chose","items":[null,null]},"bcc":{"mode":"chose"},"attachments":{"mode":"chose"}},"parameters":{"account":{"data":{"scoped":"true","connection":"google-restricted"},"label":"Krāv Gmail Connection (chris@kravtofly.com)"}}},"designer":{"x":1200,"y":150},"parameters":[{"name":"account","type":"account:google-restricted","label":"Connection","required":true}]},"parameters":{"account":4397255}},{"id":7,"mapper":{"key":"{{1.idempotency_key}}","data":{"id":"{{1.idempotency_key}}","videoId":"{{1.video.id}}","emailedAt":"{{formatDate(now; \"\"\"YYYY-MM-DDTHH:mm:ss'Z'\"\"\")}}","reviewOrderId":"{{1.review_order.id}}"},"upsert":true,"overwriteArrays":false},"module":"datastore:UpdateRecord","version":1,"metadata":{"expect":[{"name":"key","type":"text","label":"Key","required":true},{"name":"upsert","type":"boolean","label":"Insert missing record","required":true},{"name":"overwriteArrays","type":"boolean","label":"Overwrite an existing array in the record","required":true},{"name":"data","spec":[{"name":"id","type":"text","label":null},{"name":"videoId","type":"text","label":null},{"name":"reviewOrderId","type":"text","label":null},{"name":"emailedAt","type":"text","label":null}],"type":"collection","label":"Record"}],"restore":{"expect":{"upsert":{"mode":"chose"},"overwriteArrays":{"mode":"chose"}},"parameters":{"datastore":{"label":"SVR_NotificationKeys"}}},"designer":{"x":1500,"y":0},"parameters":[{"name":"datastore","type":"datastore","label":"Data store","required":true}]},"parameters":{"datastore":52536}},{"id":8,"mapper":{"body":"{\n  \"ok\": true,\n  \"message\": \"Email sent\",\n  \"idempotency_key\": \"{{1.idempotency_key}}\"\n}","status":"200","headers":[]},"module":"gateway:WebhookRespond","version":1,"metadata":{"expect":[{"name":"status","type":"uinteger","label":"Status","required":true,"validate":{"min":100}},{"name":"body","type":"any","label":"Body"},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key","required":true,"validate":{"max":256}},{"name":"value","type":"text","label":"Value","required":true,"validate":{"max":4096}}],"type":"array","label":"Custom headers","validate":{"maxItems":16}}],"restore":{"expect":{"headers":{"mode":"chose"}}},"designer":{"x":1800,"y":0}},"parameters":{}}]},{"flow":[{"id":5,"filter":{"name":"Already Processed","conditions":[[{"a":"{{`3`}}","o":"exist"}]]},"mapper":{"body":"{ \"ok\": true, \"skipped\": true, \"reason\": \"duplicate\" }","status":"200","headers":[]},"module":"gateway:WebhookRespond","version":1,"metadata":{"expect":[{"name":"status","type":"uinteger","label":"Status","required":true,"validate":{"min":100}},{"name":"body","type":"any","label":"Body"},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key","required":true,"validate":{"max":256}},{"name":"value","type":"text","label":"Value","required":true,"validate":{"max":4096}}],"type":"array","label":"Custom headers","validate":{"maxItems":16}}],"restore":{"expect":{"headers":{"mode":"chose"}}},"designer":{"x":1200,"y":600}},"parameters":{}}]}],"version":1,"metadata":{"designer":{"x":900,"y":300}}}]},{"flow":[{"id":10,"filter":{"name":"Duplicate/Invalid","conditions":[]},"mapper":{"body":"{ \"ok\": false, \"error\": \"invalid_payload\" }","status":"400","headers":[]},"module":"gateway:WebhookRespond","version":1,"metadata":{"expect":[{"name":"status","type":"uinteger","label":"Status","required":true,"validate":{"min":100}},{"name":"body","type":"any","label":"Body"},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key","required":true,"validate":{"max":256}},{"name":"value","type":"text","label":"Value","required":true,"validate":{"max":4096}}],"type":"array","label":"Custom headers","validate":{"maxItems":16}}],"restore":{"expect":{"headers":{"mode":"chose"}}},"designer":{"x":600,"y":900}},"parameters":{}}]}],"version":1,"metadata":{"designer":{"x":300,"y":450}}}],"name":"SVR • Review Completed → Email Student","metadata":{"instant":true,"version":1,"designer":{"orphans":[],"samples":{"1":{"type":"svr.review.completed","coach":{"id":"","name":"","email":"chrisfikes@gmail.com"},"links":{"student_review_url":"https://student-video-repo.vercel.app/student/review?vid=675d643b-39b8-4cbc-ab50-1a693361108f"},"video":{"id":"675d643b-39b8-4cbc-ab50-1a693361108f","title":"Adam & Chris Belly Exit TEST.mov","mux_playback_id":"DLqTSqAX76CAdJjK2GYoxqKX5VHD6UJH5tz3LJ3t8Zg"},"review":{"summary":null,"timestamped_notes":[]},"student":{"id":null,"name":"","email":"chrisfikes@gmail.com"},"review_order":{"id":"194a60dc-1265-43d6-8fa2-eedc73fa339d","status":"reviewed"},"idempotency_key":"video:675d643b-39b8-4cbc-ab50-1a693361108f"},"6":{"messageId":"<61c3b90f-9a51-a398-9d0b-2a93684d8160@kravtofly.com>"},"7":{"key":"video:675d643b-39b8-4cbc-ab50-1a693361108f"}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}}